Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config_tools: remove some useless tags in hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
Owners: @terryzouhao, @NanlinXie

config_tools: add a new entry MAX_EFI_MMAP_ENTRIES
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: nested: redundant permission check on nested_vmentry()
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

config_tools: remove some tags check for scenario.xml in generic_board folder
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: update kernel type
  boards/v2.6/0014-config_tools-update-kernel-type.patch
Owners: @anthonyzxu, @dongyaozu

hv: initialize the XSAVE related processor state for guest
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

ACRN:DM: Fix the Null pointer error
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

ACRN:DM: Fix the Null pointer error
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

config_tools: fix UI issue of creating new settings
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix UI issue of creating new settings
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

hv: use ARRAY_SIZE to calc local array size
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

hv: expose PMC to core partition VM
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: change kernel type for zephyr image
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/asm/vm_config.h
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: refine vm_sw_loader API
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: Change hybrid.xml default zephyr config to KERNEL_ELF
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
Owners: @terryzouhao, @NanlinXie

HV: vm_load: rename vboot_info.h to vboot.h
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/boot/guest/rawimage_loader.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/guest/vboot.h
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: Add elf header file for elf loader
  hypervisor/boot/include/elf.h
Owners: @anthonyzxu, @dongyaozu

HV: Combine the acpi loading fucntion to one place
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/boot/guest/rawimage_loader.c
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

config-tool: refine guest kernel types
  hypervisor/include/arch/x86/asm/vm_config.h
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

HV: Remove 'vm_' of vm_elf_loader and etc.
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/boot/guest/rawimage_loader.c
  hypervisor/boot/include/guest/vboot.h
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: split vm_load.c to support diff kernel format
  hypervisor/Makefile
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/boot/guest/rawimage_loader.c
  hypervisor/boot/include/guest/vboot_info.h
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: Add implements of 32bit and 64bit elf loader
  hypervisor/boot/guest/elf_loader.c
Owners: @anthonyzxu, @dongyaozu

HV: Add elf loader sketch
  hypervisor/Makefile
  hypervisor/boot/guest/elf_loader.c
  hypervisor/boot/include/guest/vboot.h
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: Correct some naming issues
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/boot/guest/rawimage_loader.c
Owners: @anthonyzxu, @dongyaozu

board_inspector: add _CID to vACPI device objects
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @terryzouhao, @NanlinXie

config_tools: fix the issue that fail to generate launch script
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

doc: add acrn-dm parameter emul explanation
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

ACRN:DM: Fix the Null pointer error
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

config_tools: fix the issue that fail to generate launch script
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

hv: emulate IA32_EFER and adjust Load EFER VMX controls
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
Owners: @anthonyzxu, @dongyaozu

doc: update configuration tool names
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: disable TPM2 passthrough on other platforms
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
Owners: @terryzouhao, @NanlinXie

ACRN:DM: Fix the Null pointer error
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

config_tools: rename python script
  misc/config_tools/board_inspector/README
  misc/config_tools/board_inspector/board_inspector.py
  misc/config_tools/config_app/acrn_configurator.py
Owners: @terryzouhao, @NanlinXie

config_tools: update lpc slot number in script
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

hv: Change sched_event structure to resolve data race in event handling
  hypervisor/common/event.c
  hypervisor/include/common/event.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: redundant permission check on nested_vmentry()
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update vTPM2 revision to 4
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

config_tools: add a new entry MAX_EFI_MMAP_ENTRIES
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: add a new entry MAX_EFI_MMAP_ENTRIES
  boards/v2.6/0015-config_tools-add-a-new-entry-MAX_EFI_MMAP_ENTRIES.patch
Owners: @anthonyzxu, @dongyaozu
