Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv: TLFS: inject #GP to guest VM for writing of read-only MSRs
  hypervisor/arch/x86/guest/hyperv.c
Owners: @anthonyzxu, @dongyaozu

hv: TLFS: Add tsc_offset support for reference time
  hypervisor/arch/x86/guest/hyperv.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/guest/hyperv.h
Owners: @anthonyzxu, @dongyaozu

hv: Save/restore MSR_IA32_CSTAR during context switch
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/cpu.h
Owners: @anthonyzxu, @dongyaozu

doc: tweaks for latexpdf build
  doc/Makefile
  doc/developer-guides/hld/hv-partitionmode.rst
  doc/developer-guides/hld/virtio-blk.rst
  doc/tutorials/trustyACRN.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

acrn-config: add adl-rvp xml
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/adl-rvp/industry.xml
Owners: @terryzouhao, @NanlinXie

hv: bugfix in min() and max() MACROs
  hypervisor/include/lib/util.h
Owners: @anthonyzxu, @dongyaozu

hv: TLFS: Add tsc_offset support for reference time
  hypervisor/arch/x86/guest/hyperv.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/guest/hyperv.h
Owners: @anthonyzxu, @dongyaozu

hv: TLFS: inject #GP to guest VM for writing of read-only MSRs
  hypervisor/arch/x86/guest/hyperv.c
Owners: @anthonyzxu, @dongyaozu

hv: TLFS: Setup hypercall page according to the vcpu mode
  hypervisor/arch/x86/guest/hyperv.c
Owners: @anthonyzxu, @dongyaozu

hv: Save/restore MSR_IA32_CSTAR during context switch
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/cpu.h
Owners: @anthonyzxu, @dongyaozu

config_tools: update IVSHMEM_SHM_SIZE part for HV_RAM_SIZE calculation
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/static_allocators/hv_ram.py
Owners: @terryzouhao, @NanlinXie

config_tools: update IVSHMEM_SHM_SIZE part for HV_RAM_SIZE calculation
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/static_allocators/hv_ram.py
Owners: @terryzouhao, @NanlinXie

OVMF temporary release
  devicemodel/bios/MD5SUM_ovmf
  devicemodel/bios/OVMF.fd
  devicemodel/bios/OVMF_CODE.fd
  devicemodel/bios/OVMF_CODE_debug.fd
  devicemodel/bios/OVMF_debug.fd
  devicemodel/bios/SHA512SUM_ovmf
Owners: @anthonyzxu, @ywan170

hv: enable uart=bdf@ for PCI serial ports which bar0 is not MMIO
  hypervisor/debug/uart16550.c
Owners: @anthonyzxu, @dongyaozu

doc: clean up PDF generation for ACRN docs
  doc/.known-issues/doc/pdf.conf
  doc/Makefile
  doc/conf.py
  doc/scripts/pullsource.sh
  doc/scripts/show-versions.py
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: clean up PDF generation for ACRN docs
  doc/.known-issues/doc/pdf.conf
  doc/Makefile
  doc/conf.py
  doc/scripts/pullsource.sh
  doc/scripts/show-versions.py
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: mmu: fix a minor bug
  hypervisor/arch/x86/mmu.c
Owners: @anthonyzxu, @dongyaozu

dm: bugfix in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

doc: tweak known-issues for PDF processing
  doc/.known-issues/doc/pdf.conf
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweak known-issues for PDF processing
  doc/.known-issues/doc/pdf.conf
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: bugfix in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

doc: fix malformed code block in acrn config docs
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix malformed code block in acrn config docs
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: bugfix in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

hv: enable uart=bdf@ for PCI serial ports which bar0 is not MMIO
  hypervisor/debug/uart16550.c
Owners: @anthonyzxu, @dongyaozu

hv: mmu: fix a minor bug
  hypervisor/arch/x86/mmu.c
Owners: @anthonyzxu, @dongyaozu

dm: bugfix in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

doc: fix missing codeblock directive
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix missing codeblock directive
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add note to emphasize the need to use --windows for WaaG
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add note to emphasize the need to use --windows for WaaG
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: replace <guest_flag/> with <guest_flag>
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

config-tools: add user-defined errors
  misc/config_tools/static_allocators/lib/error.py
Owners: @terryzouhao, @NanlinXie

config-tools: add lib.py to static_allocators/lib
  misc/config_tools/static_allocators/lib/lib.py
Owners: @terryzouhao, @NanlinXie

config-tools: add lib.xsl to config_tools/xforms
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add the ivshmem_cfg.h.xsl
  misc/config_tools/xforms/ivshmem_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add the misc_cfg.h.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: introduce xslt transform and clang-format in genconf.sh
  .clang-format
  hypervisor/scripts/genconf.sh
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

config-tools: add the vm_configurations.h.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add the vm_configurations.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
