Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

board_inspector: add a visitor to generate AML binary from trees
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: also try /usr/share/pci.ids.gz for PCI ID lookup
  misc/config_tools/board_inspector/extractors/80-lookup.py
Owners: @terryzouhao, @NanlinXie

config_tools: allocate interrupt lines among VMs
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/pt_intx.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

board_inspector: extend DSDT parser to allow parsing arbitrary trees
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add conversion to hex string from buffer fields
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
Owners: @terryzouhao, @NanlinXie

board_inspector: Access I/O registers on-demand and properly
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

config_tools: abstract BusDevFunc to the common library module
  misc/config_tools/static_allocators/bdf.py
  misc/config_tools/static_allocators/gpa.py
  misc/config_tools/static_allocators/lib/lib.py
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

board_inspector: resume a device if it is not in D0
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/pcieparser/caps.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add object_type codes in Decls
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: adjust logging levels
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

board_inspector: more verbose messages
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
Owners: @terryzouhao, @NanlinXie

board_inspector: interpret DefDivide in DSDT/SSDT
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: extract Compatible IDs of devices
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add GPIO and generic serial connection parsers
  misc/config_tools/board_inspector/acpiparser/rdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: check if BAR base is 0
  misc/config_tools/board_inspector/extractors/60-pci.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add builders of AML AST nodes
  misc/config_tools/board_inspector/acpiparser/aml/builder.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: fix unregisteration of conditionally disabled objects
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
Owners: @terryzouhao, @NanlinXie

board_inspector: allow ConstObj to be used as a TermObj
  misc/config_tools/board_inspector/acpiparser/aml/grammar.py
Owners: @terryzouhao, @NanlinXie

board_inspector: collect descriptions of ACPI devices
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

config_tools: adjust the layout of vACPI images
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @terryzouhao, @NanlinXie

board_inspector: always defer parsing of method bodies
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: skip visiting DefMethod properly when unregistering symbols
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
Owners: @terryzouhao, @NanlinXie

board_inspector: scanning all peer root hostbridges in domain 0
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/60-pci.py
Owners: @terryzouhao, @NanlinXie

board_inspector: collect inter-device dependency in board XMLs
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie

board_inspector: return from method call invocation on DefReturn
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: a workaround to an incorrect interpretation
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: refactor tree visitors and transformers
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector/cli: export PATH to the legacy board parser
  misc/config_tools/board_inspector/cli.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove obsolete kconfig files
  hypervisor/Kconfig
  hypervisor/arch/x86/Kconfig
  hypervisor/scripts/makefile/cfg_update.mk
  hypervisor/scripts/makefile/kconfig.mk
  misc/config_tools/README
  misc/config_tools/board_config/board_c.py
  misc/config_tools/kconfig/LICENSE.kconfiglib
  misc/config_tools/kconfig/defconfig.py
  misc/config_tools/kconfig/generate_header.py
  misc/config_tools/kconfig/savedefconfig.py
  misc/config_tools/kconfig/silentoldconfig.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

board-inspector: replace enter_scope with change_scope
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: try mroe type convertions when evaluating branch conditions
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board-inspector: add interpretation of OnesOp, DefMatch and DefSizeOf
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

Makefile:add targz-pkg entry in Makefile
  Makefile
  devicemodel/Makefile
  hypervisor/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170, @dongyaozu

board-inspector: add interpretation of OnesOp, DefMatch and DefSizeOf
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board-inspector: replace enter_scope with change_scope
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: try mroe type convertions when evaluating branch conditions
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

hv: uc-lock: Fix do not trap #GP
  hypervisor/arch/x86/guest/vmcs.c
Owners: @anthonyzxu, @dongyaozu

board-inspector: support buffer assignments and indexing
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
Owners: @terryzouhao, @NanlinXie

board-inspector: use the same _MIN and _MAX for 0-length regions
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

board-inspector: fix the creation of packages
  misc/config_tools/board_inspector/acpiparser/aml/builder.py
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
