Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config-tools: add the pt_intx.c.xsl
  misc/config_tools/xforms/pt_intx.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add pio static allocator
  misc/config_tools/static_allocators/pio.py
Owners: @terryzouhao, @NanlinXie

config-tools: add intx static allocator
  misc/config_tools/static_allocators/intx.py
Owners: @terryzouhao, @NanlinXie

config-tools: refine ivshmem devices in pci_dev_c.py
  misc/config_tools/scenario_config/pci_dev_c.py
Owners: @terryzouhao, @NanlinXie

config-tools: add cpu affinity static allocator
  misc/config_tools/static_allocators/cpu_affinity.py
Owners: @terryzouhao, @NanlinXie

config-tools: refine append_node and add get_node
  misc/config_tools/library/common.py
  misc/config_tools/static_allocators/hv_ram.py
Owners: @terryzouhao, @NanlinXie

config-tools: update the generic_code with xform output
  misc/config_tools/data/generic_board/generic_code/hybrid/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/industry/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/industry/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/industry/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/industry/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/industry/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/industry/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/industry/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/vm_configurations.h
  misc/config_tools/data/generic_board/hybrid.xml
Owners: @terryzouhao, @NanlinXie

doc: add clang-format to setup package list
  doc/getting-started/building-from-source.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add clang-format to setup package list
  doc/getting-started/building-from-source.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

DM: change 64-bit mmio address space to 256G-512G for post-launched VM
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

OVMF temporary release
  devicemodel/bios/MD5SUM_ovmf
  devicemodel/bios/OVMF.fd
  devicemodel/bios/OVMF_CODE.fd
  devicemodel/bios/OVMF_CODE_debug.fd
  devicemodel/bios/OVMF_debug.fd
  devicemodel/bios/SHA512SUM_ovmf
Owners: @anthonyzxu, @ywan170

DM: change high RAM start address to 4GB for post-launched VM
  devicemodel/core/sw_load_common.c
  devicemodel/core/vmmapi.c
  devicemodel/include/sw_load.h
Owners: @anthonyzxu, @ywan170

config-tools: add user-defined errors
  misc/config_tools/static_allocators/lib/error.py
Owners: @terryzouhao, @NanlinXie

config-tools: add pio static allocator
  misc/config_tools/static_allocators/pio.py
Owners: @terryzouhao, @NanlinXie

config-tools: add intx static allocator
  misc/config_tools/static_allocators/intx.py
Owners: @terryzouhao, @NanlinXie

config-tools: add lib.py to static_allocators/lib
  misc/config_tools/static_allocators/lib/lib.py
Owners: @terryzouhao, @NanlinXie

config-tools: refine append_node and add get_node
  misc/config_tools/library/common.py
  misc/config_tools/static_allocators/hv_ram.py
Owners: @terryzouhao, @NanlinXie

config-tools: add the ivshmem_cfg.h.xsl
  misc/config_tools/xforms/ivshmem_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: replace <guest_flag/> with <guest_flag>
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

config-tools: introduce xslt transform and clang-format in genconf.sh
  .clang-format
  hypervisor/scripts/genconf.sh
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

config-tools: add the vm_configurations.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: refine ivshmem devices in pci_dev_c.py
  misc/config_tools/scenario_config/pci_dev_c.py
Owners: @terryzouhao, @NanlinXie

config-tools: add lib.xsl to config_tools/xforms
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add the misc_cfg.h.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add cpu affinity static allocator
  misc/config_tools/static_allocators/cpu_affinity.py
Owners: @terryzouhao, @NanlinXie

config-tools: add the pt_intx.c.xsl
  misc/config_tools/xforms/pt_intx.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: update the generic_code with xform output
  misc/config_tools/data/generic_board/generic_code/hybrid/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/industry/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/industry/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/industry/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/industry/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/industry/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/industry/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/industry/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/vm_configurations.h
  misc/config_tools/data/generic_board/hybrid.xml
Owners: @terryzouhao, @NanlinXie

config-tools: add the vm_configurations.h.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: fix a couple of typos in helper script
  hypervisor/scripts/genconf.sh
Owners: @anthonyzxu, @dongyaozu

doc: update ACRN qemu HV tag to v2.0
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: fix a couple of typos in helper script
  hypervisor/scripts/genconf.sh
Owners: @anthonyzxu, @dongyaozu

config_tools: enable features for default config on tgl-rvp and ehl-crb-b
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
  misc/config_tools/data/ehl-crb-b/sdc_launch_1uos_zephyr.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/industry_launch_1uos_waag.xml
  misc/config_tools/data/tgl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/tgl-rvp/industry_launch_6uos.xml
  misc/config_tools/data/tgl-rvp/sdc_launch_1uos_zephyr.xml
Owners: @terryzouhao, @NanlinXie

config-tools: add white space between arguments
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/industry/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/misc_cfg.h
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

doc: copy edits in the developer reference
  doc/developer-guides/GVT-g-porting.rst
  doc/developer-guides/VBSK-analysis.rst
  doc/developer-guides/asm_coding_guidelines.rst
  doc/developer-guides/c_coding_guidelines.rst
  doc/developer-guides/coding_guidelines.rst
  doc/developer-guides/contribute_guidelines.rst
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/graphviz.rst
  doc/developer-guides/l1tf.rst
  doc/developer-guides/modularity.rst
  doc/developer-guides/sw_design_guidelines.rst
  doc/developer-guides/trusty.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: copy edits in the developer reference
  doc/developer-guides/GVT-g-porting.rst
  doc/developer-guides/VBSK-analysis.rst
  doc/developer-guides/asm_coding_guidelines.rst
  doc/developer-guides/c_coding_guidelines.rst
  doc/developer-guides/coding_guidelines.rst
  doc/developer-guides/contribute_guidelines.rst
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/graphviz.rst
  doc/developer-guides/l1tf.rst
  doc/developer-guides/modularity.rst
  doc/developer-guides/sw_design_guidelines.rst
  doc/developer-guides/trusty.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update ACRN qemu HV tag to v2.0
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: hypercalls: refactor permission-checking and dispatching logic
  doc/developer-guides/hld/hld-security.rst
  doc/developer-guides/hld/hv-hypercall.rst
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/common/trusty_hypercall.c
  hypervisor/debug/hypercall.c
  hypervisor/include/common/hypercall.h
  hypervisor/release/hypercall.c
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

doc: add more details to GSG for the hybrid scenario
  doc/getting-started/rt_industry_ubuntu.rst
  doc/tutorials/images/ACRN-Hybrid.png
  doc/tutorials/images/hybrid_scenario_on_nuc.png
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

acrn-config: fix a build error
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

hv: some coding style fixes
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/rdt.c
  hypervisor/arch/x86/timer.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/dm/vpci/vhostbridge.c
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
