Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

DM: change 64-bit mmio address space to 256G-512G for post-launched VM
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

DM: change high RAM start address to 4GB for post-launched VM
  devicemodel/core/sw_load_common.c
  devicemodel/core/vmmapi.c
  devicemodel/include/sw_load.h
Owners: @anthonyzxu, @ywan170

doc: update doc build instructions
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update doc build instructions
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: update HV_RAM_SIZE calculation algorithm
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/library/common.py
  misc/config_tools/static_allocators/hv_ram.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove audio passthru in launch xmls on ehl-crb-b
  misc/config_tools/data/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update HV_RAM_SIZE calculation algorithm
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/library/common.py
  misc/config_tools/static_allocators/hv_ram.py
Owners: @terryzouhao, @NanlinXie

config-tools: change default industry kata vm id to 7
  misc/config_tools/config_app/views.py
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/industry_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

config_tools: remove audio passthru in launch xmls on ehl-crb-b
  misc/config_tools/data/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

acrn-config: add adl-rvp board xml
  misc/config_tools/data/adl-rvp/adl-rvp.xml
Owners: @terryzouhao, @NanlinXie

doc: make the "logical partitioning" description more generic
  doc/introduction/images/ACRN-Logical-Partition.png
  doc/introduction/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: change default industry kata vm id to 7
  misc/config_tools/config_app/views.py
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/industry_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

hv: vcpuid: hide new cpuid 0x1b/0x1f
  hypervisor/arch/x86/guest/vcpuid.c
Owners: @anthonyzxu, @dongyaozu

hv: memory order: use mfence to strengthen the fast string operations order
  hypervisor/arch/x86/trampoline.c
Owners: @anthonyzxu, @dongyaozu

hv: memory order: use mfence to strengthen the fast string operations order
  hypervisor/arch/x86/trampoline.c
Owners: @anthonyzxu, @dongyaozu

hv: vcpuid: hide new cpuid 0x1b/0x1f
  hypervisor/arch/x86/guest/vcpuid.c
Owners: @anthonyzxu, @dongyaozu

doc/conf.py: enable formatting docs in a PDF file
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: cpu_cap: PAW over 39 bits must support 1GB large page
  hypervisor/arch/x86/cpu_caps.c
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: use new algo to calculate PPT/EPT_PD_PAGE_NUM
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: mmu: remove get_mem_range_info in init_paging
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: vE820: calculate SOS memory size by vE820 tables
  hypervisor/arch/x86/guest/ve820.c
Owners: @anthonyzxu, @dongyaozu

hv: guest: remove get_mem_range_info in prepare_sos_vm_memmap
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

hv: e820: remove get_mem_range_info
  hypervisor/arch/x86/e820.c
  hypervisor/include/arch/x86/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: serializng: use mfence to ensure trampoline code was updated
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

hv: smp: fix an isuue about SMP sync
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

doc: make the "logical partitioning" description more generic
  doc/introduction/images/ACRN-Logical-Partition.png
  doc/introduction/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: serializng: use mfence to ensure trampoline code was updated
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

hv: smp: fix an isuue about SMP sync
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

hv: guest: remove get_mem_range_info in prepare_sos_vm_memmap
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

hv: e820: remove get_mem_range_info
  hypervisor/arch/x86/e820.c
  hypervisor/include/arch/x86/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: vE820: calculate SOS memory size by vE820 tables
  hypervisor/arch/x86/guest/ve820.c
Owners: @anthonyzxu, @dongyaozu

hv: mmu: remove get_mem_range_info in init_paging
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

doc/conf.py: enable formatting docs in a PDF file
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweaks for latexpdf build
  doc/Makefile
  doc/developer-guides/hld/hv-partitionmode.rst
  doc/developer-guides/hld/virtio-blk.rst
  doc/tutorials/trustyACRN.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: cpu_cap: PAW over 39 bits must support 1GB large page
  hypervisor/arch/x86/cpu_caps.c
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: use new algo to calculate PPT/EPT_PD_PAGE_NUM
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: bugfix in min() and max() MACROs
  hypervisor/include/lib/util.h
Owners: @anthonyzxu, @dongyaozu

hv: fix build errors from PR 5857
  hypervisor/include/debug/profiling.h
  hypervisor/release/dump.c
  hypervisor/release/hypercall.c
  hypervisor/release/profiling.c
Owners: @anthonyzxu, @dongyaozu

acrn-config: add adl-rvp xml
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/adl-rvp/industry.xml
Owners: @terryzouhao, @NanlinXie

hv: TLFS: Setup hypercall page according to the vcpu mode
  hypervisor/arch/x86/guest/hyperv.c
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
