Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config-tools: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  misc/config_tools/acpi_gen/asl_gen.py
Owners: @terryzouhao, @NanlinXie

hv: vlapic: use physical APIC IDs as vLAPIC IDs for pre-launched and post-launched VMs
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: ensure PTM root is always enabled in hw
  hypervisor/hw/pci.c
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: check if PTM root is enabled
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

hv: vlapic: use physical APIC IDs as vLAPIC IDs for pre-launched and post-launched VMs
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

dm: acpi: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/include/acpi.h
  devicemodel/include/types.h
Owners: @anthonyzxu, @ywan170

dm: vmmapi: augment the vm_get_config() vmmapi to include a struct platform_info* parameter
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/public/vhm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

hv: vcpuid: passthrough host CPUID leaf.0BH to guest VMs
  hypervisor/arch/x86/guest/vcpuid.c
Owners: @anthonyzxu, @dongyaozu

config-tools: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  misc/config_tools/acpi_gen/asl_gen.py
Owners: @terryzouhao, @NanlinXie

hv: hypercall: 72 reserved bytes are used in struct hc_platform_info to pass physical APIC and cat IDs shift to DM
  hypervisor/common/hypercall.c
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

hv: restore the hypervisor 64-bit entry address for efi-stub
  hypervisor/arch/x86/boot/cpu_primary.S
Owners: @anthonyzxu, @dongyaozu

hv: vlapic: a minor refine about vlapic_x2apic_pt_icr_access
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: vlapic: a minor refine about vlapic_x2apic_pt_icr_access
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

dm: mitigate reset attack
  devicemodel/core/vmmapi.c
Owners: @anthonyzxu, @ywan170

DM: change 32-bit mmio limit to 3.5G
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

dm: check if PTM root is enabled
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

hv: ensure PTM root is always enabled in hw
  hypervisor/hw/pci.c
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

config-tools: fix guest_flag issue in config xml for adl
  misc/config_tools/data/adl-rvp/industry.xml
Owners: @terryzouhao, @NanlinXie

Config_tools: Update Hybrid Cores
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

efi-stub: add acrn efi application as an alternative bootloader for secure boot
  misc/efi-stub/Makefile
  misc/efi-stub/MpService.h
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/container.c
  misc/efi-stub/container.h
  misc/efi-stub/efilinux.h
  misc/efi-stub/malloc.c
  misc/efi-stub/multiboot.h
  misc/efi-stub/pe.c
  misc/efi-stub/stdlib.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

dm: check if PTM root is enabled
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

hv: ensure PTM root is always enabled in hw
  hypervisor/hw/pci.c
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: check if PTM root is enabled Cherry-pick the changes from master to release 2.5 since my last patch is merged already.
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

hv: restore the hypervisor 64-bit entry address for efi-stub
  hypervisor/arch/x86/boot/cpu_primary.S
Owners: @anthonyzxu, @dongyaozu

efi-stub: add acrn efi application as an alternative bootloader for secure boot
  misc/efi-stub/Makefile
  misc/efi-stub/MpService.h
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/container.c
  misc/efi-stub/container.h
  misc/efi-stub/efilinux.h
  misc/efi-stub/malloc.c
  misc/efi-stub/multiboot.h
  misc/efi-stub/pe.c
  misc/efi-stub/stdlib.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

hv: vlapic: a minor refine about vlapic_x2apic_pt_icr_access
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: ensure PTM root is always enabled in hw
  hypervisor/hw/pci.c
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: check if PTM root is enabled
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

dm: update vRTCT module to support new vLAPIC solution
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

dm: check if PTM root is enabled Cherry-pick the changes from master to release 2.5 since my last patch is merged already.
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

dm: update vRTCT module to support new vLAPIC solution
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

hv: vlapic: a minor refine about vlapic_x2apic_pt_icr_access
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

dm: add RTCT v2 support for guest
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

dm: add RTCT v2 support for guest
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

dm: update vRTCT module to support new vLAPIC solution
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

config_tools: fix the guest_flag error when saving scenario xml
  misc/config_tools/library/common.py
Owners: @terryzouhao, @NanlinXie

misc: efi-stub: Set MOR bit before jumping to hypervisor
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/efilinux.h
Owners: @anthonyzxu, @dongyaozu

hv: update RTCT ACPI table detecting
  hypervisor/acpi_parser/acpi_ext.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/boot/include/acpi.h
  hypervisor/include/arch/x86/asm/rtcm.h
Owners: @anthonyzxu, @dongyaozu

HV: vpci: Fix do not mask I/O BAR upper 16-bit
  hypervisor/dm/vpci/vdev.c
Owners: @anthonyzxu, @dongyaozu

HV: vpci: check if address is in VM BAR MMIO space
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/dm/vacpi.h
  hypervisor/include/dm/vpci.h
Owners: @anthonyzxu, @dongyaozu
