Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

hv: nested: check prerequisites to enter VMX operation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMCLEAR emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define software layout for VMCS12 and helper functions
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMREAD and VMWRITE emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMXON emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMXOFF emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMPTRLD emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/vmx.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define VMCS shadow fields
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update board xml for acrn 2.5
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/nuc7i7dnb/nuc7i7dnb.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
  misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml
Owners: @terryzouhao, @NanlinXie

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

Update doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Config_tools: Update board xml for acrn 2.5
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/nuc7i7dnb/nuc7i7dnb.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
  misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml
Owners: @terryzouhao, @NanlinXie

hv: nested: support for VMREAD and VMWRITE emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMCLEAR emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: check prerequisites to enter VMX operation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMPTRLD emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/vmx.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMXON emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define software layout for VMCS12 and helper functions
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMXOFF emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define VMCS shadow fields
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update board xml for acrn 2.5
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/nuc7i7dnb/nuc7i7dnb.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
  misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml
Owners: @terryzouhao, @NanlinXie

Config_tools: Update ramdisk logic
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

efi-stub: code clean up
  Makefile
  misc/efi-stub/container.c
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

Config_tools: Update board xml for acrn 2.5
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/nuc7i7dnb/nuc7i7dnb.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
  misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml
Owners: @terryzouhao, @NanlinXie

config-tools: add methods to allocate mmio windows for emulated devices
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: build acrn with xslt generated pci_dev.c and board_info.h
  hypervisor/scripts/genconf.sh
Owners: @anthonyzxu, @dongyaozu

config-tools: add bdf static allocator
  misc/config_tools/static_allocators/bdf.py
Owners: @terryzouhao, @NanlinXie

config-tools: add pci_dev.c.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add acrn specific functions to lib.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add board_info.h.xsl
  misc/config_tools/xforms/board_info.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add get_shmem_regions and vm type checking to lib.py
  misc/config_tools/static_allocators/lib/lib.py
Owners: @terryzouhao, @NanlinXie

config-tools: add methods to allocate mmio windows for emulated devices
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: add board_info.h.xsl
  misc/config_tools/xforms/board_info.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: build acrn with xslt generated pci_dev.c and board_info.h
  hypervisor/scripts/genconf.sh
Owners: @anthonyzxu, @dongyaozu

config-tools: add bdf static allocator
  misc/config_tools/static_allocators/bdf.py
Owners: @terryzouhao, @NanlinXie

config-tools: add pci_dev.c.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add acrn specific functions to lib.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add get_shmem_regions and vm type checking to lib.py
  misc/config_tools/static_allocators/lib/lib.py
Owners: @terryzouhao, @NanlinXie
