Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

HV: modularization: add boot.c to wrap multiboot module
  hypervisor/Makefile
  hypervisor/arch/x86/init.c
  hypervisor/boot/boot.c
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
Owners: @anthonyzxu, @dongyaozu

DM: TPM2: Fix remove hard code GPA base miss control register info
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

DM: TPM2: Fix remove hard code GPA base miss control register info
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

DM: TPM: tpm passthrough device must use fixed base GPA
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

DM: TPM: tpm passthrough device must use fixed base GPA
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

doc: tweak doc config for v2.3 for CI tool mismatch
  doc/.known-issues/doc/dupdecl.conf
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweak doc config for v2.3 for CI tool mismatch
  doc/.known-issues/doc/dupdecl.conf
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: add support to assign 3rd non-contiguous HPA regions for logical partition scenario
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/vm_config.h
Owners: @anthonyzxu, @dongyaozu

acrn-config: add support to assign 3rd non-contiguous HPA regions for logical partition scenario
  misc/acrn-config/scenario_config/scenario_item.py
  misc/acrn-config/scenario_config/vm_configurations_c.py
  misc/acrn-config/scenario_config/vm_configurations_h.py
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update tgl-rvp scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

dm: remove redundant null check in unregister_mem_init
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

dm: remove redundant null check in unregister_mem_init
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

dm: fix memory leakage risk in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

dm: fix memory leakage risk in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

doc: add the content of hugepages/hugepagesz in generic kernel parameters
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: vpci: check if address is in VM BAR MMIO space
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/dm/vacpi.h
  hypervisor/include/dm/vpci.h
Owners: @anthonyzxu, @dongyaozu

HV: vpci: Fix do not mask I/O BAR upper 16-bit
  hypervisor/dm/vpci/vdev.c
Owners: @anthonyzxu, @dongyaozu

HV: vpci: refine vbar sizing
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
Owners: @anthonyzxu, @dongyaozu

hv: validate input for dmar_free_irte function
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/vtd.c
Owners: @anthonyzxu, @dongyaozu

hv: remove unnecessary ASSERT in vlapic_write
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: deny access to HV owned legacy PIO UART from SOS
  hypervisor/arch/x86/guest/vm.c
  hypervisor/debug/uart16550.c
  hypervisor/include/debug/uart16550.h
  hypervisor/release/console.c
  hypervisor/release/uart16550.c
Owners: @anthonyzxu, @dongyaozu

hv: add support to assign 3rd non-contiguous HPA regions for logical partition scenario
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/vm_config.h
Owners: @anthonyzxu, @dongyaozu

acrn-config: add support to assign 3rd non-contiguous HPA regions for logical partition scenario
  misc/acrn-config/scenario_config/scenario_item.py
  misc/acrn-config/scenario_config/vm_configurations_c.py
  misc/acrn-config/scenario_config/vm_configurations_h.py
Owners: @anthonyzxu, @dongyaozu

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

hv: Rename get_ept_entry() to get_eptp()
  doc/developer-guides/hld/hv-memmgt.rst
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/ept.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv: Wrap same code as a static function
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: Enlarge E820_MAX_ENTRIES to 64
  hypervisor/include/arch/x86/asm/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: Enlarge E820_MAX_ENTRIES to 64
  hypervisor/include/arch/x86/asm/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: deny access to HV owned legacy PIO UART from SOS
  hypervisor/arch/x86/guest/vm.c
  hypervisor/debug/uart16550.c
  hypervisor/include/debug/uart16550.h
  hypervisor/release/console.c
  hypervisor/release/uart16550.c
Owners: @anthonyzxu, @dongyaozu

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

DM: xHCI: Add the trb pointer check
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

HV: relocate SOS kernel before boot modules for SBL
  hypervisor/boot/boot.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
Owners: @anthonyzxu, @dongyaozu

HV: correct bootargs module size
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

dm: fix memory leakage risk in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

hv: deny access to HV owned legacy PIO UART from SOS
  hypervisor/arch/x86/guest/vm.c
  hypervisor/debug/uart16550.c
  hypervisor/include/debug/uart16550.h
  hypervisor/release/console.c
  hypervisor/release/uart16550.c
Owners: @anthonyzxu, @dongyaozu

HV: relocate SOS kernel before boot modules for SBL
  hypervisor/boot/boot.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
Owners: @anthonyzxu, @dongyaozu

HV: correct bootargs module size
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

config_tools: add hybrid, hybrid_rt, logical partition scenario on adl board
  misc/config_tools/data/adl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/adl-s-crb/hybrid.xml
  misc/config_tools/data/adl-s-crb/hybrid_rt.xml
  misc/config_tools/data/adl-s-crb/industry_launch_2uos.xml
  misc/config_tools/data/adl-s-crb/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

doc: add the content of hugepages/hugepagesz in generic kernel parameters
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: refine get_pt_intx_table and check_pt_intx
  misc/config_tools/library/common.py
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie
