Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

doc: create a copy of the scenario file before making modifications
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update doc for hybrid and logical_partition mode: using_hybrid_mode_on_nuc.rst using_partition_mode_on_nuc.rst
  doc/getting-started/building-from-source.rst
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/tutorials/using_partition_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/getting-started/building-from-source.rst
  doc/getting-started/building-from-source.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: modify sample launch scripts delete pm para in sample launch scripts and update the comments
  misc/config_tools/data/sample_launch_scripts/nuc/launch_hard_rt_vm.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_uos.sh
Owners: @terryzouhao, @NanlinXie

config-tools: modify sample launch scripts
  misc/config_tools/data/sample_launch_scripts/nuc/launch_hard_rt_vm.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_uos.sh
Owners: @terryzouhao, @NanlinXie

DOC: Update-GSG-rt_industry_ubuntu
  doc/getting-started/rt_industry_ubuntu.rst
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: Launch Windows as the Guest VM
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: additional release notes edits
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update v2.4 release notes
  doc/getting-started/roscube/roscube-gsg.rst
  doc/release_notes/release_notes_2.4.rst
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: Launch Windows as the Guest VM
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

DOC: Update-GSG-rt_industry_ubuntu
  doc/getting-started/rt_industry_ubuntu.rst
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: additional release notes edits
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update 'enable secure boot in windows'
  doc/tutorials/images/waag_secure_boot_image1.png
  doc/tutorials/images/waag_secure_boot_image2.png
  doc/tutorials/images/waag_secure_boot_image3.png
  doc/tutorials/waag-secure-boot.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: update v2.4 release notes
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Update "Enable S5 in ACRN" tutorial
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update enable_s5.rst
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: update v2.4 release notes
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update 'enable secure boot in windows'
  doc/tutorials/images/waag_secure_boot_image1.png
  doc/tutorials/images/waag_secure_boot_image2.png
  doc/tutorials/images/waag_secure_boot_image3.png
  doc/tutorials/waag-secure-boot.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: Update Launch Windows as the Guest VM
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: Hide HLAT to guest
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

hv: Save/restore MSR_IA32_CSTAR during context switch
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/cpu.h
Owners: @anthonyzxu, @dongyaozu

hv: Save/restore MSR_IA32_CSTAR during context switch
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/cpu.h
Owners: @anthonyzxu, @dongyaozu

Doc: Update Launch Windows as the Guest VM
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: refine the detection of "iasl" utility
  Makefile
  devicemodel/Makefile
  devicemodel/core/main.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/include/acpi.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170

DM: gvt: Identical mapping for GPU DSM refine to support EHL/TGL
  devicemodel/core/sw_load_common.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/pci_core.h
  devicemodel/include/pcireg.h
  devicemodel/include/sw_load.h
Owners: @anthonyzxu, @ywan170

DM: gvt: Identical mapping for GPU DSM refine to support EHL/TGL
  devicemodel/core/sw_load_common.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/pci_core.h
  devicemodel/include/pcireg.h
  devicemodel/include/sw_load.h
Owners: @anthonyzxu, @ywan170

DM: gvt: Identical mapping for GPU DSM refine to support EHL/TGL
  devicemodel/core/sw_load_common.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/pci_core.h
  devicemodel/include/pcireg.h
  devicemodel/include/sw_load.h
Owners: @anthonyzxu, @ywan170

doc: update release notes
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update release notes
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: Hide HLAT to guest
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

DM: gvt: Identical mapping for GPU DSM refine to support EHL/TGL
  devicemodel/core/sw_load_common.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/pci_core.h
  devicemodel/include/pcireg.h
  devicemodel/include/sw_load.h
Owners: @anthonyzxu, @ywan170

doc: add 2.4 to doc version menu
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add 2.4 to doc version menu
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

version:v2.4
  VERSION
Owners: @anthonyzxu, @dongyaozu

version: 2.5-unstable
  VERSION
Owners: @anthonyzxu, @dongyaozu

doc: remove obsolete .txt file
  doc/tutorials/acrn-config-details.txt
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove obsolete .txt file
  doc/tutorials/acrn-config-details.txt
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: find the unused bdf based on first unused "dev"
  misc/config_tools/scenario_config/pci_dev_c.py
Owners: @terryzouhao, @NanlinXie

config-tools: find the unused bdf based on first unused "dev"
  misc/config_tools/scenario_config/pci_dev_c.py
Owners: @terryzouhao, @NanlinXie
