Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

hv: nested: Keep privilege bits sync in shadow EPT entry
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: Use 64 bits definition for 64 bits MSR_IA32_VMX_EPT_VPID_CAP operation
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/asm/cpu_caps.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_gpio.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_i2c.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

dm: Add PCI IDS for EHL/TGL/ADL in GPU passthrough
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pcireg.h
Owners: @anthonyzxu, @ywan170

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

dm: rb: only free rb_entry when we remove this entry from the
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

dm: virtio_console: read only when the virtqueue is ready.
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

virtio: add virtio callbacks check
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

dm: fix fault Injection into VirtIO console backend
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/virtio/virtio.c
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

dm: virtio_console: read only when the virtqueue is ready.
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

virtio: add virtio callbacks check
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

dm: fix fault Injection into VirtIO console backend
  devicemodel/hw/pci/virtio/virtio.c
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

config_tools: update board_inspector to copy RTCT file
  misc/config_tools/acpi_template/ehl-crb-b/PTCT
  misc/config_tools/acpi_template/tgl-rvp/PTCT
  misc/config_tools/board_inspector/legacy/acpi.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix cpu offline issue in launch script
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

dm: fix fault Injection into VirtIO console backend
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/virtio/virtio.c
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

dm: virtio_console: read only when the virtqueue is ready.
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

virtio: add virtio callbacks check
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

dm: fix fault Injection into VirtIO console backend
  devicemodel/hw/pci/virtio/virtio.c
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

dm: virtio_console: read only when the virtqueue is ready.
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

virtio: add virtio callbacks check
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

DM: TPM2: Fix remove hard code GPA base miss control register info
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

DM: TPM: tpm passthrough device must use fixed base GPA
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

config_tools: fix cpu offline issue for kernel 5.10
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

config-tools: add MSI-X capability
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/pcieparser/caps.py
Owners: @terryzouhao, @NanlinXie

config-tools: refine the MAX_MSIX_TABLE_NUM in config.h
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

hv: minor coding style fix in list.h
  hypervisor/include/lib/list.h
Owners: @anthonyzxu, @dongyaozu

config_tools: update board xml files for MAX_MSIX_TABLE_NUM fix
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/nuc7i7dnb/nuc7i7dnb.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
  misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml
Owners: @terryzouhao, @NanlinXie

config-tools: do not exit when the board inspector runs in hypervisor
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/cpuparser/__init__.py
  misc/config_tools/board_inspector/cpuparser/cpuids.py
  misc/config_tools/board_inspector/extractors/10-processors.py
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

add adl-s-crb offline-patchs into the new folder "boards/v2.6".
  boards/v2.6/0001-config_tool-add-adl-s-crb.patch
  boards/v2.6/0002-config_tools-update-board-xml-files-for-MAX_MSIX_TAB.patch
Owners: @anthonyzxu, @dongyaozu

doc: Change VHM to HSM in documentations
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-hypervisor.rst
  doc/developer-guides/hld/hld-overview.rst
  doc/developer-guides/hld/hld-power-management.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/hv-hypercall.rst
  doc/developer-guides/hld/hv-interrupt.rst
  doc/developer-guides/hld/hv-io-emulation.rst
  doc/developer-guides/hld/virtio-net.rst
  doc/developer-guides/hld/watchdog-hld.rst
  doc/glossary.rst
  doc/introduction/index.rst
  doc/tutorials/launch_uos.sh
  doc/tutorials/setup_openstack_libvirt.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Adapt documents to new HSM driver
  devicemodel/include/public/hsm_ioctl_defs.h
  doc/.known-issues/doc/dupdecl.conf
  doc/api/GVT-g_api.rst
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-power-management.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/hv-io-emulation.rst
Owners: @anthonyzxu, @ywan170, @dbkinder, @deb-intel, @NanlinXie

config_tools: update nuc11tnbi5 xml files
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

doc: remove doc dependency on kerneldoc and acrn-kernel repo
  doc/Makefile
  doc/api/GVT-g_api.rst
  doc/api/index.rst
  doc/conf.py
  doc/contribute.rst
  doc/developer-guides/GVT-g-porting.rst
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/release_notes/release_notes_2.3.rst
  doc/scripts/kernel-doc
  doc/scripts/pullsource.sh
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie
