Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

board_inspector/smbiosparser: add SMBIOS table parsers
  misc/config_tools/board_inspector/smbiosparser/__init__.py
  misc/config_tools/board_inspector/smbiosparser/smbios.py
Owners: @terryzouhao, @NanlinXie

config_tools/schema: add example data checks
  misc/config_tools/library/common.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
  misc/config_tools/schema/datachecks.xsd
Owners: @terryzouhao, @NanlinXie

board_inspector/acpiparser: add DSDT/SSDT parser
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/exception.py
  misc/config_tools/board_inspector/acpiparser/aml/grammar.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/acpiparser/aml/stream.py
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
  misc/config_tools/board_inspector/acpiparser/rdt.py
  misc/config_tools/board_inspector/lib/mmio.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: extract device information
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/extractors/80-lookup.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
  misc/config_tools/board_inspector/pcieparser/extcaps.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: framework to support extractors
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/extractors/helpers.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: extract memory layout
  misc/config_tools/board_inspector/extractors/30-memory.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: extract CPU topology and models
  misc/config_tools/board_inspector/extractors/10-processors.py
Owners: @terryzouhao, @NanlinXie

board_inspector/pcieparser: add PCIe config space parser
  misc/config_tools/board_inspector/pcieparser/__init__.py
  misc/config_tools/board_inspector/pcieparser/caps.py
  misc/config_tools/board_inspector/pcieparser/header.py
Owners: @terryzouhao, @NanlinXie

hv: rename some software SRAM local names
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

dm: clean legacy software SRAM names
  devicemodel/core/main.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/dm.h
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

board_inspector/acpiparser: add DSDT/SSDT parser
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/exception.py
  misc/config_tools/board_inspector/acpiparser/aml/grammar.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/acpiparser/aml/stream.py
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
  misc/config_tools/board_inspector/acpiparser/rdt.py
  misc/config_tools/board_inspector/lib/mmio.py
Owners: @terryzouhao, @NanlinXie

board_inspector/lib: fix compatibility issues in unpack.py
  misc/config_tools/board_inspector/lib/unpack.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: extract device information
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/extractors/80-lookup.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
  misc/config_tools/board_inspector/pcieparser/extcaps.py
Owners: @terryzouhao, @NanlinXie

board_inspector/pcieparser: add PCIe config space parser
  misc/config_tools/board_inspector/pcieparser/__init__.py
  misc/config_tools/board_inspector/pcieparser/caps.py
  misc/config_tools/board_inspector/pcieparser/header.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: extract CPU topology and models
  misc/config_tools/board_inspector/extractors/10-processors.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: framework to support extractors
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/extractors/helpers.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: extract memory layout
  misc/config_tools/board_inspector/extractors/30-memory.py
Owners: @terryzouhao, @NanlinXie

board_inspector/cpuparser: add CPUID parsers
  misc/config_tools/board_inspector/cpuparser/__init__.py
  misc/config_tools/board_inspector/cpuparser/cpuids.py
  misc/config_tools/board_inspector/cpuparser/platformbase.py
Owners: @terryzouhao, @NanlinXie

board_inspector/memmapparser: add parser of e820 memory maps
  misc/config_tools/board_inspector/memmapparser/__init__.py
  misc/config_tools/board_inspector/memmapparser/e820.py
Owners: @terryzouhao, @NanlinXie

config_tools/schema: add example data checks
  misc/config_tools/library/common.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
  misc/config_tools/schema/datachecks.xsd
Owners: @terryzouhao, @NanlinXie

board_inspector/smbiosparser: add SMBIOS table parsers
  misc/config_tools/board_inspector/smbiosparser/__init__.py
  misc/config_tools/board_inspector/smbiosparser/smbios.py
Owners: @terryzouhao, @NanlinXie

board-inspector: reorganize the scripts
  misc/config_tools/board_inspector/README
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/_utils.py
  misc/config_tools/board_inspector/acpiparser/apic.py
  misc/config_tools/board_inspector/acpiparser/asf.py
  misc/config_tools/board_inspector/acpiparser/dmar.py
  misc/config_tools/board_inspector/acpiparser/facp.py
  misc/config_tools/board_inspector/acpiparser/rtct.py
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/legacy/acpi.py
  misc/config_tools/board_inspector/legacy/board_parser.py
  misc/config_tools/board_inspector/legacy/clos.py
  misc/config_tools/board_inspector/legacy/dmar.py
  misc/config_tools/board_inspector/legacy/dmi.py
  misc/config_tools/board_inspector/legacy/misc.py
  misc/config_tools/board_inspector/legacy/parser_lib.py
  misc/config_tools/board_inspector/legacy/pci_dev.py
  misc/config_tools/board_inspector/legacy/rtct.py
  misc/config_tools/board_inspector/lib/bitfields.py
  misc/config_tools/board_inspector/lib/cdata.py
  misc/config_tools/board_inspector/lib/unpack.py
Owners: @terryzouhao, @NanlinXie

board_inspector/legacy: fix a copy destination error
  misc/config_tools/board_inspector/legacy/acpi.py
Owners: @terryzouhao, @NanlinXie

board_inspector/extractors: extract cache topology and capabilities
  misc/config_tools/board_inspector/extractors/20-cache.py
Owners: @terryzouhao, @NanlinXie

hv: nested: implement the framework for VMX MSR emulation
  hypervisor/Makefile
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: vmsr: emulate IA32_FEATURE_CONTORL MSR for nested virtualization
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: setup emulated VMX MSRs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

build: fix dm and acrn_crashlog build error with gcc-11
  devicemodel/core/mevent.c
  misc/debug_tools/acrn_crashlog/acrnprobe/include/probeutils.h
Owners: @anthonyzxu, @ywan170, @chengangc, @dizhang417

doc: clean legacy software SRAM names
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: fix minor comment in acrn_create_e820_table
  devicemodel/core/sw_load_common.c
Owners: @anthonyzxu, @ywan170

config-tool: rename PSRARM to SSRAM
  hypervisor/arch/x86/Kconfig
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/board_config/misc_cfg_h.py
  misc/config_tools/board_inspector/legacy/rtct.py
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/hv_config/hv_item.py
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/hv_cfg_lib.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config-tool: rename PSRARM to SSRAM
  hypervisor/arch/x86/Kconfig
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/board_config/misc_cfg_h.py
  misc/config_tools/board_inspector/legacy/rtct.py
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/hv_config/hv_item.py
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/hv_cfg_lib.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

doc: clean legacy software SRAM names
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: fix minor comment in acrn_create_e820_table
  devicemodel/core/sw_load_common.c
Owners: @anthonyzxu, @ywan170

hv: update RTCT parser to support RTCT version 2
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

hv: update RTCT parser to support RTCT version 2
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

config-tools: guest_flag must be assigned with a valid value
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

Doc: update using serial port
  doc/tutorials/images/NUC-serial-port.png
  doc/tutorials/images/NUC11TNH-serial-port-header-to-RS232-cable.png
  doc/tutorials/images/NUC11TNH-serial-port-header.png
  doc/tutorials/images/NUC11TNH-serial-port.png
  doc/tutorials/images/NVMe-M.2-to-PCIe-adaptor.png
  doc/tutorials/images/PCIe-serial-Connection.png
  doc/tutorials/images/PCIe-serial-LeKuo.png
  doc/tutorials/images/PCIe-serial-StarTech.png
  doc/tutorials/using_serial_port.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

efi-stub: Prepare multiboot2 info to ACRN
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/multiboot.h
Owners: @anthonyzxu, @dongyaozu

config-tools: guest_flag must be assigned with a valid value
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
Owners: @terryzouhao, @NanlinXie
