Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

dm: PTM: Get # of children of a pci bridge or pci bus
  devicemodel/hw/pci/pci_util.c
  devicemodel/include/pci_util.h
Owners: @anthonyzxu, @ywan170

dm: PTM: Add a few pci utility functions
  devicemodel/Makefile
  devicemodel/hw/pci/pci_util.c
  devicemodel/include/pci_util.h
Owners: @anthonyzxu, @ywan170

hv: PTM: Add virtual root port
  hypervisor/Makefile
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/dm/vroot_port.h
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: PTM: Check if hw supports ptm
  devicemodel/Makefile
  devicemodel/hw/pci/passthrough.c
  devicemodel/hw/pci/ptm.c
  devicemodel/include/passthru.h
  devicemodel/include/ptm.h
Owners: @anthonyzxu, @ywan170

dm: PTM: Check PTM root has more than one child
  devicemodel/core/main.c
  devicemodel/hw/pci/pci_util.c
  devicemodel/hw/pci/ptm.c
  devicemodel/include/pci_util.h
Owners: @anthonyzxu, @ywan170

Config_tools: config hugepage in sos kenrel cmdline
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

HV: refine init_vm_bootargs_info()
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: remove SOS kernel hugepage related bootargs
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

doc: copy editing in the hld topics
  doc/developer-guides/hld/ahci-hld.rst
  doc/developer-guides/hld/atkbdc-virt-hld.rst
  doc/developer-guides/hld/hld-APL_GVT-g.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Makefile: Make builds reproducible
  devicemodel/Makefile
  hypervisor/Makefile
  misc/debug_tools/acrn_crashlog/acrnprobe/Makefile
  misc/debug_tools/acrn_crashlog/usercrash/Makefile
Owners: @anthonyzxu, @ywan170, @dongyaozu, @chengangc, @dizhang417

Makefile: honor BUILD_VERSION and BUILD_TAG
  hypervisor/Makefile
  misc/debug_tools/acrn_crashlog/acrnprobe/Makefile
  misc/debug_tools/acrn_crashlog/usercrash/Makefile
Owners: @anthonyzxu, @dongyaozu, @chengangc, @dizhang417

Makefile: lifemngr: split linux and windows build
  misc/services/life_mngr/Makefile
Owners: @ywan170, @shuox

Makefile: Make builds reproducible
  devicemodel/Makefile
  hypervisor/Makefile
  misc/debug_tools/acrn_crashlog/acrnprobe/Makefile
  misc/debug_tools/acrn_crashlog/usercrash/Makefile
Owners: @anthonyzxu, @ywan170, @dongyaozu, @chengangc, @dizhang417

Makefile: honor BUILD_VERSION and BUILD_TAG
  hypervisor/Makefile
  misc/debug_tools/acrn_crashlog/acrnprobe/Makefile
  misc/debug_tools/acrn_crashlog/usercrash/Makefile
Owners: @anthonyzxu, @dongyaozu, @chengangc, @dizhang417

Makefile: lifemngr: split linux and windows build
  misc/services/life_mngr/Makefile
Owners: @ywan170, @shuox

Config_tools: config hugepage in sos kenrel cmdline
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

HV: remove SOS kernel hugepage related bootargs
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: refine init_vm_bootargs_info()
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update ramdisk logic
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

Config_tools: Update ramdisk logic
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

dm: add allow_trigger_s5 mode to pm_notify_channel uart
  devicemodel/core/main.c
  devicemodel/core/pm_vuart.c
  devicemodel/include/pm.h
  devicemodel/include/pm_vuart.h
Owners: @anthonyzxu, @ywan170

doc: add documentation for allow_trigger_s5 in pm_notify_channel
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/tutorials/enable_s5.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

OVMF release v2.5
  devicemodel/bios/changelog_ovmf.txt
Owners: @anthonyzxu, @ywan170

HV: cache: Fix page fault by flushing cache for VM trusty RAM in HV
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

doc: copy editing in the hld topics
  doc/developer-guides/hld/ahci-hld.rst
  doc/developer-guides/hld/atkbdc-virt-hld.rst
  doc/developer-guides/hld/hld-APL_GVT-g.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix indenting issues in tutorial
  doc/tutorials/running_deb_as_serv_vm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix indenting issues in tutorial
  doc/tutorials/running_deb_as_serv_vm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: add allow_trigger_s5 mode to pm_notify_channel uart
  devicemodel/core/main.c
  devicemodel/core/pm_vuart.c
  devicemodel/include/pm.h
  devicemodel/include/pm_vuart.h
Owners: @anthonyzxu, @ywan170

Config_tools: Update ramdisk logic
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

HV: cache: Fix page fault by flushing cache for VM trusty RAM in HV
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

OVMF release v2.5
  devicemodel/bios/changelog_ovmf.txt
Owners: @anthonyzxu, @ywan170

dm: add allow_trigger_s5 mode to pm_notify_channel uart
  devicemodel/core/main.c
  devicemodel/core/pm_vuart.c
  devicemodel/include/pm.h
  devicemodel/include/pm_vuart.h
Owners: @anthonyzxu, @ywan170

OVMF release v2.5
  devicemodel/bios/changelog_ovmf.txt
Owners: @anthonyzxu, @ywan170

HV: cache: Fix page fault by flushing cache for VM trusty RAM in HV
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

efi-stub: refactor code to access hv loader lib via abstracted func tbl
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/container.c
  misc/efi-stub/container.h
Owners: @anthonyzxu, @dongyaozu

doc: add documentation for allow_trigger_s5 in pm_notify_channel
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/tutorials/enable_s5.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: vlapic: wrap a function to calculate destination vcpu mask by shorthand
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/include/arch/x86/asm/apicreg.h
  hypervisor/include/arch/x86/asm/guest/vlapic.h
Owners: @anthonyzxu, @dongyaozu

HV: Fix mistake use stac() & clac()
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

HV: cache: Fix page fault by flushing cache for VM trusty RAM in HV
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

hv: vlapic: extend vlapic_x2apic_pt_icr_access to support more destination mode
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu
