Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

misc: life_mngr: add uart module
  misc/services/life_mngr/uart.c
  misc/services/life_mngr/uart.h
Owners: @ywan170, @shuox

misc: life_mngr: add command module
  misc/services/life_mngr/command.c
  misc/services/life_mngr/command.h
Owners: @ywan170, @shuox

misc: life_mngr: refine script to trigger system shutdown request
  misc/services/life_mngr/s5_trigger.sh
  misc/services/life_mngr/s5_trigger_linux.py
Owners: @ywan170, @shuox

misc: life_mngr: add log module
  misc/services/life_mngr/log.h
Owners: @ywan170, @shuox

misc: life_mngr: add command handler module
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/command_handler.h
Owners: @ywan170, @shuox

misc: life_mngr: add uart channel module
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

misc: life_mngr: fix some typo issues
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/uart.h
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

misc: life_mngr: update Makefile for lifecycle manager
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/life_mngr.c
Owners: @ywan170, @shuox

misc: life_mngr: add socket moudle
  misc/services/life_mngr/socket.c
  misc/services/life_mngr/socket.h
Owners: @ywan170, @shuox

misc: life_mngr: refine lifecycle manager for windows VM
  misc/services/life_mngr/life_mngr_win.c
  misc/services/life_mngr/s5_trigger_win.py
Owners: @ywan170, @shuox

misc: life_mngr: add script to do user VM shutdown
  misc/services/life_mngr/user_vm_shutdown.py
Owners: @ywan170, @shuox

hv: remove CONFIG_LOW_RAM_SIZE
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/trampoline.c
  hypervisor/bsp/ld/link_ram.ld.in
Owners: @anthonyzxu, @dongyaozu

hv : encapsulate page align in e820_alloc_memory
  hypervisor/arch/x86/e820.c
Owners: @anthonyzxu, @dongyaozu

config-tools: enable hv features by default
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

deb-pkg: update deb configuration to install serial.conf
  .deb.conf
Owners: @anthonyzxu, @dongyaozu

doc: Update nuc11 partitioned document and Scenario xml
  doc/tutorials/using_partition_mode_on_nuc.rst
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

hv: reset CAT Capacity Bitmask(CBM) MSRs
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/cpuid.h
Owners: @anthonyzxu, @dongyaozu

doc: terminology cleanup in partition mode
  doc/developer-guides/hld/hv-partitionmode.rst
  doc/developer-guides/hld/images/partition-image18.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in Zephyr tutorial
  doc/tutorials/using_zephyr_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in design guidelines
  doc/developer-guides/sw_design_guidelines.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in design guidelines
  doc/developer-guides/sw_design_guidelines.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in partition mode
  doc/developer-guides/hld/hv-partitionmode.rst
  doc/developer-guides/hld/images/partition-image18.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in file names, labels
  doc/conf.py
  doc/develop.rst
  doc/developer-guides/hld/hld-security.rst
  doc/developer-guides/hld/images/network-virt-service-vm-infrastruct.png
  doc/developer-guides/hld/virtio-net.rst
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_vxworks_as_user_vm.rst
  doc/tutorials/using_windows_as_user_vm.rst
  doc/tutorials/using_xenomai_as_user_vm.rst
  doc/tutorials/using_zephyr_as_user_vm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: align the MAX_IR_ENTRIES to MAX_PT_IRQ_ENTRIES
  hypervisor/arch/x86/vtd.c
  hypervisor/include/arch/x86/asm/vtd.h
  hypervisor/include/lib/util.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: fix the duplicate PT_SLOT value issue in UI
  misc/config_tools/launch_config/launch_cfg_gen.py
Owners: @terryzouhao, @NanlinXie

config_tool: add cpu affinity check
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/scenario_item.py
Owners: @terryzouhao, @NanlinXie

config_tool: Update CPU affinity error message
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tool: Update CPU affinity error message
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

doc: remove VBSK related content
  doc/contribute.rst
  doc/developer-guides/VBSK-analysis.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: fix build issue on RELEASE version
  hypervisor/common/efi_mmap.c
Owners: @anthonyzxu, @dongyaozu

HV: fix build issue on RELEASE version
  hypervisor/common/efi_mmap.c
Owners: @anthonyzxu, @dongyaozu

config-tools: refine acrn:get-common-clos-max
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: refine MAX_MSIX_TABLE_NUM
  misc/config_tools/xforms/config.h.xsl
  misc/config_tools/xforms/config.mk.xsl
  misc/config_tools/xforms/config_common.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

dm: refine logic to build vRTCT ACPI table
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/types.h
Owners: @anthonyzxu, @ywan170

dm: get lapic id from madt
  devicemodel/Makefile
  devicemodel/core/main.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/acpi_parser.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/acpi.h
Owners: @anthonyzxu, @ywan170

dm: remove vm_get_config() API
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

dm: refine logic to build ACPI table of Post-launched VM
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

config_tools: remove GUEST_FLAG_SECURITY_VM in DM_OWNED_GUEST_FLAG_MASK
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

doc: terminology cleanup in RTC virt
  doc/developer-guides/hld/rtc-virt-hld.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in DM readme
  devicemodel/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie
