Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

doc: update compile-time configuration HLD
  doc/developer-guides/hld/hv-config.rst
  doc/developer-guides/hld/images/config-image103.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update compile-time configuration HLD
  doc/developer-guides/hld/hv-config.rst
  doc/developer-guides/hld/images/config-image103.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add descriptions to hypervisor configuration targets
  doc/getting-started/building-from-source.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: discourage modifications to predefined scenario XMLs
  doc/developer-guides/hld/vuart-virt-hld.rst
  doc/introduction/index.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update build-from-source instructions
  doc/getting-started/building-from-source.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/images/GUI_of_menuconfig.png
  doc/tutorials/images/sample_of_defconfig.png
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add descriptions to hypervisor configuration targets
  doc/getting-started/building-from-source.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc/acrn_configuration_tool: refactor the logic flow and contents
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/images/offline_tools_workflow.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: start v2.4 release notes draft
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: disable host MONITOR-WAIT support when SW SRAM is enabled
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/cpu_caps.h
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

doc: test of the ci system - do not merge - do not review
  doc/contribute.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: update sbl version of ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
Owners: @terryzouhao, @NanlinXie

hv: disable guest MONITOR-WAIT support when SW SRAM is configured
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: rename 'struct memory_ops' to 'struct pgtable'
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/page.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: remove get_default_access_right API
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: disable guest MONITOR-WAIT support when SW SRAM is configured
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: disable host MONITOR-WAIT support when SW SRAM is enabled
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/cpu_caps.h
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

hv: wrap function to check software SRAM support
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: rename 'struct memory_ops' to 'struct pgtable'
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/page.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: remove get_default_access_right API
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: wrap function to check software SRAM support
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

hv: disable host MONITOR-WAIT support when SW SRAM is enabled
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/cpu_caps.h
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

hv: disable guest MONITOR-WAIT support when SW SRAM is configured
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: trusty: move post_uos_sworld_memory into vm.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: memory: remove get_sworld_memory_base API
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: separate common APIs for MMU/EPT
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: pgatble: move the MMU page table related APIs to mmu.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: pgatble: move the EPT page table related APIs to ept.c
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: move pgtable definition to pgtable.h
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

config-tools: replace "PTDEV_HI_MMIO_START" with "HI_MMIO_START"
  misc/config_tools/board_config/vbar_base_h.py
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/industry/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/vbar_base.h
Owners: @terryzouhao, @NanlinXie

hv: page: use dynamic page allocation for pagetable mapping
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/page.h
  misc/config_tools/board_config/vbar_base_h.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: page: add free_page
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: disable guest MONITOR-WAIT support when SW SRAM is configured
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: disable host MONITOR-WAIT support when SW SRAM is enabled
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/cpu_caps.h
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

hv: wrap function to check software SRAM support
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

kv: kconfig: remove some unused ram size kconfig
  doc/faq.rst
  doc/tutorials/acrn-config-details.txt
  hypervisor/arch/x86/Kconfig
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv: ept: only treak execution right for large pages
  hypervisor/arch/x86/pagetable.c
Owners: @anthonyzxu, @dongyaozu

hv: ept: build 4KB page mapping in EPT for code pages of rtvm
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

dm: align bar base addr to PAGE_SIZE at least
  devicemodel/hw/pci/core.c
Owners: @anthonyzxu, @ywan170

hv: ivshmem: BAR0 size should be 256 Bytes
  hypervisor/dm/vpci/ivshmem.c
Owners: @anthonyzxu, @dongyaozu

Makefile: enhance misc/Makefile for more intuitive usage
  Makefile
  devicemodel/Makefile
  misc/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
