Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

misc: life_mngr: add uart module
  misc/services/life_mngr/uart.c
  misc/services/life_mngr/uart.h
Owners: @ywan170, @shuox

misc: life_mngr: add command module
  misc/services/life_mngr/command.c
  misc/services/life_mngr/command.h
Owners: @ywan170, @shuox

misc: life_mngr: add uart channel module
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

misc: life_mngr: add command handler module
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/command_handler.h
Owners: @ywan170, @shuox

deb-pkg: update deb configuration to install serial.conf
  .deb.conf
Owners: @anthonyzxu, @dongyaozu

config_tools: fix the duplicate PT_SLOT value issue in UI
  misc/config_tools/launch_config/launch_cfg_gen.py
Owners: @terryzouhao, @NanlinXie

config_tool: add cpu affinity check
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/scenario_item.py
Owners: @terryzouhao, @NanlinXie

doc: terminology cleanup in trusty doc
  doc/developer-guides/images/trusty-arch.png
  doc/developer-guides/images/trusty-boot-flow.dot
  doc/developer-guides/trusty.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in trusty doc
  doc/developer-guides/images/trusty-arch.png
  doc/developer-guides/images/trusty-boot-flow.dot
  doc/developer-guides/trusty.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: initialize and save/restore IA32_TSC_AUX MSR for guest
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: initialize and save/restore IA32_TSC_AUX MSR for guest
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

misc: life_mngr: add command module
  misc/services/life_mngr/command.c
  misc/services/life_mngr/command.h
Owners: @ywan170, @shuox

misc: life_mngr: refine script to trigger system shutdown request
  misc/services/life_mngr/s5_trigger.sh
  misc/services/life_mngr/s5_trigger_linux.py
Owners: @ywan170, @shuox

misc: life_mngr: add script to do user VM shutdown
  misc/services/life_mngr/user_vm_shutdown.py
Owners: @ywan170, @shuox

misc: life_mngr: add log module
  misc/services/life_mngr/log.h
Owners: @ywan170, @shuox

misc: life_mngr: refine lifecycle manager for windows VM
  misc/services/life_mngr/life_mngr_win.c
  misc/services/life_mngr/s5_trigger_win.py
Owners: @ywan170, @shuox

misc: life_mngr: add uart module
  misc/services/life_mngr/uart.c
  misc/services/life_mngr/uart.h
Owners: @ywan170, @shuox

misc: life_mngr: add monitor module
  misc/services/life_mngr/life_mngr.service.in
  misc/services/life_mngr/monitor.c
Owners: @ywan170, @shuox

misc: life_mngr: add config module
  misc/services/life_mngr/config.c
  misc/services/life_mngr/config.h
  misc/services/life_mngr/life_mngr.conf
Owners: @ywan170, @shuox

misc: life_mngr: add uart channel module
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

misc: life_mngr: add socket moudle
  misc/services/life_mngr/socket.c
  misc/services/life_mngr/socket.h
Owners: @ywan170, @shuox

misc: life_mngr: update Makefile for lifecycle manager
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/life_mngr.c
Owners: @ywan170, @shuox

misc: life_mngr: add command handler module
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/command_handler.h
Owners: @ywan170, @shuox

misc: life_mngr: fix some typo issues
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/uart.h
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

misc: life_mngr: fix some typo issues
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/uart.h
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

config-tools: refine acrn:get-common-clos-max
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

hv: initialize and save/restore IA32_TSC_AUX MSR for guest
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

misc: life_mngr: fix some typo issues
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/uart.h
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

config-tools: refine acrn:get-common-clos-max
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

hv: reset CAT Capacity Bitmask(CBM) MSRs
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/cpuid.h
Owners: @anthonyzxu, @dongyaozu

dm: get lapic id from madt
  devicemodel/Makefile
  devicemodel/core/main.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/acpi_parser.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/acpi.h
Owners: @anthonyzxu, @ywan170

dm: refine logic to build vRTCT ACPI table
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/types.h
Owners: @anthonyzxu, @ywan170

dm: refine logic to build ACPI table of Post-launched VM
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

dm: remove vm_get_config() API
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

fix misspelling
  doc/developer-guides/hld/hv-memmgt.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in IOC virt
  doc/developer-guides/hld/hv-ioc-virt.rst
  doc/developer-guides/hld/images/ioc-image10.png
  doc/developer-guides/hld/images/ioc-image15.png
  doc/developer-guides/hld/images/ioc-image19.png
  doc/developer-guides/hld/images/ioc-image2.png
  doc/developer-guides/hld/images/ioc-image20.png
  doc/developer-guides/hld/images/ioc-image21.png
  doc/developer-guides/hld/images/ioc-image22.png
  doc/developer-guides/hld/images/ioc-image3.png
  doc/developer-guides/hld/images/ioc-image4.png
  doc/developer-guides/hld/images/ioc-image8.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in IOC virt
  doc/developer-guides/hld/hv-ioc-virt.rst
  doc/developer-guides/hld/images/ioc-image10.png
  doc/developer-guides/hld/images/ioc-image15.png
  doc/developer-guides/hld/images/ioc-image19.png
  doc/developer-guides/hld/images/ioc-image2.png
  doc/developer-guides/hld/images/ioc-image20.png
  doc/developer-guides/hld/images/ioc-image21.png
  doc/developer-guides/hld/images/ioc-image22.png
  doc/developer-guides/hld/images/ioc-image3.png
  doc/developer-guides/hld/images/ioc-image4.png
  doc/developer-guides/hld/images/ioc-image8.png
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: initialize and save/restore IA32_TSC_AUX MSR for guest
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

misc: life_mngr: add monitor module
  misc/services/life_mngr/life_mngr.service.in
  misc/services/life_mngr/monitor.c
Owners: @ywan170, @shuox

misc: life_mngr: add config module
  misc/services/life_mngr/config.c
  misc/services/life_mngr/config.h
  misc/services/life_mngr/life_mngr.conf
Owners: @ywan170, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
