Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

Update doc/tutorials/nvmx_virtualization.rst
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/tutorials/nvmx_virtualization.rst
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: draft for 2.5 release notes contribution
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

just for CI scripts test
  VERSION
Owners: @anthonyzxu, @dongyaozu

config_tools: Revert "update scenario xml" for MAX_MSIX_TABLE_NUM
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
Owners: @terryzouhao, @NanlinXie

config_tools: modify README file
  misc/config_tools/board_inspector/README
Owners: @terryzouhao, @NanlinXie

Update doc/tutorials/nvmx_virtualization.rst
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add nested virtualization user guide
  doc/develop.rst
  doc/tutorials/images/nvmx_1.png
  doc/tutorials/images/nvmx_arch_1.png
  doc/tutorials/images/nvmx_cfg_1.png
  doc/tutorials/images/nvmx_cfg_2.png
  doc/tutorials/images/nvmx_cfg_3.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/tutorials/nvmx_virtualization.rst
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: draft for 2.5 release notes contribution
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweaks to nvmx virtualization doc
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweaks to nvmx virtualization doc
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update the ACRN on QEMU tutorial with latest kernel config
  doc/tutorials/acrn_on_qemu.rst
  doc/tutorials/images/acrn_qemu_4.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update the ACRN on QEMU tutorial with latest kernel config
  doc/tutorials/acrn_on_qemu.rst
  doc/tutorials/images/acrn_qemu_4.png
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: Revert "update scenario xml" for MAX_MSIX_TABLE_NUM
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
Owners: @terryzouhao, @NanlinXie

config_tools: modify README file
  misc/config_tools/board_inspector/README
Owners: @terryzouhao, @NanlinXie

doc: update TCC feature names in hld overview
  doc/developer-guides/hld/hld-overview.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update GSG with NUC11TNHi5
  doc/getting-started/images/native-ubuntu-on-NVME-3.png
  doc/getting-started/images/native-ubuntu-on-SATA-3.png
  doc/getting-started/images/rt-ind-ubun-hw-1.png
  doc/getting-started/images/rt-ind-ubun-hw-2.png
  doc/getting-started/rt_industry_ubuntu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: clarify doc guidelines
  doc/developer-guides/doc_guidelines.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update TCC feature names in hld overview
  doc/developer-guides/hld/hld-overview.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: clarify doc guidelines
  doc/developer-guides/doc_guidelines.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update supported hardware document
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: clean up the board folders
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/getting-started/building-from-source.rst
  doc/tutorials/rdt_configuration.rst
  misc/config_tools/data/apl-mrb/apl-mrb.xml
  misc/config_tools/data/apl-mrb/hybrid.xml
  misc/config_tools/data/apl-mrb/industry.xml
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-mrb/sdc.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aliaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2-n3350/apl-up2-n3350.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2/apl-up2.xml
  misc/config_tools/data/apl-up2/hybrid.xml
  misc/config_tools/data/apl-up2/industry.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/apl-up2/sdc.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc6cayh/hybrid.xml
  misc/config_tools/data/nuc6cayh/industry.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_vxworks.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_waag.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc6cayh/nuc6cayh.xml
  misc/config_tools/data/nuc6cayh/sdc.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_zephyr.xml
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

doc: update supported hardware document
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update GSG with NUC11TNHi5
  doc/getting-started/images/native-ubuntu-on-NVME-3.png
  doc/getting-started/images/native-ubuntu-on-SATA-3.png
  doc/getting-started/images/rt-ind-ubun-hw-1.png
  doc/getting-started/images/rt-ind-ubun-hw-2.png
  doc/getting-started/rt_industry_ubuntu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: updates to the Getting Started Guide
  doc/getting-started/getting-started.rst
  doc/try.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update the "Supported Hardware" document
  doc/reference/hardware.rst
  doc/try.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update supported hardware document
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update the "Supported Hardware" document
  doc/reference/hardware.rst
  doc/try.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: updates to the Getting Started Guide
  doc/getting-started/getting-started.rst
  doc/try.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix renaming of getting started guide
  doc/conf.py
  doc/getting-started/getting-started.rst
  doc/reference/hardware.rst
  doc/tutorials/gpu-passthru.rst
  doc/tutorials/nvmx_virtualization.rst
  doc/tutorials/pre-launched-rt.rst
  doc/tutorials/run_kata_containers.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: resove conflicting edits to supported hardware
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix renaming of getting started guide
  doc/conf.py
  doc/getting-started/getting-started.rst
  doc/reference/hardware.rst
  doc/tutorials/gpu-passthru.rst
  doc/tutorials/nvmx_virtualization.rst
  doc/tutorials/pre-launched-rt.rst
  doc/tutorials/run_kata_containers.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: resove conflicting edits to supported hardware
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update changed does in release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update changed does in release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix broken links in redirect list
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix broken links in redirect list
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update security advisory for 2.5 release
  doc/asa.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update security advisory for 2.5 release
  doc/asa.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
