Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv: nested: fix bugs in init_vmx_msrs()
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: initialize the XSAVE related processor state for guest
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

config_tools: add a new entry MAX_EFI_MMAP_ENTRIES
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: rename two missed PSRAMs to SSRAMs
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

hv: dbg: sample vmexit data per-pCPU and per-vCPU
  hypervisor/common/hv_main.c
  hypervisor/debug/shell.c
  hypervisor/debug/shell_priv.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/per_cpu.h
  hypervisor/include/debug/profiling.h
  hypervisor/include/public/acrn_common.h
  hypervisor/release/profiling.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update vTPM2 revision to 4
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

hv: mask off LA57 in cpuid
  hypervisor/arch/x86/guest/vcpuid.c
Owners: @anthonyzxu, @dongyaozu

hv: use per platform maximum physical address width
  hypervisor/include/arch/x86/asm/page.h
  misc/config_tools/xforms/board_info.h.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: fix UI issue of creating new settings
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix UI issue of creating new settings
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: rename two missed PSRAMs to SSRAMs
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config_tools: add a new entry MAX_EFI_MMAP_ENTRIES
  boards/v2.6/0015-config_tools-add-a-new-entry-MAX_EFI_MMAP_ENTRIES.patch
Owners: @anthonyzxu, @dongyaozu

hv: dbg: sample vmexit data per-pCPU and per-vCPU
  hypervisor/common/hv_main.c
  hypervisor/debug/shell.c
  hypervisor/debug/shell_priv.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/per_cpu.h
  hypervisor/include/debug/profiling.h
  hypervisor/include/public/acrn_common.h
  hypervisor/release/profiling.c
Owners: @anthonyzxu, @dongyaozu

config_tools: add a new entry MAX_EFI_MMAP_ENTRIES
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: remove the log of sucessfully generating board XML
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove the log of sucessfully generating board XML
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

config-tools: refine log area start address allocation
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

doc: GSG tweaks for DX
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv && config-tool: Rename GUEST_FLAG_TPM2_FIXUP
  hypervisor/include/public/acrn_common.h
  hypervisor/quirks/security_vm_fixup.c
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/library/common.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: Move uuid_is_equal to util.h
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/include/lib/util.h
  misc/hv_prebuild/hv_prebuild.h
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: quirks: SMBIOS passthrough for prelaunched-VM
  hypervisor/arch/x86/guest/vm.c
  hypervisor/quirks/security_vm_fixup.c
  hypervisor/quirks/security_vm_fixup.h
  hypervisor/quirks/smbios.h
Owners: @anthonyzxu, @dongyaozu

doc: GSG tweaks for DX
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: remove the log of sucessfully generating board XML
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove the log of sucessfully generating board XML
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

hv: Move uuid_is_equal to util.h
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/include/lib/util.h
  misc/hv_prebuild/hv_prebuild.h
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: quirks: SMBIOS passthrough for prelaunched-VM
  hypervisor/arch/x86/guest/vm.c
  hypervisor/quirks/security_vm_fixup.c
  hypervisor/quirks/security_vm_fixup.h
  hypervisor/quirks/smbios.h
Owners: @anthonyzxu, @dongyaozu

hv && config-tool: Rename GUEST_FLAG_TPM2_FIXUP
  hypervisor/include/public/acrn_common.h
  hypervisor/quirks/security_vm_fixup.c
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/library/common.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config-tools: refine log area start address allocation
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

doc: additional DX edits to the new GSG
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: additional DX edits to the new GSG
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update UI tool instructions
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/images/choose_scenario.png
  doc/tutorials/images/click_import_board_info_button.png
  doc/tutorials/images/config_app_main_menu.png
  doc/tutorials/images/configure_scenario.png
  doc/tutorials/images/configure_vm_add.png
  doc/tutorials/images/err_acrn_configuration.png
  doc/tutorials/images/generate_launch_script.png
  doc/tutorials/images/select_board_info.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update UI tool instructions
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/images/choose_scenario.png
  doc/tutorials/images/click_import_board_info_button.png
  doc/tutorials/images/config_app_main_menu.png
  doc/tutorials/images/configure_scenario.png
  doc/tutorials/images/configure_vm_add.png
  doc/tutorials/images/err_acrn_configuration.png
  doc/tutorials/images/generate_launch_script.png
  doc/tutorials/images/select_board_info.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: more GSG DX tweaks
  doc/getting-started/getting-started.rst
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: more GSG DX tweaks
  doc/getting-started/getting-started.rst
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

Fix step numbers
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Fix step numbers
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update GSG checkout commits
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: debug: add debug command inj_guest_exp
  hypervisor/debug/shell.c
  hypervisor/debug/shell_priv.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

doc: update GSG checkout commits
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: emulate IA32_EFER and adjust Load EFER VMX controls
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
