Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

doc: Add CODE_OF_CONDUCT to project repo
  CODE_OF_CONDUCT.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update release notes for v2.6 on configuration upgrades
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove remaining GVT-g documentation
  doc/developer-guides/hld/hld-APL_GVT-g.rst
  doc/developer-guides/hld/hld-emulated-devices.rst
  doc/developer-guides/hld/hv-vt-d.rst
  doc/developer-guides/hld/images/APL_GVT-g-DM.png
  doc/developer-guides/hld/images/APL_GVT-g-access-patterns.png
  doc/developer-guides/hld/images/APL_GVT-g-api-forwarding.png
  doc/developer-guides/hld/images/APL_GVT-g-arch.png
  doc/developer-guides/hld/images/APL_GVT-g-direct-display.png
  doc/developer-guides/hld/images/APL_GVT-g-display-virt.png
  doc/developer-guides/hld/images/APL_GVT-g-full-pic.png
  doc/developer-guides/hld/images/APL_GVT-g-graphics-arch.png
  doc/developer-guides/hld/images/APL_GVT-g-hyper-dma.png
  doc/developer-guides/hld/images/APL_GVT-g-indirect-display.png
  doc/developer-guides/hld/images/APL_GVT-g-interrupt-virt.png
  doc/developer-guides/hld/images/APL_GVT-g-ive-use-case.png
  doc/developer-guides/hld/images/APL_GVT-g-mediated-pass-through.png
  doc/developer-guides/hld/images/APL_GVT-g-mem-part.png
  doc/developer-guides/hld/images/APL_GVT-g-pass-through.png
  doc/developer-guides/hld/images/APL_GVT-g-per-vm-shadow.png
  doc/developer-guides/hld/images/APL_GVT-g-perf-critical.png
  doc/developer-guides/hld/images/APL_GVT-g-plane-based.png
  doc/developer-guides/hld/images/APL_GVT-g-scheduling-policy.png
  doc/developer-guides/hld/images/APL_GVT-g-scheduling.png
  doc/developer-guides/hld/images/APL_GVT-g-shared-shadow.png
  doc/developer-guides/hld/images/APL_GVT-g-workload.png
  doc/developer-guides/images/GVT-g-porting-image1.png
  doc/glossary.rst
  doc/release_notes/release_notes_0.1.rst
  doc/release_notes/release_notes_1.0.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/user-guides/acrn-dm-parameters.rst
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: populate default values to all nodes
  misc/config_tools/scenario_config/default_populator.py
Owners: @terryzouhao, @NanlinXie

config-tools: remove acrn:is-tpm-passthrough-board
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

doc: update release notes with new features
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Add CODE_OF_CONDUCT to project repo
  CODE_OF_CONDUCT.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: add priority based scheduler
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/common/hv_main.c
  hypervisor/common/sched_prio.c
  hypervisor/common/schedule.c
  hypervisor/include/arch/x86/asm/per_cpu.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/common/schedule.h
  misc/config_tools/library/hv_cfg_lib.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

Doc: launch L2 guest with ovmf for ACRN on QEMU
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv:change log level for check_vmx_ctrl
  hypervisor/arch/x86/guest/vmcs.c
Owners: @anthonyzxu, @dongyaozu

doc: update release notes with new features
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: launch L2 guest with ovmf for ACRN on QEMU
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Steps to update hybrid and logical_Partition documents
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Steps to update hybrid and logical_Partition documents
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update serial port instructions in scenario GSGs
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update serial port instructions in scenario GSGs
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: nested: fixed vmxoff_vmexit_handler() issue
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: enable multiple active VMCS12 support
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: add priority based scheduler
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/common/hv_main.c
  hypervisor/common/sched_prio.c
  hypervisor/common/schedule.c
  hypervisor/include/arch/x86/asm/per_cpu.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/common/schedule.h
  misc/config_tools/library/hv_cfg_lib.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv:change log level for check_vmx_ctrl
  hypervisor/arch/x86/guest/vmcs.c
Owners: @anthonyzxu, @dongyaozu

doc: update two scheduling algorithm
  doc/tutorials/cpu_sharing.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: create ACRN config tool/board inspector docs
  doc/develop.rst
  doc/getting-started/getting-started.rst
  doc/getting-started/overview_dev.rst
  doc/reference/config-options-launch.rst
  doc/reference/hardware.rst
  doc/reference/hv-make-options.rst
  doc/release_notes/release_notes_2.5.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/acrn_configurator_tool.rst
  doc/tutorials/board_inspector_tool.rst
  doc/tutorials/cpu_sharing.rst
  doc/tutorials/images/choose_launch.png
  doc/tutorials/images/configure_launch.png
  doc/tutorials/images/configure_launch_add.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Address review comments
  doc/develop.rst
  doc/reference/config-options-launch.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/acrn_configurator_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update the ROScube-I GSG with ACRN v2.5
  doc/getting-started/roscube/images/rqi-acrn-config-export-xml.png
  doc/getting-started/roscube/images/rqi-acrn-config-features-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-import-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-scenario-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-select-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-web.png
  doc/getting-started/roscube/roscube-gsg.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/getting-started/roscube/roscube-gsg.rst
  doc/getting-started/roscube/roscube-gsg.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv:change log level for check_vmx_ctrl
  doc/getting-started/getting-started.rst
  hypervisor/arch/x86/guest/vmcs.c
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

doc: add iomem kernel parameter for board inspector
  doc/getting-started/getting-started.rst
  misc/config_tools/board_inspector/README
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

config-tools: pci devices' io-ports passthrough
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

doc: add iomem kernel parameter for board inspector
  doc/getting-started/getting-started.rst
  misc/config_tools/board_inspector/README
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

Update doc/getting-started/roscube/roscube-gsg.rst
  doc/getting-started/roscube/roscube-gsg.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update the ROScube-I GSG with ACRN v2.5
  doc/getting-started/roscube/images/rqi-acrn-config-export-xml.png
  doc/getting-started/roscube/images/rqi-acrn-config-features-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-import-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-scenario-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-select-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-web.png
  doc/getting-started/roscube/roscube-gsg.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove enable ptm tutorial
  doc/develop.rst
  doc/release_notes/release_notes_2.6.rst
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove enable ptm tutorial
  doc/develop.rst
  doc/release_notes/release_notes_2.6.rst
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: nested: enable multiple active VMCS12 support
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: fixed vmxoff_vmexit_handler() issue
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

config-tools: pci devices' io-ports passthrough
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

HV: init e820 before init paging
  hypervisor/arch/x86/cpu.c
  hypervisor/boot/boot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: init e820 before init paging
  hypervisor/arch/x86/cpu.c
  hypervisor/boot/boot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

doc: Update logical_partition documentation
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: deny the launch of VM if pass-thru PIO bar isn't identical mapping
  hypervisor/arch/x86/guest/vm.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
  hypervisor/include/dm/vpci.h
Owners: @anthonyzxu, @dongyaozu
