Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

doc: update GSG with DX recommendations
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update GSG with DX recommendations
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Address review feedback in hld-splitlock.rst
  doc/developer-guides/hld/hld-splitlock.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Change "configuration tool" to "ACRN configurator tool"
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/hld/hld-splitlock.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/glossary.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove unreferenced images
  doc/getting-started/roscube/images/rqi-acrn-architecture.png
  doc/getting-started/roscube/images/rqi-acrn-blkid.png
  doc/getting-started/roscube/images/rqi-acrn-config-export-xml-submit.png
  doc/getting-started/roscube/images/rqi-acrn-config-export-xml.png
  doc/getting-started/roscube/images/rqi-acrn-config-generate-config-submit.png
  doc/getting-started/roscube/images/rqi-acrn-config-generate-config.png
  doc/getting-started/roscube/images/rqi-acrn-config-hv-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-import-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-scenario-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-select-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm0-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm1-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm2-settings1.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm2-settings2.png
  doc/getting-started/roscube/images/rqi-acrn-config-web.png
  doc/getting-started/roscube/images/rqi-acrn-dmesg.png
  doc/getting-started/roscube/images/rqi-acrn-ethernet-lspci.png
  doc/getting-started/roscube/images/rqi-acrn-grub.png
  doc/getting-started/roscube/images/rqi-acrn-grun-40_custom.png
  doc/getting-started/roscube/images/rqi-acrn-hw-connection.jpg
  doc/getting-started/roscube/images/rqi-acrn-kvm-choose-iso.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-cpu-ram.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-firmware.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-name.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-new-vm.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-storage.png
  doc/getting-started/roscube/images/rqi-acrn-rtos-clone.png
  doc/getting-started/roscube/images/rqi-acrn-rtos-ready.png
  doc/getting-started/roscube/images/rqi-acrn-usb-port.png
  doc/getting-started/roscube/images/rqi-pin-definition.png
  doc/tutorials/images/click_import_board_info_button.png
  doc/tutorials/images/config_app_main_menu.png
  doc/tutorials/images/offline_tools_workflow.png
  doc/tutorials/images/select_board_info.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove unreferenced images
  doc/getting-started/roscube/images/rqi-acrn-architecture.png
  doc/getting-started/roscube/images/rqi-acrn-blkid.png
  doc/getting-started/roscube/images/rqi-acrn-config-export-xml-submit.png
  doc/getting-started/roscube/images/rqi-acrn-config-export-xml.png
  doc/getting-started/roscube/images/rqi-acrn-config-generate-config-submit.png
  doc/getting-started/roscube/images/rqi-acrn-config-generate-config.png
  doc/getting-started/roscube/images/rqi-acrn-config-hv-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-import-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-scenario-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-select-board.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm0-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm1-settings.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm2-settings1.png
  doc/getting-started/roscube/images/rqi-acrn-config-vm2-settings2.png
  doc/getting-started/roscube/images/rqi-acrn-config-web.png
  doc/getting-started/roscube/images/rqi-acrn-dmesg.png
  doc/getting-started/roscube/images/rqi-acrn-ethernet-lspci.png
  doc/getting-started/roscube/images/rqi-acrn-grub.png
  doc/getting-started/roscube/images/rqi-acrn-grun-40_custom.png
  doc/getting-started/roscube/images/rqi-acrn-hw-connection.jpg
  doc/getting-started/roscube/images/rqi-acrn-kvm-choose-iso.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-cpu-ram.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-firmware.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-name.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-new-vm.png
  doc/getting-started/roscube/images/rqi-acrn-kvm-storage.png
  doc/getting-started/roscube/images/rqi-acrn-rtos-clone.png
  doc/getting-started/roscube/images/rqi-acrn-rtos-ready.png
  doc/getting-started/roscube/images/rqi-acrn-usb-port.png
  doc/getting-started/roscube/images/rqi-pin-definition.png
  doc/tutorials/images/click_import_board_info_button.png
  doc/tutorials/images/config_app_main_menu.png
  doc/tutorials/images/offline_tools_workflow.png
  doc/tutorials/images/select_board_info.png
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: support at most MAX_VUART_NUM_PER_VM legacy vuarts
  hypervisor/dm/vuart.c
  hypervisor/include/arch/x86/asm/guest/vmx_io.h
Owners: @anthonyzxu, @dongyaozu

doc: Update config tool doc and gsg per UI changes
  doc/getting-started/getting-started.rst
  doc/getting-started/images/gsg_config_board.png
  doc/getting-started/images/gsg_config_launch_default.png
  doc/getting-started/images/gsg_config_launch_generate.png
  doc/getting-started/images/gsg_config_launch_load.png
  doc/getting-started/images/gsg_config_launch_save.png
  doc/getting-started/images/gsg_config_scenario_default.png
  doc/getting-started/images/gsg_config_scenario_load.png
  doc/getting-started/images/gsg_config_scenario_save.png
  doc/tutorials/acrn_configurator_tool.rst
  doc/tutorials/images/choose_launch.png
  doc/tutorials/images/choose_scenario.png
  doc/tutorials/images/configure_launch.png
  doc/tutorials/images/configure_launch_add.png
  doc/tutorials/images/configure_scenario.png
  doc/tutorials/images/generate_launch_script.png
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: optimize run_vcpu() for nested
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

doc: add acrn-dm parameter emul explanation
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: optimize run_vcpu() for nested
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

doc: Update config tool doc and gsg per UI changes
  doc/getting-started/getting-started.rst
  doc/getting-started/images/gsg_config_board.png
  doc/getting-started/images/gsg_config_launch_default.png
  doc/getting-started/images/gsg_config_launch_generate.png
  doc/getting-started/images/gsg_config_launch_load.png
  doc/getting-started/images/gsg_config_launch_save.png
  doc/getting-started/images/gsg_config_scenario_default.png
  doc/getting-started/images/gsg_config_scenario_load.png
  doc/getting-started/images/gsg_config_scenario_save.png
  doc/tutorials/acrn_configurator_tool.rst
  doc/tutorials/images/choose_launch.png
  doc/tutorials/images/choose_scenario.png
  doc/tutorials/images/configure_launch.png
  doc/tutorials/images/configure_launch_add.png
  doc/tutorials/images/configure_scenario.png
  doc/tutorials/images/generate_launch_script.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Delete old files from getting-started folder
  doc/getting-started/images/gsg_config_board.psd
  doc/getting-started/images/gsg_config_launch_default.psd
  doc/getting-started/images/gsg_config_launch_generate.psd
  doc/getting-started/images/gsg_config_launch_load.psd
  doc/getting-started/images/gsg_config_launch_save.psd
  doc/getting-started/images/gsg_config_scenario_default.psd
  doc/getting-started/images/gsg_config_scenario_load.psd
  doc/getting-started/images/gsg_config_scenario_save.psd
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: more scenario name fixes
  doc/developer-guides/hld/hv-dev-passthrough.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add acrn-dm parameter emul explanation
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: remove CONFIG_HV_RAM_SIZE
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/bsp/ld/link_ram.ld.in
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/boot/ld_sym.h
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

hv: enhance e820_alloc_memory could allocate memory than 4G
  hypervisor/arch/x86/e820.c
  hypervisor/include/arch/x86/asm/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: enhance e820_alloc_memory could allocate memory than 4G
  hypervisor/arch/x86/e820.c
  hypervisor/include/arch/x86/asm/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: remove CONFIG_HV_RAM_SIZE
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/bsp/ld/link_ram.ld.in
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/boot/ld_sym.h
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

config_tools: add Board Inspector tool success message
  misc/config_tools/board_inspector/board_inspector.py
Owners: @terryzouhao, @NanlinXie

HV: Fix the problems in ve820 acpi area
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

HV: move the ve820 GPU OpRegion address
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/common/ptdev.h
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

config-tools: move the pre RTVM's SSRAM base GPA
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

doc: more scenario name fixes
  doc/developer-guides/hld/hv-dev-passthrough.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Delete old files from getting-started folder
  doc/getting-started/images/gsg_config_board.psd
  doc/getting-started/images/gsg_config_launch_default.psd
  doc/getting-started/images/gsg_config_launch_generate.psd
  doc/getting-started/images/gsg_config_launch_load.psd
  doc/getting-started/images/gsg_config_launch_save.psd
  doc/getting-started/images/gsg_config_scenario_default.psd
  doc/getting-started/images/gsg_config_scenario_load.psd
  doc/getting-started/images/gsg_config_scenario_save.psd
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: support at most MAX_VUART_NUM_PER_VM legacy vuarts
  hypervisor/dm/vuart.c
  hypervisor/include/arch/x86/asm/guest/vmx_io.h
Owners: @anthonyzxu, @dongyaozu

hv: unmap IOMMU register pages from service VM EPT
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

HV: refine the ve820 tab for pre-VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

hv: initialize IGD offset 0xfc of CFG space for Service VM
  hypervisor/dm/vpci/pci_pt.c
Owners: @anthonyzxu, @dongyaozu

config_tools: add Board Inspector tool success message
  misc/config_tools/board_inspector/board_inspector.py
Owners: @terryzouhao, @NanlinXie

hv: initialize IGD offset 0xfc of CFG space for Service VM
  hypervisor/dm/vpci/pci_pt.c
Owners: @anthonyzxu, @dongyaozu

config_tools: remove HV_RAM_SIZE
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/adl-s-crb/shared.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/partitioned.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-rvp/shared.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/partitioned.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

doc: prepare docs for removal of HV_RAM_SIZE option
  doc/faq.rst
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update Overview with DX recommendations
  doc/getting-started/images/gsg_overview_image_sources.pptx
  doc/getting-started/images/overview_flow.png
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Fix line widths
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: pci: minor bug fix about uninitialized local variable
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

doc: update uses of VHM in doxygen comments
  hypervisor/include/arch/x86/asm/guest/guest_memory.h
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

dm: pci: minor bug fix about uninitialized local variable
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

dm: Refine ACPI device passthrough framework
  devicemodel/core/main.c
  devicemodel/hw/mmio/core.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/include/mmio_dev.h
Owners: @anthonyzxu, @ywan170

dm: TPM2 passthrough for post-launched VM with eventlog support
  devicemodel/hw/mmio/core.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/include/acpi.h
  devicemodel/include/mmio_dev.h
  devicemodel/include/tpm.h
Owners: @anthonyzxu, @ywan170

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
