Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv: VMPTRLD and VMCLEAR VMCS with the common APIs
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/vmx.c
Owners: @anthonyzxu, @dongyaozu

Update doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add more details to GSG for the hybrid scenario
  doc/getting-started/rt_industry_ubuntu.rst
  doc/tutorials/images/ACRN-Hybrid.png
  doc/tutorials/images/hybrid_scenario_on_nuc.png
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: enable PTM through config-tools
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: enable PTM through config-tools
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

hv: vcpuid: passthrough host CPUID leaf.0BH to guest VMs
  hypervisor/arch/x86/guest/vcpuid.c
Owners: @anthonyzxu, @dongyaozu

dm: vmmapi: augment the vm_get_config() vmmapi to include a struct platform_info* parameter
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/public/vhm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

config-tools: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  misc/config_tools/acpi_gen/asl_gen.py
Owners: @terryzouhao, @NanlinXie

dm: acpi: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/include/acpi.h
  devicemodel/include/types.h
Owners: @anthonyzxu, @ywan170

hv: vlapic: use physical APIC IDs as vLAPIC IDs for pre-launched and post-launched VMs
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: hypercall: 72 reserved bytes are used in struct hc_platform_info to pass physical APIC and cat IDs shift to DM
  hypervisor/common/hypercall.c
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

config-tools: enable PTM through config-tools
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: enable PTM through config-tools
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

dm: mitigate reset attack
  devicemodel/core/vmmapi.c
Owners: @anthonyzxu, @ywan170

HV: vpci: Fix do not mask I/O BAR upper 16-bit
  hypervisor/dm/vpci/vdev.c
Owners: @anthonyzxu, @dongyaozu

HV: vpci: Fix do not mask I/O BAR upper 16-bit
  hypervisor/dm/vpci/vdev.c
Owners: @anthonyzxu, @dongyaozu

DM: change 32-bit mmio limit to 3.5G
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

misc: efi-stub: Code refactor
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/multiboot.h
Owners: @anthonyzxu, @dongyaozu

efi-stub: code cleanup
  Makefile
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/container.c
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

DM: change 32-bit mmio limit to 3.5G
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

config-tools: fix guest_flag issue in config xml for adl
  misc/config_tools/data/adl-rvp/industry.xml
Owners: @terryzouhao, @NanlinXie

config_tools: fix the guest_flag error when saving scenario xml
  misc/config_tools/library/common.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix the guest_flag error when saving scenario xml
  misc/config_tools/library/common.py
Owners: @terryzouhao, @NanlinXie

efi-stub: update
  misc/efi-stub/Makefile
  misc/efi-stub/MpService.h
  misc/efi-stub/README.rst
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/clearlinux/acrn.conf
  misc/efi-stub/container.c
  misc/efi-stub/container.h
  misc/efi-stub/efilinux.h
  misc/efi-stub/malloc.c
  misc/efi-stub/pe.c
  misc/efi-stub/stdlib.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu, @dbkinder, @deb-intel

hv: VMPTRLD and VMCLEAR VMCS with the common APIs
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/vmx.c
Owners: @anthonyzxu, @dongyaozu

DM: change 32-bit mmio limit to 3.5G
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

config_tools: fix the guest_flag error when saving scenario xml
  misc/config_tools/library/common.py
Owners: @terryzouhao, @NanlinXie

dm: mitigate reset attack
  devicemodel/core/vmmapi.c
Owners: @anthonyzxu, @ywan170

hv: vlapic: use physical APIC IDs as vLAPIC IDs for pre-launched and post-launched VMs
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: vcpuid: passthrough host CPUID leaf.0BH to guest VMs
  hypervisor/arch/x86/guest/vcpuid.c
Owners: @anthonyzxu, @dongyaozu

hv: hypercall: 72 reserved bytes are used in struct hc_platform_info to pass physical APIC and cat IDs shift to DM
  hypervisor/common/hypercall.c
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

dm: vmmapi: augment the vm_get_config() vmmapi to include a struct platform_info* parameter
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/public/vhm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

config-tools: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  misc/config_tools/acpi_gen/asl_gen.py
Owners: @terryzouhao, @NanlinXie

dm: acpi: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/include/acpi.h
  devicemodel/include/types.h
Owners: @anthonyzxu, @ywan170

hv: VMPTRLD and VMCLEAR VMCS with the common APIs
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/vmx.c
Owners: @anthonyzxu, @dongyaozu

hv: hypercall: 72 reserved bytes are used in struct hc_platform_info to pass physical APIC and cat IDs shift to DM
  hypervisor/common/hypercall.c
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

hv: vcpuid: passthrough host CPUID leaf.0BH to guest VMs
  hypervisor/arch/x86/guest/vcpuid.c
Owners: @anthonyzxu, @dongyaozu

dm: vmmapi: augment the vm_get_config() vmmapi to include a struct platform_info* parameter
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/public/vhm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

dm: acpi: retrieve physical APIC IDs and use them to fill in the ACPI MADT table
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/include/acpi.h
  devicemodel/include/types.h
Owners: @anthonyzxu, @ywan170

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
