Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv: Avoid using SMBIOS major version
  hypervisor/quirks/security_vm_fixup.c
Owners: @anthonyzxu, @dongyaozu

ACRN:DM Release resource when destroy the device
  devicemodel/hw/pci/xhci.c
  devicemodel/hw/platform/usb_pmapper.c
  devicemodel/include/usb_core.h
  devicemodel/include/usb_pmapper.h
Owners: @anthonyzxu, @ywan170

config_tools: update the regex pattern of offline cpu
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove the supprot SRIOV patch
  boards/v2.6/0018-config_tools-support-SRIOV-based-GPU-sharing-in-laun.patch
Owners: @anthonyzxu, @dongyaozu

hv: Avoid using SMBIOS major version
  hypervisor/quirks/security_vm_fixup.c
Owners: @anthonyzxu, @dongyaozu

hv: enable CAT for tgl-rvp
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/rdt.c
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: enlarge PLATFORM_RAM_SIZE in scenario xml files
  boards/adl-s-crb/adl-s-crb.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/adl-s-crb/shared.xml
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
  boards/master/0001-config_tools-add-adl-s-crb-and-icx-rvp-xml-files.patch
  boards/v2.6/0018-config_tools-add-the-PTM-tag-in-scenario-xml-file.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: rename UI menu
  misc/config_tools/config_app/templates/base.html
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/templates/scenario.html
Owners: @terryzouhao, @NanlinXie

doc: tweak GSG DX issues
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweak GSG DX issues
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: refine misc_cfg.h.xsl and lib.xsl
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: update the regex pattern of offline cpu
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

config_tools: rename UI menu
  misc/config_tools/config_app/templates/base.html
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/templates/scenario.html
Owners: @terryzouhao, @NanlinXie

hv: enable CAT for tgl-rvp
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/rdt.c
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

crashlog: fix build issue with e2fsprogs v1.46.2
  misc/debug_tools/acrn_crashlog/acrnprobe/loop.c
Owners: @chengangc, @dizhang417

dm: pci: minor bug fix about uninitialized local variable
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

dm: ensure identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

dm: refine the reserved bar framework
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/gvt.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

hv: pci: fix a minor bug about is_pci_cfg_multifunction
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: refine the reserved bar framework
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/gvt.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

dm: ensure identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

config-tools: add ROOTFS to misc_cfg.h.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: remove the misc_cfg.h.py
  misc/config_tools/board_config/board_cfg_gen.py
  misc/config_tools/board_config/misc_cfg_h.py
Owners: @terryzouhao, @NanlinXie

config-tools: assign a fixed address to log area start address
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config_tools: populate default values in scenario XML
  hypervisor/scripts/makefile/config.mk
  misc/config_tools/scenario_config/default_populator.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: nested: fix bug in syncing EPTP from VMCS12 to VMCS02
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: merge gpa_field_dirty and control_field_dirty flag
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

config-tools: add ROOTFS to misc_cfg.h.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: remove the misc_cfg.h.py
  misc/config_tools/board_config/board_cfg_gen.py
  misc/config_tools/board_config/misc_cfg_h.py
Owners: @terryzouhao, @NanlinXie

config_tools: populate default values in scenario XML
  hypervisor/scripts/makefile/config.mk
  misc/config_tools/scenario_config/default_populator.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

Makefile: add missing deps in top-level and hypervisor Makefile
  Makefile
  hypervisor/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

Makefile: add missing deps in top-level and hypervisor Makefile
  Makefile
  hypervisor/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

dm: pci: minor bug fix about uninitialized local variable
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

hv: pci: fix a minor bug about is_pci_cfg_multifunction
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: pci: destory reseverd PIO BAR when deinit passthrough PCI device
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

hv: nested: merge gpa_field_dirty and control_field_dirty flag
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: fix bug in syncing EPTP from VMCS12 to VMCS02
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

dm: pci: destory reseverd PIO BAR when deinit passthrough PCI device
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

doc: Remove empty section marked "TBD"
  doc/developer-guides/hld/hv-ioc-virt.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Remove empty section marked "TBD"
  doc/developer-guides/hld/hv-ioc-virt.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
