Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

doc: update release notes for v2.5 on configuration upgrades
  doc/release_notes/release_notes_2.4.rst
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: release notes edits
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update release notes for v2.5 on configuration upgrades
  doc/release_notes/release_notes_2.4.rst
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: release notes edits
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

misc: efi-stub: Implement modules loading in container
  misc/efi-stub/container.c
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Set MOR bit before jumping to hypervisor
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Prepare multiboot2 info for HV
  misc/efi-stub/boot.c
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Add helper functions to search/parse multiboot1/2 headers
  misc/efi-stub/Makefile
  misc/efi-stub/multiboot.c
  misc/efi-stub/multiboot.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

misc: efi-stub: Prepare multiboot1 info for HV
  misc/efi-stub/boot.c
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Add barebone container as an implementation of HV_LOADER
  misc/efi-stub/Makefile
  misc/efi-stub/container.c
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

misc: efi-stub: Add helper functions to parse/load ELF32 image
  misc/efi-stub/Makefile
  misc/efi-stub/elf32.c
  misc/efi-stub/elf32.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

misc: efi-stub: Implement boot image loading in container
  misc/efi-stub/container.c
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Barebone efi-stub for secure boot
  misc/efi-stub/Makefile
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/container.h
  misc/efi-stub/efilinux.h
  misc/efi-stub/malloc.c
  misc/efi-stub/multiboot.h
  misc/efi-stub/pe.c
  misc/efi-stub/stdlib.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

doc: add acrn efi-stub user guide
  doc/develop.rst
  doc/tutorials/acrn-secure-boot-with-efi-stub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add acrn efi-stub user guide
  doc/develop.rst
  doc/tutorials/acrn-secure-boot-with-efi-stub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add ACRN efi-stub user guide
  doc/develop.rst
  doc/tutorials/acrn-secure-boot-with-efi-stub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: edit efi-stub tutorial
  doc/tutorials/acrn-secure-boot-with-efi-stub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add acrn efi-stub user guide
  doc/develop.rst
  doc/tutorials/acrn-secure-boot-with-efi-stub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: edit efi-stub tutorial
  doc/tutorials/acrn-secure-boot-with-efi-stub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update nested virtualization user guide
  doc/tutorials/images/nvmx_cfg_1.png
  doc/tutorials/images/nvmx_cfg_2.png
  doc/tutorials/images/nvmx_cfg_3.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update nested virtualization user guide
  doc/tutorials/images/nvmx_cfg_1.png
  doc/tutorials/images/nvmx_cfg_2.png
  doc/tutorials/images/nvmx_cfg_3.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update nested virtualization user guide
  doc/tutorials/images/nvmx_cfg_1.png
  doc/tutorials/images/nvmx_cfg_2.png
  doc/tutorials/images/nvmx_cfg_3.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update v2.5 release notes highlights
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix documentation's issue
  doc/getting-started/getting-started.rst
  doc/reference/hardware.rst
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/schema/config.xsd
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

doc: update v2.5 release notes highlights
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix documentation's issue
  doc/getting-started/getting-started.rst
  doc/reference/hardware.rst
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/schema/config.xsd
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

config_tools: remove nuc11tnbi5 scenario xml except industry.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

doc: update v2.5 release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update v2.5 release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

misc: efi-stub: Set MOR bit before jumping to hypervisor
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Barebone efi-stub for secure boot
  misc/efi-stub/Makefile
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/container.h
  misc/efi-stub/efilinux.h
  misc/efi-stub/malloc.c
  misc/efi-stub/multiboot.h
  misc/efi-stub/pe.c
  misc/efi-stub/stdlib.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

misc: efi-stub: Add helper functions to search/parse multiboot1/2 headers
  misc/efi-stub/Makefile
  misc/efi-stub/multiboot.c
  misc/efi-stub/multiboot.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

misc: efi-stub: Prepare multiboot1 info for HV
  misc/efi-stub/boot.c
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Implement modules loading in container
  misc/efi-stub/container.c
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Add barebone container as an implementation of HV_LOADER
  misc/efi-stub/Makefile
  misc/efi-stub/container.c
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

misc: efi-stub: Implement boot image loading in container
  misc/efi-stub/container.c
Owners: @anthonyzxu, @dongyaozu

misc: efi-stub: Add helper functions to parse/load ELF32 image
  misc/efi-stub/Makefile
  misc/efi-stub/elf32.c
  misc/efi-stub/elf32.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

misc: efi-stub: Prepare multiboot2 info for HV
  misc/efi-stub/boot.c
Owners: @anthonyzxu, @dongyaozu

config_tools: remove nuc11tnbi5 scenario xml except industry.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

doc: update v2.5 release notes with fixed issues list
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie
