Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

hv: inject #GP if guest tries to reprogram pass-thru dev PIO bar
  hypervisor/dm/vpci/vdev.c
Owners: @anthonyzxu, @dongyaozu

dm: identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

hv: refine the VMCS io bitmap handling when pass-thru PIO bar
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

dm: pci: destory reseverd PIO BAR when deinit passthrough PCI device
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

doc: update 'asa.rst' for 2.6 release
  doc/asa.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Update logical_partition documentation
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update 'asa.rst' for 2.6 release
  doc/asa.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: cleanup/update glossary terms
  doc/glossary.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: deny the launch of VM if pass-thru PIO bar isn't identical mapping
  hypervisor/arch/x86/guest/vm.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
  hypervisor/include/dm/vpci.h
Owners: @anthonyzxu, @dongyaozu

hv: inject #GP if guest tries to reprogram pass-thru dev PIO bar
  hypervisor/dm/vpci/vdev.c
Owners: @anthonyzxu, @dongyaozu

doc: update checkout branch in GSG
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: cleanup/update glossary terms
  doc/glossary.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update checkout branch in GSG
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

hv: refine the VMCS io bitmap handling when pass-thru PIO bar
  hypervisor/dm/vpci/pci_pt.c
Owners: @anthonyzxu, @dongyaozu

Address review feedback for launch config options, makefile options, intro
  doc/reference/config-options-launch.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

hv: refine the VMCS io bitmap handling when pass-thru PIO bar
  hypervisor/dm/vpci/pci_pt.c
Owners: @anthonyzxu, @dongyaozu

Doc: Add known issue and fixed issue in release note
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Add default makefile target
  doc/reference/hv-make-options.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: create ACRN config tool/board inspector docs
  doc/develop.rst
  doc/getting-started/getting-started.rst
  doc/getting-started/overview_dev.rst
  doc/reference/config-options-launch.rst
  doc/reference/hardware.rst
  doc/reference/hv-make-options.rst
  doc/release_notes/release_notes_2.5.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/acrn_configurator_tool.rst
  doc/tutorials/board_inspector_tool.rst
  doc/tutorials/cpu_sharing.rst
  doc/tutorials/images/choose_launch.png
  doc/tutorials/images/configure_launch.png
  doc/tutorials/images/configure_launch_add.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Add default makefile target
  doc/reference/hv-make-options.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Address review feedback for launch config options, makefile options, intro
  doc/reference/config-options-launch.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Address review comments
  doc/develop.rst
  doc/reference/config-options-launch.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/acrn_configurator_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix utf8 chars and missing EOF newlines
  doc/develop.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/acrn_configurator_tool.rst
  doc/tutorials/board_inspector_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove draft status on 2.6 release notes
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix utf8 chars and missing EOF newlines
  doc/develop.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/acrn_configurator_tool.rst
  doc/tutorials/board_inspector_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove draft status on 2.6 release notes
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: Add known issue and fixed issue in release note
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update redirects for deleted docs
  doc/conf.py
  doc/getting-started/roscube/roscube-gsg.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update redirects for deleted docs
  doc/conf.py
  doc/getting-started/roscube/roscube-gsg.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add v2.6 to doc menu selector
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add v2.6 to doc menu selector
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: refine the VMCS io bitmap handling when pass-thru PIO bar
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

dm: pci: destory reseverd PIO BAR when deinit passthrough PCI device
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

dm: identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

config_tools: schema: revert to old schema
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

version:2.6
  VERSION
Owners: @anthonyzxu, @dongyaozu

config_tools: schema: revert to old schema
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

config_tools: update board folders in master branch
  boards/adl-rvp/adl-rvp.xml
  boards/adl-rvp/industry.xml
  boards/master/0001-config_tools-add-adl-s-crb-and-icx-rvp-folders.patch
  boards/v2.6/0001-config_tool-add-adl-s-crb.patch
  boards/v2.6/0002-config_tools-update-board-xml-files-for-MAX_MSIX_TAB.patch
  boards/v2.6/0003-config_tools-update-adl-s-crb-scenario-xml-files.patch
  boards/v2.6/0004-config-tools-add-uclock-GP-switch.patch
  boards/v2.6/0005-config_tools-update-ENFORCE_TURNOFF_GP-setting.patch
  boards/v2.6/0006-config_tools-update-launch-xml-for-only-one-NVME.patch
  boards/v2.6/0007-Change-core-allocation-for-ADL-industry.patch
  boards/v2.6/0008-config_tools-update-adl-s-crb-board-xml-file.patch
  boards/v2.6/0009-config_tools-add-icx-rvp-folder.patch
  boards/v2.6/0010-config_tools-update-the-bootargs-in-logical-partitio.patch
  boards/v2.6/0011-config_tools-update-hybrid-xml-files.patch
  boards/v2.6/0012-config-tools-add-SECURITY_VM_FIXUP-config.patch
  boards/v2.6/0013-config_tools-disable-TPM2-passthrough-on-other-platf.patch
  boards/v2.6/0014-config_tools-update-kernel-type.patch
  boards/v2.6/0015-config_tools-add-a-new-entry-MAX_EFI_MMAP_ENTRIES.patch
  boards/v2.6/0016-config_tools-remove-some-useless-tags-in-hybrid.xml.patch
  boards/v2.6/0017-config_tools-update-scenario-xml-files-on-adl-s-crb-.patch
  boards/v2.6/0018-config_tools-add-the-PTM-tag-in-scenario-xml-file.patch
Owners: @anthonyzxu, @dongyaozu
