Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config_tools: add passthru devices for logical partition scenario on ehl
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

doc: update acpica-unix version to latest (20210105)
  doc/getting-started/building-from-source.rst
  doc/getting-started/roscube/roscube-gsg.rst
  doc/getting-started/rt_industry_ubuntu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update path for config editor and desc for some config items
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/schema/config.xsd
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

Add STL enabling patches for v2.4
  stl/v2.4/0001-hv-handle-NMIs-due-to-IBECC-errors.patch
  stl/v2.4/0002-hv-add-hypercalls-to-invoke-STL-tests.patch
Owners: @anthonyzxu, @dongyaozu

hv: vpci: fix msi enable issue under some cases
  hypervisor/dm/vpci/vmsi.c
Owners: @anthonyzxu, @dongyaozu

acrn_manager: create acrnctl configuration folder when starting
  misc/services/acrn_manager/acrnctl.c
Owners: @ywan170, @shuox

Makefile: automatically determine the location of 'iasl'
  Makefile
Owners: @terryzouhao, @NanlinXie

hv/mod_irq: hide arch specific data in irq_desc
  hypervisor/arch/x86/irq.c
  hypervisor/debug/profiling.c
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: split irq initialization into common and arch specific parts
  hypervisor/arch/x86/irq.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: split IRQ handling into common and arch specific parts
  hypervisor/arch/x86/irq.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: decouple irq number reservation from ioapic
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/irq.c
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: split irq.c into arch/x86/irq.c and common/irq.c
  hypervisor/Makefile
  hypervisor/arch/x86/irq.c
  hypervisor/common/irq.c
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/common/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: cleanup x86/irq.h
  hypervisor/include/arch/x86/cpu.h
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move NMI and exception handler out of x86/irq.c
  hypervisor/Makefile
  hypervisor/arch/x86/exception.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/nmi.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move guest interrupt API out of x86/irq.h
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/ucode.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/virtual_cr.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/common/hv_main.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/guest/virq.h
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move IPI declarations out of x86/irq.h
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/arch/x86/notify.h
  hypervisor/include/arch/x86/per_cpu.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: cleanup x86 lapic/ioapic header files
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/lapic.c
  hypervisor/include/arch/x86/ioapic.h
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/arch/x86/lapic.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: do not include x86/irq.h in common/irq.h
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/notify.c
  hypervisor/arch/x86/timer.c
  hypervisor/arch/x86/vtd.c
  hypervisor/common/hypercall.c
  hypervisor/common/irq.c
  hypervisor/common/schedule.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/dm/io_req.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/common/irq.h
Owners: @anthonyzxu, @dongyaozu

doc: update doc for hybrid and logical_partition mode: using_hybrid_mode_on_nuc.rst using_partition_mode_on_nuc.rst
  doc/getting-started/building-from-source.rst
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add 'libxml2-utils' to the list of build dependencies
  doc/getting-started/building-from-source.rst
  doc/getting-started/roscube/roscube-gsg.rst
  doc/getting-started/rt_industry_ubuntu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: loosen IVSHMEM_REGION restriction in schema
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

config-tools: loosen IVSHMEM_REGION restriction in schema
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

doc: update doxygen configuration for API change
  doc/acrn.doxyfile
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add 'libxml2-utils' to the list of build dependencies
  doc/getting-started/building-from-source.rst
  doc/getting-started/roscube/roscube-gsg.rst
  doc/getting-started/rt_industry_ubuntu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update path for config editor and desc for some config items
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/schema/config.xsd
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

doc: update BDF information for 'uart=' hypervisor parameter
  doc/user-guides/hv-parameters.rst
  hypervisor/debug/dbg_cmd.c
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv/mod_irq: split IRQ handling into common and arch specific parts
  hypervisor/arch/x86/irq.c
Owners: @anthonyzxu, @dongyaozu

doc: update doxygen configuration for API change
  doc/acrn.doxyfile
Owners: @dbkinder, @deb-intel, @NanlinXie

hv/mod_irq: split irq.c into arch/x86/irq.c and common/irq.c
  hypervisor/Makefile
  hypervisor/arch/x86/irq.c
  hypervisor/common/irq.c
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/common/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: cleanup x86/irq.h
  hypervisor/include/arch/x86/cpu.h
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move IPI declarations out of x86/irq.h
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/arch/x86/notify.h
  hypervisor/include/arch/x86/per_cpu.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: cleanup x86 lapic/ioapic header files
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/lapic.c
  hypervisor/include/arch/x86/ioapic.h
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/arch/x86/lapic.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move NMI and exception handler out of x86/irq.c
  hypervisor/Makefile
  hypervisor/arch/x86/exception.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/nmi.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: split irq initialization into common and arch specific parts
  hypervisor/arch/x86/irq.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: decouple irq number reservation from ioapic
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/irq.c
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: do not include x86/irq.h in common/irq.h
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/notify.c
  hypervisor/arch/x86/timer.c
  hypervisor/arch/x86/vtd.c
  hypervisor/common/hypercall.c
  hypervisor/common/irq.c
  hypervisor/common/schedule.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/dm/io_req.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/common/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: hide arch specific data in irq_desc
  hypervisor/arch/x86/irq.c
  hypervisor/debug/profiling.c
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move guest interrupt API out of x86/irq.h
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/ucode.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/virtual_cr.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/common/hv_main.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/guest/virq.h
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv: WA: Disable advanced feature of apicv to WA ACRN-6886
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: WA: Disable advanced feature of apicv to WA ACRN-6886
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu
