Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

doc: update our FAQ section
  doc/faq.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: add PTCT configs
  misc/config_tools/acpi_template/ehl-crb-b/PTCT
  misc/config_tools/acpi_template/tgl-rvp/PTCT
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
Owners: @terryzouhao, @NanlinXie

doc: fix misspellings in config option doc
  doc/scripts/configdoc.xsl
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

doc: fix layout of release notes after title case fix
  doc/release_notes/release_notes_0.7.rst
  doc/release_notes/release_notes_0.8.rst
  doc/release_notes/release_notes_1.0.rst
  doc/release_notes/release_notes_1.1.rst
  doc/release_notes/release_notes_1.2.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update doc build instructions
  doc/tutorials/docbuild.rst
  doc/tutorials/images/doc-gen-flow.dot
  doc/tutorials/images/doc-gen-flow.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update a few mis-handled titles
  doc/asa.rst
  doc/developer-guides/hld/hld-security.rst
  doc/release_notes/release_notes_0.1.rst
  doc/release_notes/release_notes_0.2.rst
  doc/release_notes/release_notes_0.3.rst
  doc/release_notes/release_notes_0.4.rst
  doc/release_notes/release_notes_0.5.rst
  doc/release_notes/release_notes_0.6.rst
  doc/release_notes/release_notes_0.7.rst
  doc/release_notes/release_notes_0.8.rst
  doc/release_notes/release_notes_1.0.1.rst
  doc/release_notes/release_notes_1.0.2.rst
  doc/release_notes/release_notes_1.0.rst
  doc/release_notes/release_notes_1.1.rst
  doc/release_notes/release_notes_1.2.rst
  doc/release_notes/release_notes_1.3.rst
  doc/release_notes/release_notes_1.4.rst
  doc/release_notes/release_notes_1.5.rst
  doc/release_notes/release_notes_1.6.1.rst
  doc/release_notes/release_notes_1.6.rst
  doc/release_notes/release_notes_2.0.rst
  doc/release_notes/release_notes_2.1.rst
  doc/release_notes/release_notes_2.2.rst
  doc/release_notes/release_notes_2.3.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update OpenStack and libvirt tutorial
  doc/tutorials/images/OpenStack-06a-create-image-browse.png
  doc/tutorials/images/OpenStack-06b-create-image-select.png
  doc/tutorials/images/OpenStack-06e-create-image.png
  doc/tutorials/images/OpenStack-07a-create-flavor.png
  doc/tutorials/images/OpenStack-07b-flavor-created.png
  doc/tutorials/images/OpenStack-10a-launch-instance-name.png
  doc/tutorials/images/OpenStack-10b-no-new-vol-select-allocated.png
  doc/tutorials/images/OpenStack-10c-select-flavor.png
  doc/tutorials/images/OpenStack-10d-flavor-selected.png
  doc/tutorials/images/OpenStack-10f-select-security-group.png
  doc/tutorials/images/OpenStack-11-wait-for-running-create-snapshot.png
  doc/tutorials/images/OpenStack-11a-manage-floating-ip.png
  doc/tutorials/images/OpenStack-12b-running-topology-instance.png
  doc/tutorials/images/OpenStack-12d-compute-hypervisor.png
  doc/tutorials/setup_openstack_libvirt.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: update fusa_partition scenario
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
Owners: @terryzouhao, @NanlinXie

doc: fix rendering of rightwards arrows
  doc/substitutions.txt
  doc/tutorials/gpu-passthru.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: merge multiboot standard data structures in one header
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot2.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot_priv.h
Owners: @anthonyzxu, @dongyaozu

HV: remove efi support for SOS
  hypervisor/arch/x86/boot/cpu_primary.S
  hypervisor/arch/x86/configs/vacpi.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/zeropage.h
  hypervisor/include/dm/vacpi.h
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: refine acpi rsdp initialize interface
  hypervisor/arch/x86/cpu.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
Owners: @anthonyzxu, @dongyaozu

HV: panic on 0 address when do e820_alloc_memory
  hypervisor/arch/x86/e820.c
Owners: @anthonyzxu, @dongyaozu

hv: Fix incorrect struct definition for ir_bits
  hypervisor/include/arch/x86/apicreg.h
Owners: @anthonyzxu, @dongyaozu

doc: update another few mis-handled titles
  doc/api/GVT-g_api.rst
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-trace-log.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/hv-partitionmode.rst
  doc/developer-guides/hld/ivshmem-hld.rst
  doc/developer-guides/hld/virtio-blk.rst
  doc/developer-guides/hld/virtio-gpio.rst
  doc/developer-guides/hld/virtio-i2c.rst
  doc/tutorials/acrn-secure-boot-with-grub.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/realtime_performance_tuning.rst
  doc/tutorials/trustyACRN.rst
  doc/tutorials/using_windows_as_uos.rst
  doc/tutorials/using_yp.rst
  doc/user-guides/acrn-shell.rst
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update another few mis-handled titles
  doc/api/GVT-g_api.rst
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-trace-log.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/hv-partitionmode.rst
  doc/developer-guides/hld/ivshmem-hld.rst
  doc/developer-guides/hld/virtio-blk.rst
  doc/developer-guides/hld/virtio-gpio.rst
  doc/developer-guides/hld/virtio-i2c.rst
  doc/tutorials/acrn-secure-boot-with-grub.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/realtime_performance_tuning.rst
  doc/tutorials/trustyACRN.rst
  doc/tutorials/using_windows_as_uos.rst
  doc/tutorials/using_yp.rst
  doc/user-guides/acrn-shell.rst
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

DM: xHCI: Fix the USB3.2 device recognition problem.
  devicemodel/hw/pci/xhci.c
  devicemodel/hw/platform/usb_pmapper.c
Owners: @anthonyzxu, @ywan170

HV: merge multiboot standard data structures in one header
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot2.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot_priv.h
Owners: @anthonyzxu, @dongyaozu

HV: panic on 0 address when do e820_alloc_memory
  hypervisor/arch/x86/e820.c
Owners: @anthonyzxu, @dongyaozu

HV: remove efi support for SOS
  hypervisor/arch/x86/boot/cpu_primary.S
  hypervisor/arch/x86/configs/vacpi.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/zeropage.h
  hypervisor/include/dm/vacpi.h
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: refine acpi rsdp initialize interface
  hypervisor/arch/x86/cpu.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
Owners: @anthonyzxu, @dongyaozu

hv: Fix incorrect struct definition for ir_bits
  hypervisor/include/arch/x86/apicreg.h
Owners: @anthonyzxu, @dongyaozu

config-tool: refine software SRAM config of pre-RTVM
  misc/config_tools/board_config/misc_cfg_h.py
Owners: @terryzouhao, @NanlinXie

hv: unmap software region of pre-RTVM from Service VM EPT
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/rtct.h
Owners: @anthonyzxu, @dongyaozu

config-tools: remove "--pm_notify_channel uart" of waag
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config-tools: remove "--pm_notify_channel uart" of waag
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config-tool: refine software SRAM config of pre-RTVM
  misc/config_tools/board_config/misc_cfg_h.py
Owners: @terryzouhao, @NanlinXie

hv: unmap software region of pre-RTVM from Service VM EPT
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/rtct.h
Owners: @anthonyzxu, @dongyaozu

dm: remove _ADR object for PCI Device
  devicemodel/hw/pci/core.c
Owners: @anthonyzxu, @ywan170

dm: declare Processors using the Device operator
  devicemodel/hw/platform/acpi/acpi_pm.c
Owners: @anthonyzxu, @ywan170

dm: declare Processors using the Device operator
  devicemodel/hw/platform/acpi/acpi_pm.c
Owners: @anthonyzxu, @ywan170

dm: remove _ADR object for PCI Device
  devicemodel/hw/pci/core.c
Owners: @anthonyzxu, @ywan170

hv: unmap software region of pre-RTVM from Service VM EPT
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/rtct.h
Owners: @anthonyzxu, @dongyaozu

config-tool: refine software SRAM config of pre-RTVM
  misc/config_tools/board_config/misc_cfg_h.py
Owners: @terryzouhao, @NanlinXie

acrn-config: remove obsolete kernel parameters from APL configurations
  misc/config_tools/data/apl-mrb/hybrid.xml
  misc/config_tools/data/apl-mrb/industry.xml
  misc/config_tools/data/apl-mrb/sdc.xml
  misc/config_tools/data/apl-up2/hybrid.xml
  misc/config_tools/data/apl-up2/industry.xml
  misc/config_tools/data/apl-up2/sdc.xml
Owners: @terryzouhao, @NanlinXie

config-tools: ivshmem support to be shared by multiple vms
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

doc: fix rendering of rightwards arrows
  doc/substitutions.txt
  doc/tutorials/gpu-passthru.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update ACRN Device Model arguments
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: remove "vuart" poweroff channel from default xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
  misc/config_tools/data/ehl-crb-b/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_2uos.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_6uos.xml
  misc/config_tools/data/nuc7i7dnb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/tgl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/tgl-rvp/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i7/sdc_launch_1uos_laag.xml
Owners: @terryzouhao, @NanlinXie

config-tools: remove "vuart" poweroff channel from default xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
  misc/config_tools/data/ehl-crb-b/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_2uos.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_6uos.xml
  misc/config_tools/data/nuc7i7dnb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/tgl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/tgl-rvp/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i7/sdc_launch_1uos_laag.xml
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
