Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

doc: fix link in hardware doc
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix link in hardware doc
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: release notes edits
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

release notes edits (#6255)
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove PTM tutorial for now
  doc/develop.rst
  doc/release_notes/release_notes_2.5.rst
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove PTM tutorial for now
  doc/develop.rst
  doc/release_notes/release_notes_2.5.rst
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: release notes update
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

update as tools changed
  cat/v2.5/0001-rebase-CAT-patch-to-release_v2.5.patch
Owners: @anthonyzxu, @dongyaozu

doc: add 2.5 to version menu choice
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add 2.5 to version menu choice
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

version:v2.5
  VERSION
Owners: @anthonyzxu, @dongyaozu

version: 2.6-unstable
  VERSION
Owners: @anthonyzxu, @dongyaozu

Doc: release notes update
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update known issues list in v2.5 release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update known issues list in v2.5 release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update known issues in 2.5 release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update known issues in 2.5 release notes
  doc/release_notes/release_notes_2.5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

stl/v2.4: add a third patch to adapt to EHL FuSa SW Package 1.0.0 (05/13/2021)
  stl/v2.4/0003-hv-integrate-the-latest-EHL-FuSa-SW-Package-1.0.0.patch
Owners: @anthonyzxu, @dongyaozu

doc: fix doc reference using symbolic link
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix doc reference using symbolic link
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

update to tag-v2.5
  cat/v2.5/0001-rebase-CAT-patch-to-release-tag_v2.5.patch
  cat/v2.5/0001-rebase-CAT-patch-to-release_v2.5.patch
Owners: @anthonyzxu, @dongyaozu

doc: Update address to report security vulnerability
  README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_gpio.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_i2c.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

hv: Use 64 bits definition for 64 bits MSR_IA32_VMX_EPT_VPID_CAP operation
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/asm/cpu_caps.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Keep privilege bits sync in shadow EPT entry
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

dm: Add PCI IDS for EHL/TGL/ADL in GPU passthrough
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pcireg.h
Owners: @anthonyzxu, @ywan170

config_tools: update board_inspector to copy RTCT file
  misc/config_tools/acpi_template/ehl-crb-b/PTCT
  misc/config_tools/acpi_template/tgl-rvp/PTCT
  misc/config_tools/board_inspector/legacy/acpi.py
Owners: @terryzouhao, @NanlinXie

config_tools: update board_inspector to copy RTCT file
  misc/config_tools/acpi_template/ehl-crb-b/PTCT
  misc/config_tools/acpi_template/tgl-rvp/PTCT
  misc/config_tools/board_inspector/legacy/acpi.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix cpu offline issue in launch script
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_gpio.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_i2c.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

dm: rb: only free rb_entry when we remove this entry from the
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_gpio.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_i2c.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170
