Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

devicemodel: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

config_tools: add assert to check if the scenario is valid
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

config_tool: let common.MAX_VM_NUM controlled by scenario data
  misc/config_tools/board_config/board_cfg_gen.py
  misc/config_tools/config_app/views.py
  misc/config_tools/library/common.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

misc: use MAX_VM_NAME_LEN
  misc/services/acrn_manager/acrn_mngr.h
  misc/services/acrn_manager/acrn_vm_ops.c
  misc/services/acrn_manager/acrnctl.c
  misc/services/acrn_manager/acrnctl.h
  misc/services/acrn_manager/acrnd.c
Owners: @ywan170, @shuox

hv: remove UUID
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/common/vm_uuids.h
  hypervisor/include/debug/profiling_internal.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

misc:remove some check related with UUID
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @terryzouhao, @NanlinXie

dm: replace UUID with vmname.
  devicemodel/core/hugetlb.c
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/ioc.c
  devicemodel/include/dm.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

config_tools: remove KATA and replace UUID with vmname to identify a vm
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/common.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/scenario_config/vm_configurations_h.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/static_allocators/lib/lib.py
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

hv: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

config_tool: add vm_name field for launch config
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tool: reformat scenario and launch xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

config_tool: update scenario and launch xml for vm_name support
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

config_tool: update scenario xml for MAX_VM_NUM field
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

config_tool: add GUEST_FLAG_STATIC_VM define in vm_configurations.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: filled vm to MAX_VM_NUM in vm_configurations.c
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

devicemodel: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

misc:remove some check related with UUID
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @terryzouhao, @NanlinXie

hv: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

misc: use MAX_VM_NAME_LEN
  misc/services/acrn_manager/acrn_mngr.h
  misc/services/acrn_manager/acrn_vm_ops.c
  misc/services/acrn_manager/acrnctl.c
  misc/services/acrn_manager/acrnctl.h
  misc/services/acrn_manager/acrnd.c
Owners: @ywan170, @shuox

config_tool: let common.MAX_VM_NUM controlled by scenario data
  misc/config_tools/board_config/board_cfg_gen.py
  misc/config_tools/config_app/views.py
  misc/config_tools/library/common.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: add assert to check if the scenario is valid
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

config_tool: add GUEST_FLAG_STATIC_VM define in vm_configurations.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config_tool: add vm_name field for launch config
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tool: update scenario xml for MAX_VM_NUM field
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

config_tools: filled vm to MAX_VM_NUM in vm_configurations.c
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

hv: remove UUID
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/common/vm_uuids.h
  hypervisor/include/debug/profiling_internal.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

config_tool: reformat scenario and launch xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

config_tools: remove KATA and replace UUID with vmname to identify a vm
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/common.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/scenario_config/vm_configurations_h.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/static_allocators/lib/lib.py
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

dm: replace UUID with vmname.
  devicemodel/core/hugetlb.c
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/ioc.c
  devicemodel/include/dm.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

config_tool: update scenario and launch xml for vm_name support
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update files under generic_code directory
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/generic_board.config
  misc/config_tools/data/generic_board/generic_code/hybrid/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/generic_board.config
  misc/config_tools/data/generic_board/generic_code/partitioned/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/partitioned/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/shared/generic_board.config
  misc/config_tools/data/generic_board/generic_code/shared/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/shared/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/shared/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.h
Owners: @terryzouhao, @NanlinXie

misc: remove HV_RAM_SIZE
  misc/hv_prebuild/static_checks.c
Owners: @terryzouhao, @NanlinXie

config_tools: update files under generic_code directory
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/generic_board.config
  misc/config_tools/data/generic_board/generic_code/hybrid/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/generic_board.config
  misc/config_tools/data/generic_board/generic_code/partitioned/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/partitioned/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/shared/generic_board.config
  misc/config_tools/data/generic_board/generic_code/shared/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/shared/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/shared/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.h
Owners: @terryzouhao, @NanlinXie

misc: remove HV_RAM_SIZE
  misc/hv_prebuild/static_checks.c
Owners: @terryzouhao, @NanlinXie

HV: fix build issue on RELEASE version
  hypervisor/common/efi_mmap.c
Owners: @anthonyzxu, @dongyaozu

config_tools: remove GUEST_FLAG_SECURITY_VM in DM_OWNED_GUEST_FLAG_MASK
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

doc: terminology cleanup in kernel params
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: fix build issue on RELEASE version
  hypervisor/common/efi_mmap.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update files under generic_code directory
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/generic_board.config
  misc/config_tools/data/generic_board/generic_code/hybrid/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/generic_board.config
  misc/config_tools/data/generic_board/generic_code/partitioned/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/partitioned/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/shared/generic_board.config
  misc/config_tools/data/generic_board/generic_code/shared/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/shared/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/shared/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.h
Owners: @terryzouhao, @NanlinXie

misc: remove HV_RAM_SIZE
  misc/hv_prebuild/static_checks.c
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
