Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config-tools: refine get_pt_intx_table and check_pt_intx
  misc/config_tools/library/common.py
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

hv: Enlarge E820_MAX_ENTRIES to 64
  hypervisor/include/arch/x86/asm/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: Rename get_ept_entry() to get_eptp()
  doc/developer-guides/hld/hv-memmgt.rst
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/ept.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv: Wrap same code as a static function
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: Enlarge E820_MAX_ENTRIES to 64
  hypervisor/include/arch/x86/asm/e820.h
Owners: @anthonyzxu, @dongyaozu

hv: deny access to HV owned legacy PIO UART from SOS
  hypervisor/arch/x86/guest/vm.c
  hypervisor/debug/uart16550.c
  hypervisor/include/debug/uart16550.h
  hypervisor/release/console.c
  hypervisor/release/uart16550.c
Owners: @anthonyzxu, @dongyaozu

config-tools: refine get_pt_intx_table and check_pt_intx
  misc/config_tools/library/common.py
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config-tools: refine get_pt_intx_table and check_pt_intx
  misc/config_tools/library/common.py
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

DM: xHCI: Add the trb pointer check
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

dm: remove redundant null check in unregister_mem_init
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

Config_tools: Update XML
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @terryzouhao, @NanlinXie

dm: fix memory leakage risk in create_and_inject_vrtct
  devicemodel/hw/platform/acpi/acpi.c
Owners: @anthonyzxu, @ywan170

doc: update the content about generating board xml
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/board_inspector/README
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

hv: WA ACRN-6886: Interrupt the target CPU and let it do PI with VMENTRY
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

dm: remove redundant null check in unregister_mem_init
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

hv: WA ACRN-6886: Interrupt the target CPU and let it do PI with VMENTRY
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

config_tools: clean up the board folders
  misc/config_tools/data/apl-mrb/apl-mrb.xml
  misc/config_tools/data/apl-mrb/hybrid.xml
  misc/config_tools/data/apl-mrb/industry.xml
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-mrb/sdc.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aliaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2-n3350/apl-up2-n3350.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2/apl-up2.xml
  misc/config_tools/data/apl-up2/hybrid.xml
  misc/config_tools/data/apl-up2/industry.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/apl-up2/sdc.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc6cayh/hybrid.xml
  misc/config_tools/data/nuc6cayh/industry.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_vxworks.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_waag.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc6cayh/nuc6cayh.xml
  misc/config_tools/data/nuc6cayh/sdc.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_zephyr.xml
Owners: @terryzouhao, @NanlinXie

doc: update the ACRN on QEMU tutorial to v2.5
  doc/tutorials/acrn_on_qemu.rst
  doc/tutorials/images/acrn_qemu_4.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix config option display
  doc/scripts/configdoc.xsl
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix config option display
  doc/scripts/configdoc.xsl
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add missing parameters description of launch script xml
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add enabling PTM tutorial and PTM hld discussion
  doc/develop.rst
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/developer-guides/hld/images/PTM-hld-PTM-flow.png
  doc/developer-guides/hld/images/PTM-hld-PTM-passthru.png
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add enabling PTM tutorial and PTM hld discussion
  doc/develop.rst
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/developer-guides/hld/images/PTM-hld-PTM-flow.png
  doc/developer-guides/hld/images/PTM-hld-PTM-passthru.png
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update timer HLD doc after modularization
  doc/developer-guides/hld/hv-timer.rst
  hypervisor/include/arch/x86/asm/tsc.h
  hypervisor/include/common/ticks.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

doc: update the content about generating board xml
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/board_inspector/README
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

doc: add missing parameters description of launch script xml
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: clean up the board folders
  misc/config_tools/data/apl-mrb/apl-mrb.xml
  misc/config_tools/data/apl-mrb/hybrid.xml
  misc/config_tools/data/apl-mrb/industry.xml
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-mrb/sdc.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aliaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2-n3350/apl-up2-n3350.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2/apl-up2.xml
  misc/config_tools/data/apl-up2/hybrid.xml
  misc/config_tools/data/apl-up2/industry.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/apl-up2/sdc.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc6cayh/hybrid.xml
  misc/config_tools/data/nuc6cayh/industry.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_vxworks.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_waag.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc6cayh/nuc6cayh.xml
  misc/config_tools/data/nuc6cayh/sdc.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_zephyr.xml
Owners: @terryzouhao, @NanlinXie

hv: using a dedicate lock
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: add bitmap_clear_lock of split-lock after completing emulation
  hypervisor/arch/x86/guest/splitlock.c
Owners: @anthonyzxu, @dongyaozu

config_tools: add hybrid, hybrid_rt, logical partition scenario on adl board
  misc/config_tools/data/adl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/adl-s-crb/hybrid.xml
  misc/config_tools/data/adl-s-crb/hybrid_rt.xml
  misc/config_tools/data/adl-s-crb/industry_launch_2uos.xml
  misc/config_tools/data/adl-s-crb/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

hv: using a dedicate lock
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: add bitmap_clear_lock of split-lock after completing emulation
  hypervisor/arch/x86/guest/splitlock.c
Owners: @anthonyzxu, @dongyaozu

add dp4 enabling patch for r2.5
  dp4/v2.5/tgl_acpi.patch
  dp4/v2.5/v3-0001-HV-vmsr-allow-read-only-access-to-THERM_STATUS-in.patch
  dp4/v2.5/v3-0002-HV-vmsr-expose-MCA-to-the-selected-VM.patch
  dp4/v2.5/v3-0003-HV-ioapic-allocate-irq-vector-for-pt_intx.patch
  dp4/v2.5/v3-0004-config-tool-xml-add-fusa-poc-xml-for-tgl-rvp.patch
  dp4/v2.5/v3-0005-HV-PCI-expose-cache-line-register-and-fix-SPI-BAR.patch
  dp4/v2.5/v3-0006-config-tools-add-pt_intx-and-p2sb-support-for-tgl.patch
  dp4/v2.5/v3-0007-Expose-SPI-in-the-vACPI-table.patch
Owners: @anthonyzxu, @dongyaozu

HV: modularization: use abi_mmap struct in acrn boot info
  hypervisor/arch/x86/e820.c
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: rename mi_acpi_rsdp_va to acpi_rsdp_va
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: correct bootargs module size
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: create guest efi memmap for SOS VM
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: init hv_e820 from efi mmap if boot from uefi
  hypervisor/arch/x86/e820.c
  hypervisor/boot/boot.c
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu
