Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config_tools: update the regex range of online cpu
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

config_tools: update xml files
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update xml files
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
Owners: @terryzouhao, @NanlinXie

hv && config-tool: Rename GUEST_FLAG_TPM2_FIXUP
  hypervisor/include/public/acrn_common.h
  hypervisor/quirks/security_vm_fixup.c
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/library/common.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: Move uuid_is_equal to util.h
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/include/lib/util.h
  misc/hv_prebuild/hv_prebuild.h
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: quirks: SMBIOS passthrough for prelaunched-VM
  hypervisor/arch/x86/guest/vm.c
  hypervisor/quirks/security_vm_fixup.c
  hypervisor/quirks/security_vm_fixup.h
  hypervisor/quirks/smbios.h
Owners: @anthonyzxu, @dongyaozu

hv: Pass-through IA32_TSC_AUX MSR to L1 guest
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: check the capability of XSAVES/XRSTORS instructions before execution
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: simplify is_lapic_pt_enabled()
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

ACRN:DM: Fix the bug introduced by 977da8f08.
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

config-tools: assign a fixed address to log area start address
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

ACRN:DM: Fix the bug introduced by dea2574819c.
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

ACRN:DM: Fix the bug introduced by 977da8f08.
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

ACRN:DM: Fix the bug introduced by dea2574819c.
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

config_tools: update the logic of getting gpu bdf
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: update the logic of getting gpu bdf
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove some useless tags in hybrid.xml
  boards/v2.6/0016-config_tools-remove-some-useless-tags-in-hybrid.xml.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: update the logic of getting gpu bdf
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: update the logic of getting gpu bdf
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

doc: use "ACRN configurator" name in Overview, GSG
  doc/getting-started/getting-started.rst
  doc/getting-started/images/gsg_overview_image_sources.pptx
  doc/getting-started/images/overview_flow.png
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Doc: ACRN on QEMU changed to CPU Named Model
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: Fix the problem of copy fail when booting pre-launched VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

hv: Add check to ensure vcpu_make_request and signal_event are consistent
  hypervisor/arch/x86/guest/lock_instr_emul.c
  hypervisor/include/common/event.h
Owners: @anthonyzxu, @dongyaozu

HV: Fix the problem of copy fail when booting pre-launched VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

hv: Add check to ensure vcpu_make_request and signal_event are consistent
  hypervisor/arch/x86/guest/lock_instr_emul.c
  hypervisor/include/common/event.h
Owners: @anthonyzxu, @dongyaozu

DM: fix issue when pass-thru native RTCT SSRAM entries
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

doc: update usage of zephyr as pre-launched VM kernel
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update usage of zephyr as pre-launched VM kernel
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: use "ACRN configurator" name in Overview, GSG
  doc/getting-started/getting-started.rst
  doc/getting-started/images/gsg_overview_image_sources.pptx
  doc/getting-started/images/overview_flow.png
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: refine misc_cfg.h.xsl and lib.xsl
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

DM: fix issue when pass-thru native RTCT SSRAM entries
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

dm: fix potential program crash issue in disk_logger
  devicemodel/log/disk_logger.c
Owners: @anthonyzxu, @ywan170

doc: use "ACRN configurator" name in Overview, GSG
  doc/getting-started/getting-started.rst
  doc/getting-started/images/gsg_overview_image_sources.pptx
  doc/getting-started/images/overview_flow.png
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: add functions to handle rdt normalization
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

dm: fix potential program crash issue in disk_logger
  devicemodel/log/disk_logger.c
Owners: @anthonyzxu, @ywan170

dm: fix potential program crash issue in disk_logger
  devicemodel/log/disk_logger.c
Owners: @anthonyzxu, @ywan170

config_tools: update scenario xml files on tgl-rvp platform
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml files on tgl-rvp platform
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
Owners: @terryzouhao, @NanlinXie

dm: fix potential program crash issue in disk_logger
  devicemodel/log/disk_logger.c
Owners: @anthonyzxu, @ywan170

config_tools: update scenario xml files on tgl-rvp platform
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
