Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

misc: remove HV_RAM_SIZE
  misc/hv_prebuild/static_checks.c
Owners: @terryzouhao, @NanlinXie

config_tools: update files under generic_code directory
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/hybrid/generic_board.config
  misc/config_tools/data/generic_board/generic_code/hybrid/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/hybrid/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.aml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/generic_board.config
  misc/config_tools/data/generic_board/generic_code/partitioned/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/partitioned/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/shared/generic_board.config
  misc/config_tools/data/generic_board/generic_code/shared/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/shared/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/shared/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.h
Owners: @terryzouhao, @NanlinXie

hv: port UUID update to release_v2.7
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

dm: use MAX_VM_NAME_LEN instead of MAX_VMNAME_LEN
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/ioc.c
  devicemodel/include/dm.h
Owners: @anthonyzxu, @ywan170

config_tool: add GUEST_FLAG_STATIC_VM define in vm_configurations.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: filled vm to MAX_VM_NUM in vm_configurations.c
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

misc: use MAX_VM_NAME_LEN
  misc/services/acrn_manager/acrn_mngr.h
  misc/services/acrn_manager/acrn_vm_ops.c
  misc/services/acrn_manager/acrnctl.c
  misc/services/acrn_manager/acrnctl.h
  misc/services/acrn_manager/acrnd.c
Owners: @ywan170, @shuox

hv: hypercall: return 0 for empty PX or CX tables
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

dm: Skip injecting _PPC and _PCT when _PSS is not constructed
  devicemodel/hw/platform/acpi/acpi_pm.c
Owners: @anthonyzxu, @ywan170

hv: hypercall: return 0 for empty PX or CX tables
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

dm: Skip injecting _PPC and _PCT when _PSS is not constructed
  devicemodel/hw/platform/acpi/acpi_pm.c
Owners: @anthonyzxu, @ywan170

doc: terminology cleanup in kernel params
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: validate input of virtio_console_control_tx()
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

hv: tee: add an API for creating identical memmap according to e820
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: tee: implement the x86_tee hypercalls
  hypervisor/arch/x86/guest/optee.c
  hypervisor/include/arch/x86/asm/guest/optee.h
Owners: @anthonyzxu, @dongyaozu

hv: tee: add x86_tee hypercall interfaces
  hypervisor/arch/x86/guest/optee.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

hv: tee: add VM flags for x86_tee support
  hypervisor/include/public/acrn_common.h
  misc/config_tools/library/common.py
  misc/config_tools/schema/VMtypes.xsd
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: tee: Support the concept of companion VM
  hypervisor/include/arch/x86/asm/vm_config.h
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: tee: x86_tee interrupt support
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/optee.c
  hypervisor/include/arch/x86/asm/guest/optee.h
Owners: @anthonyzxu, @dongyaozu

hv: tee: add TEE VM memmap support
  hypervisor/Makefile
  hypervisor/arch/x86/guest/optee.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/optee.h
Owners: @anthonyzxu, @dongyaozu

misc: use MAX_VM_NAME_LEN
  misc/services/acrn_manager/acrn_mngr.h
  misc/services/acrn_manager/acrn_vm_ops.c
  misc/services/acrn_manager/acrnctl.c
  misc/services/acrn_manager/acrnctl.h
  misc/services/acrn_manager/acrnd.c
Owners: @ywan170, @shuox

dm: use MAX_VM_NAME_LEN instead of MAX_VMNAME_LEN
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/ioc.c
  devicemodel/include/dm.h
Owners: @anthonyzxu, @ywan170

hv: port UUID update to release_v2.7
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

config_tools: filled vm to MAX_VM_NUM in vm_configurations.c
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config_tool: add GUEST_FLAG_STATIC_VM define in vm_configurations.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

hv: hypercall: return 0 for empty PX or CX tables
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

dm: Skip injecting _PPC and _PCT when _PSS is not constructed
  devicemodel/hw/platform/acpi/acpi_pm.c
Owners: @anthonyzxu, @ywan170
