Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

Add 0005 patch to update ENFORCE_TURNOFF_GP setting to y because it is not able to boot sos while setting ENFORCE_TURNOFF_GP set to N on adl-s-crb platform according to QA's test result.
  boards/v2.6/0005-config_tools-update-ENFORCE_TURNOFF_GP-setting.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: update launch xml for only one NVME
  boards/v2.6/0006-config_tools-update-launch-xml-for-only-one-NVME.patch
Owners: @anthonyzxu, @dongyaozu

hv: uc-lock: Fix do not trap #GP
  hypervisor/arch/x86/guest/vmcs.c
Owners: @anthonyzxu, @dongyaozu

Makefile: add missing deps in top-level and hypervisor Makefile
  Makefile
  hypervisor/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

doc: remove obsolete kconfig references in Makefile
  doc/Makefile
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: remove obsolete kconfig files
  hypervisor/Kconfig
  hypervisor/arch/x86/Kconfig
  hypervisor/scripts/makefile/cfg_update.mk
  hypervisor/scripts/makefile/kconfig.mk
  misc/config_tools/README
  misc/config_tools/board_config/board_c.py
  misc/config_tools/kconfig/LICENSE.kconfiglib
  misc/config_tools/kconfig/defconfig.py
  misc/config_tools/kconfig/generate_header.py
  misc/config_tools/kconfig/savedefconfig.py
  misc/config_tools/kconfig/silentoldconfig.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

board_inspector: add AML templates to board XML
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie

board_inspector: collect inter-device dependency in board XMLs
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add GPIO and generic serial connection parsers
  misc/config_tools/board_inspector/acpiparser/rdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: allow ConstObj to be used as a TermObj
  misc/config_tools/board_inspector/acpiparser/aml/grammar.py
Owners: @terryzouhao, @NanlinXie

board_inspector: resume a device if it is not in D0
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/pcieparser/caps.py
Owners: @terryzouhao, @NanlinXie

board_inspector: scanning all peer root hostbridges in domain 0
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/60-pci.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add conversion to hex string from buffer fields
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
Owners: @terryzouhao, @NanlinXie

board_inspector: make filtering by device status optional
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/extractors/10-processors.py
  misc/config_tools/board_inspector/extractors/20-cache.py
  misc/config_tools/board_inspector/extractors/30-memory.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/extractors/80-lookup.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie

config_tools: generate vDSDT according to allocated resources
  misc/config_tools/acpi_gen/acpi_const.py
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/acpi_template/template/dsdt.asl
  misc/config_tools/acpi_template/template/dsdt_tpm2.asl
  misc/config_tools/acpi_template/template/dsdt_tsn_otn1.asl
Owners: @terryzouhao, @NanlinXie

config_tools: adjust the layout of vACPI images
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @terryzouhao, @NanlinXie

config_tools: allocate interrupt lines among VMs
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/pt_intx.c.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

board_inspector/cli: export PATH to the legacy board parser
  misc/config_tools/board_inspector/cli.py
Owners: @terryzouhao, @NanlinXie

board_inspector/cli: replace `--advanced` with `--basic`
  misc/config_tools/board_inspector/cli.py
Owners: @terryzouhao, @NanlinXie

config_tools: abstract BusDevFunc to the common library module
  misc/config_tools/static_allocators/bdf.py
  misc/config_tools/static_allocators/gpa.py
  misc/config_tools/static_allocators/lib/lib.py
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

board-inspector: collect address bits of processors
  misc/config_tools/board_inspector/cpuparser/cpuids.py
  misc/config_tools/board_inspector/extractors/10-processors.py
Owners: @terryzouhao, @NanlinXie

board_inspector: a workaround to an incorrect interpretation
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: do not use _MAX as the end of a memory region
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

doc: remove obsolete kconfig references in Makefile
  doc/Makefile
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: generate vDSDT according to allocated resources
  misc/config_tools/acpi_gen/acpi_const.py
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/acpi_template/template/dsdt.asl
  misc/config_tools/acpi_template/template/dsdt_tpm2.asl
  misc/config_tools/acpi_template/template/dsdt_tsn_otn1.asl
Owners: @terryzouhao, @NanlinXie

board_inspector: add a parser of PCI routing tables
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/prt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: strip an end tag when concat resource templates
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board-inspector: collect address bits of processors
  misc/config_tools/board_inspector/cpuparser/cpuids.py
  misc/config_tools/board_inspector/extractors/10-processors.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add a property to reflect the encoded IRQs in RDT
  misc/config_tools/board_inspector/acpiparser/rdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: fix scope opening in the AML parser
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add default value to address space descriptors
  misc/config_tools/board_inspector/acpiparser/rdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add interrupt pin routing and usage
  misc/config_tools/board_inspector/acpiparser/rdt.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

board_inspector: do not use _MAX as the end of a memory region
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

board_inspector: fix an opcode peek issue
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: make filtering by device status optional
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/extractors/10-processors.py
  misc/config_tools/board_inspector/extractors/20-cache.py
  misc/config_tools/board_inspector/extractors/30-memory.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/extractors/80-lookup.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie

board_inspector: improve readability and performance of AML parser
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/grammar.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: fix returning nested local variables
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector/cli: replace `--advanced` with `--basic`
  misc/config_tools/board_inspector/cli.py
Owners: @terryzouhao, @NanlinXie

board_inspector: Remove dead code in parser.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add AML templates to board XML
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie
