Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv: minor cleanup of hv_main.c
  hypervisor/common/hv_main.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: GSI of hcall_set_irqline should be checked against target_vm
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

hv: GSI of hcall_set_irqline should be checked against target_vm
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

ACRN:hv: Fix vcpu_dumpreg command hang issue
  hypervisor/debug/shell.c
Owners: @anthonyzxu, @dongyaozu

ACRN:hv: Fix vcpu_dumpreg command hang issue
  hypervisor/debug/shell.c
Owners: @anthonyzxu, @dongyaozu

ACRN:DM: Add pointer check before use the erst
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

ACRN:DM: Add pointer check before use the erst
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

Add bc to build dependencies
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: Kernel load and entry address accept empty string
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: Kernel load and entry address accept empty string
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: refine log area start address allocation
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

Add bc to build dependencies
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: GSI of hcall_set_irqline should be checked against target_vm
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

hv: GSI of hcall_set_irqline should be checked against target_vm
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

hv: minor cleanup of hv_main.c
  hypervisor/common/hv_main.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

ACRN:hv: Fix vcpu_dumpreg command hang issue
  hypervisor/debug/shell.c
Owners: @anthonyzxu, @dongyaozu

ACRN:hv: Fix vcpu_dumpreg command hang issue
  hypervisor/debug/shell.c
Owners: @anthonyzxu, @dongyaozu

config-tools: refine log area start address allocation
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

hv && config-tool: Rename GUEST_FLAG_TPM2_FIXUP
  hypervisor/include/public/acrn_common.h
  hypervisor/quirks/security_vm_fixup.c
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/library/common.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: quirks: SMBIOS passthrough for prelaunched-VM
  hypervisor/arch/x86/guest/vm.c
  hypervisor/quirks/security_vm_fixup.c
  hypervisor/quirks/security_vm_fixup.h
  hypervisor/quirks/smbios.h
Owners: @anthonyzxu, @dongyaozu

hv: Move uuid_is_equal to util.h
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/include/lib/util.h
  misc/hv_prebuild/hv_prebuild.h
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config-tools: Kernel load and entry address accept empty string
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: Kernel load and entry address accept empty string
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

ACRN:DM: Add pointer check before use the erst
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

ACRN:DM: Add pointer check before use the erst
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

hv: debug: add debug command inj_guest_exp
  hypervisor/debug/shell.c
  hypervisor/debug/shell_priv.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: Pass-through IA32_TSC_AUX MSR to L1 guest
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: check the capability of XSAVES/XRSTORS instructions before execution
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: simplify is_lapic_pt_enabled()
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: check the capability of XSAVES/XRSTORS instructions before execution
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update xml files
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update the regex range of online cpu
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

config_tools: update xml files
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
Owners: @terryzouhao, @NanlinXie

ACRN:DM: Add pointer check before use the erst
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

hv: check the capability of XSAVES/XRSTORS instructions before execution
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

ACRN:DM: Add pointer check before use the erst
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

doc: remove hld-vsbl.rst Virtual Slim-Bootloader HLD
  doc/developer-guides/hld/hld-vsbl.rst
  doc/developer-guides/hld/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: remove hld-vsbl.rst Virtual Slim-Bootloader HLD
  doc/developer-guides/hld/hld-vsbl.rst
  doc/developer-guides/hld/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: assign a fixed address to log area start address
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

doc: remove hld-vsbl.rst Virtual Slim-Bootloader HLD
  doc/developer-guides/hld/hld-vsbl.rst
  doc/developer-guides/hld/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
