Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv/mod_timer: split tsc handling code from timer.
  doc/acrn.doxyfile
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/hyperv.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/timer.c
  hypervisor/arch/x86/tsc.c
  hypervisor/arch/x86/vtd.c
  hypervisor/common/hypercall.c
  hypervisor/common/ptdev.c
  hypervisor/common/sched_bvt.c
  hypervisor/common/sched_iorr.c
  hypervisor/common/ticks.c
  hypervisor/debug/console.c
  hypervisor/debug/logmsg.c
  hypervisor/debug/profiling.c
  hypervisor/debug/trace.c
  hypervisor/include/arch/x86/asm/timer.h
  hypervisor/include/arch/x86/asm/tsc.h
  hypervisor/include/common/ticks.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv/mod_timer: separate delay functions from the timer module
  doc/acrn.doxyfile
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/lapic.c
  hypervisor/arch/x86/pm.c
  hypervisor/arch/x86/timer.c
  hypervisor/common/delay.c
  hypervisor/dm/vpci/vsriov.c
  hypervisor/include/arch/x86/asm/timer.h
  hypervisor/include/common/delay.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv/mod_timer: make timer into an arch-independent module
  doc/acrn.doxyfile
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/pm.c
  hypervisor/arch/x86/tsc_deadline_timer.c
  hypervisor/common/timer.c
  hypervisor/debug/console.c
  hypervisor/include/arch/x86/asm/guest/vlapic.h
  hypervisor/include/arch/x86/asm/per_cpu.h
  hypervisor/include/common/ptdev.h
  hypervisor/include/common/schedule.h
  hypervisor/include/common/timer.h
  hypervisor/include/hw/hw_timer.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv/mod_timer: refine timer interface
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/common/ptdev.c
  hypervisor/common/sched_bvt.c
  hypervisor/common/sched_iorr.c
  hypervisor/common/timer.c
  hypervisor/debug/console.c
  hypervisor/include/common/timer.h
Owners: @anthonyzxu, @dongyaozu

board_inspector/acpiparser: enable parsing RTCT v2
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/rtct.py
  misc/config_tools/board_inspector/extractors/20-cache.py
  misc/config_tools/board_inspector/legacy/board_parser.py
  misc/config_tools/board_inspector/legacy/rtct.py
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
  misc/config_tools/static_allocators/gpa.py
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

DM: mmio dev: allocate GPA resource for mmio device
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

DM: Fix deinit_mmio_devs() conflicting type
  devicemodel/include/mmio_dev.h
Owners: @anthonyzxu, @ywan170

DM: TPM: Do not set VTPM and passthough TPM simultaneously
  devicemodel/core/main.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/include/dm.h
Owners: @anthonyzxu, @ywan170

DM: mmio dev: remove hard code device index
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

DM: tpm: remove fixed value TPM_CRB_MMIO_ADDR
  devicemodel/hw/mmio/core.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/hw/platform/tpm/tpm_crb.c
  devicemodel/include/mmio_dev.h
  devicemodel/include/tpm.h
Owners: @anthonyzxu, @ywan170

DM: support mmio dev gpa resource allocation
  devicemodel/hw/mmio/core.c
  devicemodel/include/mmio_dev.h
Owners: @anthonyzxu, @ywan170

efi-stub: add acrn elf boot support
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/container.c
  misc/efi-stub/container.h
Owners: @anthonyzxu, @dongyaozu

config_tools: update board XMLs of ehl-crb-b and tgl-rvp
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @terryzouhao, @NanlinXie

hv/mod_timer: make timer into an arch-independent module
  doc/acrn.doxyfile
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/pm.c
  hypervisor/arch/x86/tsc_deadline_timer.c
  hypervisor/common/timer.c
  hypervisor/debug/console.c
  hypervisor/include/arch/x86/asm/guest/vlapic.h
  hypervisor/include/arch/x86/asm/per_cpu.h
  hypervisor/include/common/ptdev.h
  hypervisor/include/common/schedule.h
  hypervisor/include/common/timer.h
  hypervisor/include/hw/hw_timer.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv/mod_timer: separate delay functions from the timer module
  doc/acrn.doxyfile
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/lapic.c
  hypervisor/arch/x86/pm.c
  hypervisor/arch/x86/timer.c
  hypervisor/common/delay.c
  hypervisor/dm/vpci/vsriov.c
  hypervisor/include/arch/x86/asm/timer.h
  hypervisor/include/common/delay.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv/mod_timer: split tsc handling code from timer.
  doc/acrn.doxyfile
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/hyperv.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/timer.c
  hypervisor/arch/x86/tsc.c
  hypervisor/arch/x86/vtd.c
  hypervisor/common/hypercall.c
  hypervisor/common/ptdev.c
  hypervisor/common/sched_bvt.c
  hypervisor/common/sched_iorr.c
  hypervisor/common/ticks.c
  hypervisor/debug/console.c
  hypervisor/debug/logmsg.c
  hypervisor/debug/profiling.c
  hypervisor/debug/trace.c
  hypervisor/include/arch/x86/asm/timer.h
  hypervisor/include/arch/x86/asm/tsc.h
  hypervisor/include/common/ticks.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv/mod_timer: refine timer interface
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/common/ptdev.c
  hypervisor/common/sched_bvt.c
  hypervisor/common/sched_iorr.c
  hypervisor/common/timer.c
  hypervisor/debug/console.c
  hypervisor/include/common/timer.h
Owners: @anthonyzxu, @dongyaozu

DM: Fix deinit_mmio_devs() conflicting type
  devicemodel/include/mmio_dev.h
Owners: @anthonyzxu, @ywan170

DM: support mmio dev gpa resource allocation
  devicemodel/hw/mmio/core.c
  devicemodel/include/mmio_dev.h
Owners: @anthonyzxu, @ywan170

DM: tpm: remove fixed value TPM_CRB_MMIO_ADDR
  devicemodel/hw/mmio/core.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/hw/platform/tpm/tpm_crb.c
  devicemodel/include/mmio_dev.h
  devicemodel/include/tpm.h
Owners: @anthonyzxu, @ywan170

DM: TPM: Do not set VTPM and passthough TPM simultaneously
  devicemodel/core/main.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/include/dm.h
Owners: @anthonyzxu, @ywan170

DM: mmio dev: allocate GPA resource for mmio device
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

DM: mmio dev: remove hard code device index
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

Doc: update using serial port
  doc/tutorials/images/NUC-serial-port.png
  doc/tutorials/images/NUC11TNH-serial-port-header-to-RS232-cable.png
  doc/tutorials/images/NUC11TNH-serial-port-header.png
  doc/tutorials/images/NUC11TNH-serial-port.png
  doc/tutorials/images/NVMe-M.2-to-PCIe-adaptor.png
  doc/tutorials/images/PCIe-serial-Connection.png
  doc/tutorials/images/PCIe-serial-LeKuo.png
  doc/tutorials/images/PCIe-serial-StarTech.png
  doc/tutorials/using_serial_port.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: editing in using_serial_port.rst
  doc/tutorials/using_serial_port.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: editing in using_serial_port.rst
  doc/tutorials/using_serial_port.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

board_inspector/acpiparser: enable parsing RTCT v2
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/rtct.py
  misc/config_tools/board_inspector/extractors/20-cache.py
  misc/config_tools/board_inspector/legacy/board_parser.py
  misc/config_tools/board_inspector/legacy/rtct.py
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
  misc/config_tools/static_allocators/gpa.py
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: update board XMLs of ehl-crb-b and tgl-rvp
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @terryzouhao, @NanlinXie

dm: PTM: Enable ptm on passthru device
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

dm: PTM: Add a few pci utility functions
  devicemodel/Makefile
  devicemodel/hw/pci/pci_util.c
  devicemodel/include/pci_util.h
Owners: @anthonyzxu, @ywan170

hv: PTM: Add virtual root port
  hypervisor/Makefile
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/dm/vroot_port.h
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

hv: PTM: Create virtual root port
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/dm/vroot_port.h
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: PTM: Get # of children of a pci bridge or pci bus
  devicemodel/hw/pci/pci_util.c
  devicemodel/include/pci_util.h
Owners: @anthonyzxu, @ywan170

dm: PTM: Check PTM root has more than one child
  devicemodel/core/main.c
  devicemodel/hw/pci/pci_util.c
  devicemodel/hw/pci/ptm.c
  devicemodel/include/pci_util.h
Owners: @anthonyzxu, @ywan170

dm: PTM: Check if hw supports ptm
  devicemodel/Makefile
  devicemodel/hw/pci/passthrough.c
  devicemodel/hw/pci/ptm.c
  devicemodel/include/passthru.h
  devicemodel/include/ptm.h
Owners: @anthonyzxu, @ywan170

dm: PTM: Add virtual root port to vm
  devicemodel/hw/pci/ptm.c
  devicemodel/include/passthru.h
  devicemodel/include/ptm.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

build: fix dm and acrn_crashlog build error with gcc-11
  devicemodel/core/mevent.c
  misc/debug_tools/acrn_crashlog/acrnprobe/include/probeutils.h
Owners: @anthonyzxu, @ywan170, @chengangc, @dizhang417

hv: PTM: Create virtual root port
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/dm/vroot_port.h
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

dm: PTM: Enable ptm on passthru device
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

dm: PTM: Add virtual root port to vm
  devicemodel/hw/pci/ptm.c
  devicemodel/include/passthru.h
  devicemodel/include/ptm.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
