Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

doc: update nested virtualization tutorial notation
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update nested virtualization tutorial notation
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix acrn shell command
  doc/user-guides/acrn-shell.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix acrn shell command
  doc/user-guides/acrn-shell.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

add the patch to update scenario xml files to fix the issue that fail to build hypervisor when enable RDT on adl-s-crb platform.
  boards/v2.6/0003-config_tools-update-adl-s-crb-scenario-xml-files.patch
Owners: @anthonyzxu, @dongyaozu

HV: enable #GP for UC lock
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

config-tools: add uclock GP switch
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

HV: rename splitlock file name
  hypervisor/Makefile
  hypervisor/arch/x86/guest/lock_instr_emul.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/lock_instr_emul.h
Owners: @anthonyzxu, @dongyaozu

HV: Fix decode_instruction() trigger #UD for emulating UC-lock
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/include/arch/x86/asm/guest/instr_emul.h
Owners: @anthonyzxu, @dongyaozu

HV: rename split-lock emulation APIs
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/splitlock.h
Owners: @anthonyzxu, @dongyaozu

HV: enable #GP for UC lock
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

HV: re-use split-lock emulation code for uc-lock
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/include/arch/x86/asm/cpu_caps.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @anthonyzxu, @dongyaozu

config-tools: add uclock GP switch
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

hv: debug: Add hv console callback to VM-exit event
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/debug/console.c
  hypervisor/include/debug/console.h
  hypervisor/release/console.c
Owners: @anthonyzxu, @dongyaozu

hv: debug: Add hv console callback to VM-exit event
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/debug/console.c
  hypervisor/include/debug/console.h
  hypervisor/release/console.c
Owners: @anthonyzxu, @dongyaozu

board_inspector: always defer parsing of method bodies
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: fix an opcode peek issue
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: Access I/O registers on-demand and properly
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: interpret DefDivide in DSDT/SSDT
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: return from method call invocation on DefReturn
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: improve readability and performance of AML parser
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/grammar.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
Owners: @terryzouhao, @NanlinXie

board_inspector: fix unregisteration of conditionally disabled objects
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
Owners: @terryzouhao, @NanlinXie

board_inspector: fix scope opening in the AML parser
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: check if BAR base is 0
  misc/config_tools/board_inspector/extractors/60-pci.py
Owners: @terryzouhao, @NanlinXie

config-tools: add tpm2 acpi parser to board_inspector
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/tpm2.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

config-tools: allocae log area start address
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: create virtual acpi of passthrough tpm2
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

config-tools: generate the log area data of tpm2
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

RFC: SMBIOS passthrough
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/public/acrn_common.h
  hypervisor/quirks/smbios.c
  hypervisor/quirks/smbios.h
Owners: @anthonyzxu, @dongyaozu

HV: add mmiodev resource in acrn_mmiodev data structure
  hypervisor/arch/x86/guest/vm.c
  hypervisor/common/hypercall.c
  hypervisor/dm/mmio_dev.c
  hypervisor/include/dm/mmio_dev.h
  hypervisor/include/public/acrn_hv_defs.h
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

DM: add mmio resource to acrn_mmiodev
  devicemodel/hw/mmio/core.c
  devicemodel/include/public/vhm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

HV: TPM: check tpm2 start method and event log
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/acpi.h
  hypervisor/boot/include/boot.h
  hypervisor/quirks/acrn_vm_fixup.c
  hypervisor/quirks/fixup.h
Owners: @anthonyzxu, @dongyaozu

board_inspector: extract Compatible IDs of devices
  misc/config_tools/board_inspector/extractors/50-acpi.py
  misc/config_tools/board_inspector/extractors/90-sorting.py
Owners: @terryzouhao, @NanlinXie

In order to synchronize with the latest code of master, add patch 0004 to add a switch to force disable GP for UC lock using scenario configuration.
  boards/v2.6/0004-config-tools-add-uclock-GP-switch.patch
Owners: @anthonyzxu, @dongyaozu

hv: use ARRAY_SIZE to calc local array size
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

hv: expose PMC to core partition VM
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

HV: add mmiodev resource in acrn_mmiodev data structure
  hypervisor/arch/x86/guest/vm.c
  hypervisor/common/hypercall.c
  hypervisor/dm/mmio_dev.c
  hypervisor/include/dm/mmio_dev.h
  hypervisor/include/public/acrn_hv_defs.h
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

DM: add mmio resource to acrn_mmiodev
  devicemodel/hw/mmio/core.c
  devicemodel/include/public/vhm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

HV: TPM: check tpm2 start method and event log
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/acpi.h
  hypervisor/boot/include/boot.h
  hypervisor/quirks/acrn_vm_fixup.c
  hypervisor/quirks/fixup.h
Owners: @anthonyzxu, @dongyaozu

board_inspector: return from method call invocation on DefReturn
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
