Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config-tools: fix "is_tpm_passthru" always return "False"
  misc/config_tools/library/board_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

hv: page: use dynamic page allocation for pagetable mapping
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/page.h
  misc/config_tools/board_config/vbar_base_h.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: memory: remove get_sworld_memory_base API
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: page: add free_page
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

kv: kconfig: remove some unused ram size kconfig
  doc/faq.rst
  doc/tutorials/acrn-config-details.txt
  hypervisor/arch/x86/Kconfig
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

hv: ept: only treak execution right for large pages
  hypervisor/arch/x86/pagetable.c
Owners: @anthonyzxu, @dongyaozu

hv: ept: build 4KB page mapping in EPT for code pages of rtvm
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: ivshmem: BAR0 size should be 256 Bytes
  hypervisor/dm/vpci/ivshmem.c
Owners: @anthonyzxu, @dongyaozu

dm: align bar base addr to PAGE_SIZE at least
  devicemodel/hw/pci/core.c
Owners: @anthonyzxu, @ywan170

hv: pgatble: move the EPT page table related APIs to ept.c
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: separate common APIs for MMU/EPT
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: pgatble: move the MMU page table related APIs to mmu.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: trusty: move post_uos_sworld_memory into vm.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: move pgtable definition to pgtable.h
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

Add README.rst
  README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: fix "is_tpm_passthru" always return "False"
  misc/config_tools/library/board_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

doc: enablement of software SRAM on ACRN
  doc/develop.rst
  doc/tutorials/enable_software_sram.rst
  doc/tutorials/images/acrn_sw_sram_design.png
  doc/tutorials/images/sw_sram_components.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: please ignore - broken CI doc check test
  doc/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: fix "is_tpm_passthru" always return "False"
  misc/config_tools/library/board_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config-tools: replace "PTDEV_HI_MMIO_START" with "HI_MMIO_START"
  misc/config_tools/board_config/vbar_base_h.py
  misc/config_tools/data/generic_board/generic_code/hybrid/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/industry/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/vbar_base.h
Owners: @terryzouhao, @NanlinXie

config-tools: fix "is_tpm_passthru" always return "False"
  misc/config_tools/library/board_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

doc: update BDF information for 'uart=' hypervisor parameter
  doc/user-guides/hv-parameters.rst
  hypervisor/debug/dbg_cmd.c
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

HV: Revert "HV: remove efi support for SOS"
  hypervisor/arch/x86/boot/cpu_primary.S
  hypervisor/arch/x86/configs/vacpi.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/zeropage.h
  hypervisor/include/dm/vacpi.h
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: Revert "HV: remove efi support for SOS"
  hypervisor/arch/x86/boot/cpu_primary.S
  hypervisor/arch/x86/configs/vacpi.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/zeropage.h
  hypervisor/include/dm/vacpi.h
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

Makefile: create top-level target for the ACRN life_mngr
  Makefile
Owners: @terryzouhao, @NanlinXie

tools: do not build life_mngr by default
  misc/Makefile
Owners: @terryzouhao, @NanlinXie

hv/mod_irq: hide arch specific data in irq_desc
  hypervisor/arch/x86/irq.c
  hypervisor/debug/profiling.c
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: split irq initialization into common and arch specific parts
  hypervisor/arch/x86/irq.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: split IRQ handling into common and arch specific parts
  hypervisor/arch/x86/irq.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: decouple irq number reservation from ioapic
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/irq.c
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: split irq.c into arch/x86/irq.c and common/irq.c
  hypervisor/Makefile
  hypervisor/arch/x86/irq.c
  hypervisor/common/irq.c
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/common/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: cleanup x86/irq.h
  hypervisor/include/arch/x86/cpu.h
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move NMI and exception handler out of x86/irq.c
  hypervisor/Makefile
  hypervisor/arch/x86/exception.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/nmi.c
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move guest interrupt API out of x86/irq.h
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/ucode.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/virtual_cr.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/common/hv_main.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/guest/virq.h
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: move IPI declarations out of x86/irq.h
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/arch/x86/notify.h
  hypervisor/include/arch/x86/per_cpu.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: cleanup x86 lapic/ioapic header files
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/lapic.c
  hypervisor/include/arch/x86/ioapic.h
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/arch/x86/lapic.h
Owners: @anthonyzxu, @dongyaozu

hv/mod_irq: do not include x86/irq.h in common/irq.h
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/notify.c
  hypervisor/arch/x86/timer.c
  hypervisor/arch/x86/vtd.c
  hypervisor/common/hypercall.c
  hypervisor/common/irq.c
  hypervisor/common/schedule.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/dm/io_req.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/irq.h
  hypervisor/include/common/irq.h
Owners: @anthonyzxu, @dongyaozu

config_tools: add passthru devices for logical partition scenario on ehl
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

config_tools: add passthru devices for logical partition scenario on ehl
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

config_tools: add passthru devices for logical partition scenario on ehl
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
Owners: @terryzouhao, @NanlinXie
