Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

Makefile: fixes to bugs that break diffconfig and applydiffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

hv: fix potential crash in write_protect_page()
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

Makefile: remove unnecessary exports
  Makefile
Owners: @terryzouhao, @NanlinXie

Makefile: do not define default BOARD/SCENARIO in top-level Makefile
  Makefile
  hypervisor/scripts/makefile/config.mk
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

Makefile: expose config-related targets to the top-level Makefile
  Makefile
Owners: @terryzouhao, @NanlinXie

Makefile: prefer RELEASE=y|n over RELEASE=0|1
  Makefile
  devicemodel/Makefile
  hypervisor/scripts/makefile/config.mk
  misc/Makefile
  misc/debug_tools/acrn_crashlog/Makefile
  misc/services/acrn_manager/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170, @dongyaozu, @chengangc, @dizhang417, @shuox

Makefile: fixes to bugs that break diffconfig and applydiffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

hv: ept: only treak execution right for large pages
  hypervisor/arch/x86/pagetable.c
Owners: @anthonyzxu, @dongyaozu

hv: ept: build 4KB page mapping in EPT for code pages of rtvm
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: cpu: remove cache_flush_invalidate_all in cpu_dead
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

hv: ept: only treak execution right for large pages
  hypervisor/arch/x86/pagetable.c
Owners: @anthonyzxu, @dongyaozu

hv: ept: build 4KB page mapping in EPT for code pages of rtvm
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: fix potential crash in write_protect_page()
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

refine ept_flush_leaf_page
  hypervisor/arch/x86/guest/ept.c
Owners: @anthonyzxu, @dongyaozu

DM: xHCI: Implement the USB PLS Machine flow spec.
  devicemodel/hw/pci/xhci.c
  devicemodel/hw/platform/usb_pmapper.c
Owners: @anthonyzxu, @ywan170

Makefile: expose config-related targets to the top-level Makefile
  Makefile
Owners: @terryzouhao, @NanlinXie

Makefile: fixes to bugs that break diffconfig and applydiffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

Makefile: remove unnecessary exports
  Makefile
Owners: @terryzouhao, @NanlinXie

Makefile: do not define default BOARD/SCENARIO in top-level Makefile
  Makefile
  hypervisor/scripts/makefile/config.mk
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

Makefile: prefer RELEASE=y|n over RELEASE=0|1
  Makefile
  devicemodel/Makefile
  hypervisor/scripts/makefile/config.mk
  misc/Makefile
  misc/debug_tools/acrn_crashlog/Makefile
  misc/services/acrn_manager/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170, @dongyaozu, @chengangc, @dizhang417, @shuox

config_tools: add psram config in launch config
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

Makefile: enhance misc/Makefile for more intuitive usage
  Makefile
  devicemodel/Makefile
  misc/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170

config_tools: add psram config in launch config
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

hv: cpu: remove cache_flush_invalidate_all in cpu_dead
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

config_tools: add psram config in launch config
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

config_tools: add psram config in launch config
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

doc: fix incorrect info about serial port availability
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

DM: xHCI: Implement the USB PLS Machine flow spec.
  devicemodel/hw/pci/xhci.c
  devicemodel/hw/platform/usb_pmapper.c
Owners: @anthonyzxu, @ywan170

doc: update build-from-source instructions
  doc/getting-started/building-from-source.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/images/GUI_of_menuconfig.png
  doc/tutorials/images/sample_of_defconfig.png
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc/acrn_configuration_tool: refactor the logic flow and contents
  doc/tutorials/acrn_configuration_tool.rst
  doc/tutorials/images/offline_tools_workflow.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: discourage modifications to predefined scenario XMLs
  doc/developer-guides/hld/vuart-virt-hld.rst
  doc/introduction/index.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add missing 'mmio@' description to hypervisor parameters
  doc/user-guides/hv-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Porting and enabled NUC7I7BNB platform
  misc/config_tools/data/nuc7i7bnb/hybrid.xml
  misc/config_tools/data/nuc7i7bnb/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/nuc7i7bnb/industry.xml
  misc/config_tools/data/nuc7i7bnb/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc7i7bnb/industry_launch_1uos_vxworks.xml
  misc/config_tools/data/nuc7i7bnb/industry_launch_1uos_waag.xml
  misc/config_tools/data/nuc7i7bnb/industry_launch_2uos.xml
  misc/config_tools/data/nuc7i7bnb/industry_launch_6uos.xml
  misc/config_tools/data/nuc7i7bnb/logical_partition.xml
  misc/config_tools/data/nuc7i7bnb/nuc7i7dnb.xml
  misc/config_tools/data/nuc7i7bnb/sdc.xml
  misc/config_tools/data/nuc7i7bnb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc7i7bnb/sdc_launch_1uos_zephyr.xml
Owners: @terryzouhao, @NanlinXie

Enabled Intel TCO WatchDog Timer Driver in SOS for NUC7I7BNB
  misc/config_tools/library/board_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

hv: wrap function to check software SRAM support
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/rtcm.h
Owners: @anthonyzxu, @dongyaozu

doc: reformat acrn-dm-parameters; definition list with horizontal rules
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: reformat acrn-dm-parameters; definition list with horizontal rules
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add missing 'mmio@' description to hypervisor parameters
  doc/user-guides/hv-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix incorrect info about serial port availability
  doc/reference/hardware.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: start v2.4 release notes draft
  doc/release_notes/release_notes_2.4.rst
Owners: @dbkinder, @deb-intel, @NanlinXie
