Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config_tools: update scenario xml files on tgl-rvp platform
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
Owners: @terryzouhao, @NanlinXie

config_tools: rename scenario xml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/apic.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/mcfg.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/apic.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/mcfg.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/generic_board.config
  misc/config_tools/data/generic_board/generic_code/partitioned/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/partitioned/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/shared/generic_board.config
  misc/config_tools/data/generic_board/generic_code/shared/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/shared/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/shared/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.h
  misc/config_tools/data/generic_board/shared_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
Owners: @terryzouhao, @NanlinXie

dm: identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

hv: refine the VMCS io bitmap handling when pass-thru PIO bar
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

hv: initialize host IA32_PAT MSR
  hypervisor/arch/x86/mmu.c
Owners: @anthonyzxu, @dongyaozu

hv: check bitmap before calling bitmap_test_and_clear_lock()
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
Owners: @anthonyzxu, @dongyaozu

hv: minor change to SMBIOS version check
  hypervisor/quirks/security_vm_fixup.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update scenario xml files on adl-s-crb platform
  boards/v2.6/0017-config_tools-update-scenario-xml-files-on-adl-s-crb-.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: update scenario xml file on ehl-crb-b platform
  misc/config_tools/data/ehl-crb-b/hybrid.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml file on ehl-crb-b platform
  misc/config_tools/data/ehl-crb-b/hybrid.xml
Owners: @terryzouhao, @NanlinXie

hv: refine the VMCS io bitmap handling when pass-thru PIO bar
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

dm: identical mapping of pass-thru dev PIO bar
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
Owners: @anthonyzxu, @ywan170

hv: minor change to SMBIOS version check
  hypervisor/quirks/security_vm_fixup.c
Owners: @anthonyzxu, @dongyaozu

config-tools: refine misc_cfg.h.xsl and lib.xsl
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

hv: initialize host IA32_PAT MSR
  hypervisor/arch/x86/mmu.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update scenario xml file on ehl-crb-b platform
  misc/config_tools/data/ehl-crb-b/hybrid.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml file on ehl-crb-b platform
  misc/config_tools/data/ehl-crb-b/hybrid.xml
Owners: @terryzouhao, @NanlinXie

config_tools: rename scenario xml
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/apic.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/mcfg.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM0/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/apic.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/dsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/facp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/mcfg.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/rsdp.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/ACPI_VM1/xsdt.asl
  misc/config_tools/data/generic_board/generic_code/partitioned/generic_board.config
  misc/config_tools/data/generic_board/generic_code/partitioned/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/partitioned/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/partitioned/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/partitioned/vm_configurations.h
  misc/config_tools/data/generic_board/generic_code/shared/generic_board.config
  misc/config_tools/data/generic_board/generic_code/shared/ivshmem_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/shared/pci_dev.c
  misc/config_tools/data/generic_board/generic_code/shared/pt_intx.c
  misc/config_tools/data/generic_board/generic_code/shared/vbar_base.h
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/shared/vm_configurations.h
  misc/config_tools/data/generic_board/shared_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
Owners: @terryzouhao, @NanlinXie

hv: check bitmap before calling bitmap_test_and_clear_lock()
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virq.c
Owners: @anthonyzxu, @dongyaozu

ACRN:DM Release resource when destroy the device
  devicemodel/hw/pci/xhci.c
  devicemodel/hw/platform/usb_pmapper.c
  devicemodel/include/usb_core.h
  devicemodel/include/usb_pmapper.h
Owners: @anthonyzxu, @ywan170

Doc: ACRN on QEMU changed to CPU Named Model
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update usage of zephyr as pre-launched VM kernel
  doc/tutorials/using_hybrid_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

crashlog: fix build issue with e2fsprogs v1.46.2
  misc/debug_tools/acrn_crashlog/acrnprobe/loop.c
Owners: @chengangc, @dizhang417

HV: Fix the problem of copy fail when booting pre-launched VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

config_tools: support SRIOV based GPU sharing in launch script
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/pt.py
Owners: @terryzouhao, @NanlinXie

config_tools: support SRIOV based GPU sharing in launch script
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/pt.py
Owners: @terryzouhao, @NanlinXie

config_tools: change core allocation for ADL industry
  boards/v2.6/0007-Change-core-allocation-for-ADL-industry.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: support SRIOV based GPU sharing in launch script
  boards/v2.6/0018-config_tools-support-SRIOV-based-GPU-sharing-in-laun.patch
Owners: @anthonyzxu, @dongyaozu

board_inspector/cli: export PATH to the legacy board parser
  misc/config_tools/board_inspector/cli.py
Owners: @terryzouhao, @NanlinXie

config_tools: rename scenario xml
  boards/adl-s-crb/adl-s-crb.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/adl-s-crb/shared.xml
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
  boards/icx-rvp/icx-rvp.xml
  boards/icx-rvp/shared.xml
  boards/master/0001-config_tools-add-adl-s-crb-and-icx-rvp-xml-files.patch
Owners: @anthonyzxu, @dongyaozu

hv: mmiodev: a minor bug fix about refine acrn_mmiodev data structure
  hypervisor/arch/x86/guest/vm.c
  hypervisor/dm/vgpio.c
  hypervisor/include/dm/vgpio.h
Owners: @anthonyzxu, @dongyaozu

doc: fix broken links to network scripts in HLD
  doc/developer-guides/hld/virtio-net.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix broken links to network scripts in HLD
  doc/developer-guides/hld/virtio-net.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: Fix the problem of copy fail when booting pre-launched VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

ACRN:DM Release resource when destroy the device
  devicemodel/hw/pci/xhci.c
  devicemodel/hw/platform/usb_pmapper.c
  devicemodel/include/usb_core.h
  devicemodel/include/usb_pmapper.h
Owners: @anthonyzxu, @ywan170

board_inspector/cli: export PATH to the legacy board parser
  misc/config_tools/board_inspector/cli.py
Owners: @terryzouhao, @NanlinXie

config_tools: support SRIOV based GPU sharing in launch script
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/pt.py
Owners: @terryzouhao, @NanlinXie

hv: mmiodev: a minor bug fix about refine acrn_mmiodev data structure
  hypervisor/arch/x86/guest/vm.c
  hypervisor/dm/vgpio.c
  hypervisor/include/dm/vgpio.h
Owners: @anthonyzxu, @dongyaozu

config_tools: add the PTM tag in scenario xml file
  boards/adl-s-crb/shared.xml
  boards/master/0001-config_tools-add-adl-s-crb-and-icx-rvp-xml-files.patch
  boards/v2.6/0019-config_tools-add-the-PTM-tag-in-scenario-xml-file.patch
Owners: @anthonyzxu, @dongyaozu

ACRN:DM Release resource when destroy the device
  devicemodel/hw/pci/xhci.c
  devicemodel/hw/platform/usb_pmapper.c
  devicemodel/include/usb_core.h
  devicemodel/include/usb_pmapper.h
Owners: @anthonyzxu, @ywan170
