Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config-tools: refine bin_gen.py arguments and tpm2_acpi_gen
  hypervisor/Makefile
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

HV: add mmiodev resource in acrn_mmiodev data structure
  hypervisor/arch/x86/guest/vm.c
  hypervisor/common/hypercall.c
  hypervisor/dm/mmio_dev.c
  hypervisor/include/dm/mmio_dev.h
  hypervisor/include/public/acrn_hv_defs.h
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: enlarge max size to store RTCT table
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @terryzouhao, @NanlinXie

config_tools: add interface to save config xmls to user defined path in config editor
  misc/config_tools/config_app/configs.py
  misc/config_tools/config_app/controller.py
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/base.html
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: adjust the end of TPM log area
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config_tools: add interface to save config xmls to user defined path in config editor
  misc/config_tools/config_app/configs.py
  misc/config_tools/config_app/controller.py
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/base.html
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

hv: expose PMC to core partition VM
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

hv: use ARRAY_SIZE to calc local array size
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

HV: MMIODEV: delete memory resource before add it to pre-launched VM
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

config_tools: enlarge max size to store RTCT table
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @terryzouhao, @NanlinXie

config_tools: adjust the end of TPM log area
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

HV: MMIODEV: delete memory resource before add it to pre-launched VM
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

hv: relocate ACPI DATA address to 0x7fe00000
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: vpci: modify Interrupt Line Register as writable
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

hv: relocate ACPI DATA address to 0x7fe00000
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: config editor creates default xmls for a new board
  misc/config_tools/config_app/templates/base.html
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

hv: vpci: modify Interrupt Line Register as writable
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

hv: remove the constraint "MMU and EPT must both support large page or not"
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/mmu.c
Owners: @anthonyzxu, @dongyaozu

hv: vpci: modify Interrupt Line Register as writable
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

config_tools: config editor creates default xmls for a new board
  misc/config_tools/config_app/templates/base.html
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

HV: debug: support 64bit BAR pci uart with 32bit space
  hypervisor/debug/uart16550.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: remove load_sw_modules() api
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: set kernel load addr in vm_load.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: load protected mode code only for bzImage
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: refine api of get_bzimage_kernel_load_addr()
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: correct needed size of bzImage kernel
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: set ramdisk load addr in vm_load.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: refine api of get_initrd_load_addr()
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: remove kernel_load_addr in sw_kernel_info struct
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

config_tools: update generic_board folder
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_launch_2uos.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/industry_launch_2uos.xml
  misc/config_tools/data/generic_board/industry_launch_6uos.xml
  misc/config_tools/data/generic_board/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update lpc slot number
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

hv: SMBIOS: add check before SMBIOS probing
  hypervisor/quirks/smbios.c
Owners: @anthonyzxu, @dongyaozu

hv: SMBIOS: add check before SMBIOS probing
  hypervisor/quirks/smbios.c
Owners: @anthonyzxu, @dongyaozu

HV: debug: support 64bit BAR pci uart with 32bit space
  hypervisor/debug/uart16550.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update generic_board folder
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_launch_2uos.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/industry_launch_2uos.xml
  misc/config_tools/data/generic_board/industry_launch_6uos.xml
  misc/config_tools/data/generic_board/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

board_inspector: return from method call invocation on DefReturn
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: interpret DefDivide in DSDT/SSDT
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
Owners: @terryzouhao, @NanlinXie

board_inspector: Access I/O registers on-demand and properly
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: always defer parsing of method bodies
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
Owners: @terryzouhao, @NanlinXie

board_inspector: improve readability and performance of AML parser
  misc/config_tools/board_inspector/acpiparser/aml/context.py
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
  misc/config_tools/board_inspector/acpiparser/aml/grammar.py
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/acpiparser/aml/parser.py
  misc/config_tools/board_inspector/acpiparser/aml/tree.py
  misc/config_tools/board_inspector/acpiparser/aml/visitors.py
  misc/config_tools/board_inspector/acpiparser/dsdt.py
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
