Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

hv: nested: update run_vcpu() function for nested case
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update tgl-rvp scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

doc: add nested virtualization user guide
  doc/develop.rst
  doc/tutorials/images/nested_1.png
  doc/tutorials/images/nested_arch_1.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Config_tools: Update tgl-rvp scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

Config_tools: Update Hybrid Cores
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

HV: vpci: check if address is in VM BAR MMIO space
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/dm/vacpi.h
  hypervisor/include/dm/vpci.h
Owners: @anthonyzxu, @dongyaozu

HV: vpci: refine vbar sizing
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: implement nested VM exit handler
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: implement nested VM exit handler
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update XML
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @terryzouhao, @NanlinXie

Revert "config_tools: save board xml when loading from config tool UI"
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

add CAT patch for v2.5
  cat/v2.5/0001-rebase-CAT-patch-to-release_v2.5.patch
Owners: @anthonyzxu, @dongyaozu

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

hv: remove unnecessary ASSERT in vlapic_write
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: validate input for dmar_free_irte function
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/vtd.c
Owners: @anthonyzxu, @dongyaozu

doc: update the content about generating board xml
  doc/getting-started/roscube/roscube-gsg.rst
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/board_inspector/README
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

doc: update the content about generating board xml
  doc/getting-started/roscube/roscube-gsg.rst
  doc/tutorials/acrn_configuration_tool.rst
  misc/config_tools/board_inspector/README
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

HV: VPCI: Fix too much of pci_vdev_update_vbar_base log
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

config-tools: update qemu.xml
  misc/config_tools/data/qemu/qemu.xml
Owners: @terryzouhao, @NanlinXie

config-tools: update qemu.xml
  misc/config_tools/data/qemu/qemu.xml
Owners: @terryzouhao, @NanlinXie

hv: nested: update run_vcpu() function for nested case
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMLAUNCH and VMRESUME emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: implement nested VM exit handler
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for INVEPT and INVVPID emulation
  hypervisor/Makefile
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update tgl-rvp scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

hv: nested: Create a page pool for shadow EPT construction
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce shadow EPT infrastructure
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

Config_tools: Update Hybrid Cores
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

config-tools: update qemu.xml
  misc/config_tools/data/qemu/qemu.xml
Owners: @terryzouhao, @NanlinXie

config-tools: update qemu.xml
  misc/config_tools/data/qemu/qemu.xml
Owners: @terryzouhao, @NanlinXie

hv: nested: Manage shadow EPTP according to guest VMCS change
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Hide some capability bits from L1 guest
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce L2 VM EPT VIOLATION handler
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
  hypervisor/include/arch/x86/asm/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce shadow EPT release function
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: INVEPT emulation supports shadow EPT
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: audit guest EPT mapping during shadow EPT entries setup
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: update run_vcpu() function for nested case
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for INVEPT and INVVPID emulation
  hypervisor/Makefile
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu
