Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

DM: update the 'acrn-dm' usage information
  devicemodel/core/main.c
Owners: @anthonyzxu, @ywan170

HV: panic on 0 address when do e820_alloc_memory
  hypervisor/arch/x86/e820.c
Owners: @anthonyzxu, @dongyaozu

HV: merge multiboot standard data structures in one header
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot2.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot_priv.h
Owners: @anthonyzxu, @dongyaozu

HV: refine acpi rsdp initialize interface
  hypervisor/arch/x86/cpu.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
Owners: @anthonyzxu, @dongyaozu

HV: merge multiboot standard data structures in one header
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/include/multiboot2.h
  hypervisor/boot/include/multiboot_std.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot_priv.h
Owners: @anthonyzxu, @dongyaozu

HV: panic on 0 address when do e820_alloc_memory
  hypervisor/arch/x86/e820.c
Owners: @anthonyzxu, @dongyaozu

HV: refine acpi rsdp initialize interface
  hypervisor/arch/x86/cpu.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/acpi.h
Owners: @anthonyzxu, @dongyaozu

config_tools: update sbl version of ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
Owners: @terryzouhao, @NanlinXie

config_tools: add sanity check for PSRAM and RDT
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

config-tools: remove "vuart" poweroff channel from default xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
  misc/config_tools/data/ehl-crb-b/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_2uos.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_6uos.xml
  misc/config_tools/data/nuc7i7dnb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/tgl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/tgl-rvp/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i7/sdc_launch_1uos_laag.xml
Owners: @terryzouhao, @NanlinXie

config_tools: add sanity check for PSRAM and RDT
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

config-tools: remove "vuart" poweroff channel from default xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
  misc/config_tools/data/ehl-crb-b/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_2uos.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_6uos.xml
  misc/config_tools/data/nuc7i7dnb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/tgl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/tgl-rvp/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i7/sdc_launch_1uos_laag.xml
Owners: @terryzouhao, @NanlinXie

hv: memory: remove get_sworld_memory_base API
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: page: use dynamic page allocation for pagetable mapping
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: page: add free_page
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

kv: kconfig: remove some unused ram size kconfig
  hypervisor/arch/x86/Kconfig
Owners: @anthonyzxu, @dongyaozu

config_tools: update sbl version of ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
Owners: @terryzouhao, @NanlinXie

config_tools: add sanity check for PSRAM and RDT
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

config_tools: add sanity check for PSRAM and RDT
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

config_tools: update sbl version of ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
Owners: @terryzouhao, @NanlinXie

Makefile: remove unnecessary exports
  Makefile
Owners: @terryzouhao, @NanlinXie

Makefile: prefer RELEASE=y|n over RELEASE=0|1
  Makefile
  devicemodel/Makefile
  hypervisor/scripts/makefile/config.mk
  misc/Makefile
  misc/debug_tools/acrn_crashlog/Makefile
  misc/services/acrn_manager/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170, @dongyaozu, @chengangc, @dizhang417, @shuox

Makefile: fixes to bugs that break diffconfig and applydiffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

Makefile: do not define default BOARD/SCENARIO in top-level Makefile
  Makefile
  hypervisor/scripts/makefile/config.mk
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

Makefile: expose config-related targets to the top-level Makefile
  Makefile
Owners: @terryzouhao, @NanlinXie

hv: page: add free_page
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: memory: remove get_sworld_memory_base API
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/page.c
  hypervisor/include/arch/x86/guest/vm.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: page: use dynamic page allocation for pagetable mapping
  hypervisor/Makefile
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/include/arch/x86/guest/ept.h
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

kv: kconfig: remove some unused ram size kconfig
  hypervisor/arch/x86/Kconfig
Owners: @anthonyzxu, @dongyaozu

misc: life_mngr: allow only one active socket connection in SOS mode
  misc/services/life_mngr/life_mngr.c
Owners: @ywan170, @shuox

dm: graceful failure in pm_vuart
  devicemodel/core/main.c
  devicemodel/core/pm_vuart.c
  devicemodel/include/pm_vuart.h
Owners: @anthonyzxu, @ywan170

misc: life_mngr: allow only one active socket connection in SOS mode
  misc/services/life_mngr/life_mngr.c
Owners: @ywan170, @shuox

dm: graceful failure in pm_vuart
  devicemodel/core/main.c
  devicemodel/core/pm_vuart.c
  devicemodel/include/pm_vuart.h
Owners: @anthonyzxu, @ywan170

DM: update the 'acrn-dm' usage information
  devicemodel/core/main.c
Owners: @anthonyzxu, @ywan170

doc: update ACRN Device Model arguments
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

refine ept_flush_leaf_page
  hypervisor/arch/x86/guest/ept.c
Owners: @anthonyzxu, @dongyaozu

Makefile: prefer RELEASE=y|n over RELEASE=0|1
  Makefile
  devicemodel/Makefile
  hypervisor/scripts/makefile/config.mk
  misc/Makefile
  misc/debug_tools/acrn_crashlog/Makefile
  misc/services/acrn_manager/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170, @dongyaozu, @chengangc, @dizhang417, @shuox

Makefile: do not define default BOARD/SCENARIO in top-level Makefile
  Makefile
  hypervisor/scripts/makefile/config.mk
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

Makefile: remove unnecessary exports
  Makefile
Owners: @terryzouhao, @NanlinXie

Makefile: expose config-related targets to the top-level Makefile
  Makefile
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
