Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

doc: add virtio input element in config doc
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update README for TCM meeting change
  README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Add project CONTRIBUTING repo page
  CONTRIBUTING.rst
  doc/developer-guides/contribute_guidelines.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

add vmx capability check
  hypervisor/arch/x86/cpu_caps.c
Owners: @anthonyzxu, @dongyaozu

hv: vioapic: update remote IRR for lapic-pt
  hypervisor/dm/vioapic.c
Owners: @anthonyzxu, @dongyaozu

hv: irq: identical vector mapping if LAPIC passthough
  hypervisor/arch/x86/guest/assign.c
Owners: @anthonyzxu, @dongyaozu

doc: Add project CONTRIBUTING repo page
  CONTRIBUTING.rst
  doc/developer-guides/contribute_guidelines.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update documentation and grub file
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: update board folders in 1Source
  boards/ehl-crb-b/ehl-crb-b.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  boards/ehl-crb-b/partitioned.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/sdc_launch_1uos_laag.xml
  boards/ehl-crb-b/sdc_launch_1uos_zephyr.xml
  boards/ehl-crb-b/shared.xml
  boards/ehl-crb-b/shared_launch_1uos_hardrt.xml
  boards/ehl-crb-b/shared_launch_1uos_vxworks.xml
  boards/ehl-crb-b/shared_launch_1uos_waag.xml
  boards/ehl-crb-b/shared_launch_2uos.xml
  boards/ehl-crb-b/shared_launch_6uos.xml
  boards/master/0001-config_tools-add-adl-s-crb-and-icx-rvp-xml-files.patch
  boards/master/0001-config_tools-add-board-folders-in-1source.patch
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/partitioned.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
  boards/tgl-rvp/shared_launch_1uos_waag.xml
  boards/tgl-rvp/shared_launch_2uos.xml
  boards/tgl-rvp/shared_launch_6uos.xml
  boards/tgl-rvp/tgl-rvp.xml
Owners: @anthonyzxu, @dongyaozu

Add sample diagrams for user reference.
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Makefile: fix wrong reference to board XML and skip binary in diffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

Makefile: fix wrong reference to board XML and skip binary in diffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

config_tools: add adl-s-crb and icx-rvp folders
  boards/master/0001-config_tools-add-adl-s-crb-and-icx-rvp-folders.patch
  boards/master/0001-config_tools-add-board-folders-in-1source.patch
Owners: @anthonyzxu, @dongyaozu

doc: updated What is ACRN introduction
  doc/developer-guides/hld/hld-overview.rst
  doc/introduction/images/ACRN-Hybrid-RT.png
  doc/introduction/images/ACRN-Industry.png
  doc/introduction/images/ACRN-Logical-Partition.png
  doc/introduction/images/ACRN-V2-SDC-scenario.png
  doc/introduction/images/ACRN-V2-industrial-scenario.png
  doc/introduction/images/ACRN-hybrid-rt-example.png
  doc/introduction/images/ACRN-industry-example.png
  doc/introduction/images/ACRN-partitioned-example.png
  doc/introduction/images/VMX-brief.png
  doc/introduction/images/architecture.png
  doc/introduction/images/boot-flow-2.dot
  doc/introduction/images/boot-flow.dot
  doc/introduction/images/device-model.png
  doc/introduction/images/io-emulation-path.png
  doc/introduction/images/virtio-architecture.png
  doc/introduction/images/virtio-framework-kernel.png
  doc/introduction/images/virtio-framework-userland.png
  doc/introduction/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: updated What is ACRN introduction
  doc/developer-guides/hld/hld-overview.rst
  doc/introduction/images/ACRN-Hybrid-RT.png
  doc/introduction/images/ACRN-Industry.png
  doc/introduction/images/ACRN-Logical-Partition.png
  doc/introduction/images/ACRN-V2-SDC-scenario.png
  doc/introduction/images/ACRN-V2-industrial-scenario.png
  doc/introduction/images/ACRN-hybrid-rt-example.png
  doc/introduction/images/ACRN-industry-example.png
  doc/introduction/images/ACRN-partitioned-example.png
  doc/introduction/images/VMX-brief.png
  doc/introduction/images/architecture.png
  doc/introduction/images/boot-flow-2.dot
  doc/introduction/images/boot-flow.dot
  doc/introduction/images/device-model.png
  doc/introduction/images/io-emulation-path.png
  doc/introduction/images/virtio-architecture.png
  doc/introduction/images/virtio-framework-kernel.png
  doc/introduction/images/virtio-framework-userland.png
  doc/introduction/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Makefile: fix wrong reference to board XML and skip binary in diffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

Makefile: fix wrong reference to board XML and skip binary in diffconfig
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

doc: update documentation and grub file
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Add sample diagrams for user reference.
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add virtio input element in config doc
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix mispellings and formatting
  doc/developer-guides/c_coding_guidelines.rst
  doc/developer-guides/contribute_guidelines.rst
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/graphviz.rst
  doc/developer-guides/hld/hld-APL_GVT-g.rst
  doc/developer-guides/hld/hld-overview.rst
  doc/developer-guides/hld/hld-security.rst
  doc/developer-guides/hld/hv-cpu-virt.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/developer-guides/hld/hv-interrupt.rst
  doc/developer-guides/hld/hv-rdt.rst
  doc/developer-guides/hld/hv-startup.rst
  doc/developer-guides/hld/hv-vm-management.rst
  doc/developer-guides/hld/virtio-console.rst
  doc/developer-guides/trusty.rst
  doc/getting-started/getting-started.rst
  doc/introduction/index.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/pre-launched-rt.rst
  doc/tutorials/rdt_configuration.rst
  doc/tutorials/rtvm_performance_tips.rst
  doc/tutorials/sgx_virtualization.rst
  doc/tutorials/using_serial_port.rst
  doc/tutorials/waag-secure-boot.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix mispellings and formatting
  doc/developer-guides/c_coding_guidelines.rst
  doc/developer-guides/contribute_guidelines.rst
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/graphviz.rst
  doc/developer-guides/hld/hld-APL_GVT-g.rst
  doc/developer-guides/hld/hld-overview.rst
  doc/developer-guides/hld/hld-security.rst
  doc/developer-guides/hld/hv-cpu-virt.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/developer-guides/hld/hv-interrupt.rst
  doc/developer-guides/hld/hv-rdt.rst
  doc/developer-guides/hld/hv-startup.rst
  doc/developer-guides/hld/hv-vm-management.rst
  doc/developer-guides/hld/virtio-console.rst
  doc/developer-guides/trusty.rst
  doc/getting-started/getting-started.rst
  doc/introduction/index.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/pre-launched-rt.rst
  doc/tutorials/rdt_configuration.rst
  doc/tutorials/rtvm_performance_tips.rst
  doc/tutorials/sgx_virtualization.rst
  doc/tutorials/using_serial_port.rst
  doc/tutorials/waag-secure-boot.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: finish renaming vmh to hsm
  doc/developer-guides/VBSK-analysis.rst
  doc/developer-guides/hld/hld-APL_GVT-g.rst
  doc/developer-guides/hld/virtio-net.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: finish renaming vmh to hsm
  doc/developer-guides/VBSK-analysis.rst
  doc/developer-guides/hld/hld-APL_GVT-g.rst
  doc/developer-guides/hld/virtio-net.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: cleanup obsolete nocl redirect doc
  doc/nocl.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: cleanup obsolete nocl redirect doc
  doc/nocl.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: populate default values to all nodes
  misc/config_tools/scenario_config/default_populator.py
Owners: @terryzouhao, @NanlinXie

Add Correct example image
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Add Correct example imaga
  doc/tutorials/using_hybrid_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: refine the logic and UX for IGD pass-thru
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

doc: remove "gpu" parameter when pass-thru IGD
  doc/tutorials/gpu-passthru.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tool: remove "gpu" parameter when pass-thru IGD
  misc/config_tools/data/sample_launch_scripts/nuc/launch_win.sh
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

dm: set pass-thru dev virtual class id
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

doc: update release notes for v2.6 on configuration upgrades
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: set pass-thru dev virtual class id
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

dm: refine the logic and UX for IGD pass-thru
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

config_tool: remove "gpu" parameter when pass-thru IGD
  misc/config_tools/data/sample_launch_scripts/nuc/launch_win.sh
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

doc: remove "gpu" parameter when pass-thru IGD
  doc/tutorials/gpu-passthru.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: remove acrn:is-tpm-passthrough-board
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

doc: remove remaining GVT-g documentation
  doc/developer-guides/hld/hld-APL_GVT-g.rst
  doc/developer-guides/hld/hld-emulated-devices.rst
  doc/developer-guides/hld/hv-vt-d.rst
  doc/developer-guides/hld/images/APL_GVT-g-DM.png
  doc/developer-guides/hld/images/APL_GVT-g-access-patterns.png
  doc/developer-guides/hld/images/APL_GVT-g-api-forwarding.png
  doc/developer-guides/hld/images/APL_GVT-g-arch.png
  doc/developer-guides/hld/images/APL_GVT-g-direct-display.png
  doc/developer-guides/hld/images/APL_GVT-g-display-virt.png
  doc/developer-guides/hld/images/APL_GVT-g-full-pic.png
  doc/developer-guides/hld/images/APL_GVT-g-graphics-arch.png
  doc/developer-guides/hld/images/APL_GVT-g-hyper-dma.png
  doc/developer-guides/hld/images/APL_GVT-g-indirect-display.png
  doc/developer-guides/hld/images/APL_GVT-g-interrupt-virt.png
  doc/developer-guides/hld/images/APL_GVT-g-ive-use-case.png
  doc/developer-guides/hld/images/APL_GVT-g-mediated-pass-through.png
  doc/developer-guides/hld/images/APL_GVT-g-mem-part.png
  doc/developer-guides/hld/images/APL_GVT-g-pass-through.png
  doc/developer-guides/hld/images/APL_GVT-g-per-vm-shadow.png
  doc/developer-guides/hld/images/APL_GVT-g-perf-critical.png
  doc/developer-guides/hld/images/APL_GVT-g-plane-based.png
  doc/developer-guides/hld/images/APL_GVT-g-scheduling-policy.png
  doc/developer-guides/hld/images/APL_GVT-g-scheduling.png
  doc/developer-guides/hld/images/APL_GVT-g-shared-shadow.png
  doc/developer-guides/hld/images/APL_GVT-g-workload.png
  doc/developer-guides/images/GVT-g-porting-image1.png
  doc/glossary.rst
  doc/release_notes/release_notes_0.1.rst
  doc/release_notes/release_notes_1.0.rst
  doc/tutorials/acrn_configuration_tool.rst
  doc/user-guides/acrn-dm-parameters.rst
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
