Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config_tools: update board name in makefile
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

config_tools: update board name in makefile
  hypervisor/scripts/makefile/config.mk
Owners: @anthonyzxu, @dongyaozu

version:2.7-unstable
  VERSION
Owners: @anthonyzxu, @dongyaozu

doc: Update "Enable S5 in ACRN" tutorial
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update images with VHM to use HSM
  doc/developer-guides/hld/images/dm-image108.png
  doc/developer-guides/hld/images/dm-image80.png
  doc/developer-guides/hld/images/dm-image94.png
  doc/developer-guides/hld/images/dm-image96.png
  doc/developer-guides/hld/images/dm-image99.png
  doc/developer-guides/hld/images/hld-pm-image28.png
  doc/developer-guides/hld/images/ioem-image92.png
  doc/developer-guides/hld/images/network-virt-arch.png
  doc/developer-guides/hld/images/security-image-HC-interface-restriction.png
  doc/developer-guides/hld/images/split-dm-image2.png
  doc/developer-guides/hld/images/split-dm-image3.png
  doc/developer-guides/hld/images/virtio-blk-image01.png
  doc/developer-guides/hld/images/virtio-gpio-1.png
  doc/developer-guides/hld/images/virtio-hld-image58.png
  doc/developer-guides/hld/images/virtio-hld-image60.png
  doc/developer-guides/hld/images/virtio-hld-image71.png
  doc/developer-guides/hld/images/virtio-i2c-1.png
  doc/developer-guides/images/vbsk-image2.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update images with VHM to use HSM
  doc/developer-guides/hld/images/dm-image108.png
  doc/developer-guides/hld/images/dm-image80.png
  doc/developer-guides/hld/images/dm-image94.png
  doc/developer-guides/hld/images/dm-image96.png
  doc/developer-guides/hld/images/dm-image99.png
  doc/developer-guides/hld/images/hld-pm-image28.png
  doc/developer-guides/hld/images/ioem-image92.png
  doc/developer-guides/hld/images/network-virt-arch.png
  doc/developer-guides/hld/images/security-image-HC-interface-restriction.png
  doc/developer-guides/hld/images/split-dm-image2.png
  doc/developer-guides/hld/images/split-dm-image3.png
  doc/developer-guides/hld/images/virtio-blk-image01.png
  doc/developer-guides/hld/images/virtio-gpio-1.png
  doc/developer-guides/hld/images/virtio-hld-image58.png
  doc/developer-guides/hld/images/virtio-hld-image60.png
  doc/developer-guides/hld/images/virtio-hld-image71.png
  doc/developer-guides/hld/images/virtio-i2c-1.png
  doc/developer-guides/images/vbsk-image2.png
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: nested: refine vmcs12_read/write_field APIs
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: code cleanup in run_vcpu()
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: update guest RIP only if vcpu->arch.inst_len is non zero
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

doc: GSG apt install command DX improvement
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Update "Enable S5 in ACRN" tutorial
  doc/tutorials/enable_s5.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: GSG apt install command DX improvement
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update uses of VHM in doxygen comments
  hypervisor/include/arch/x86/asm/guest/guest_memory.h
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

doc: missed one more VHM in images
  doc/developer-guides/hld/images/virtio-hld-image58.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: missed one more VHM in images
  doc/developer-guides/hld/images/virtio-hld-image58.png
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: call vcpu_inject_exception() only when ACRN_REQUEST_EXCP is set
  hypervisor/arch/x86/guest/virq.c
Owners: @anthonyzxu, @dongyaozu

hv: operations on vcpu->reg_cached/reg_updated don't need LOCK prefix
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virtual_cr.c
Owners: @anthonyzxu, @dongyaozu

hv: inject external interrupts only if LAPIC is not passthru
  hypervisor/arch/x86/guest/virq.c
Owners: @anthonyzxu, @dongyaozu

doc: update docs and images to match scenario names
  doc/getting-started/getting-started.rst
  doc/getting-started/images/gsg_config_board.png
  doc/getting-started/images/gsg_config_launch_default.png
  doc/getting-started/images/gsg_config_launch_generate.png
  doc/getting-started/images/gsg_config_launch_load.png
  doc/getting-started/images/gsg_config_launch_save.png
  doc/getting-started/images/gsg_config_scenario_default.png
  doc/getting-started/images/gsg_config_scenario_load.png
  doc/getting-started/images/gsg_config_scenario_save.png
  doc/introduction/index.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/cpu_sharing.rst
  doc/tutorials/enable_s5.rst
  doc/tutorials/images/choose_scenario.png
  doc/tutorials/images/configure_launch.png
  doc/tutorials/images/configure_launch_add.png
  doc/tutorials/images/configure_scenario.png
  doc/tutorials/images/configure_vm_add.png
  doc/tutorials/images/generate_launch_script.png
  doc/tutorials/using_partition_mode_on_nuc.rst
  doc/tutorials/using_serial_port.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update docs and images to match scenario names
  doc/getting-started/getting-started.rst
  doc/getting-started/images/gsg_config_board.png
  doc/getting-started/images/gsg_config_launch_default.png
  doc/getting-started/images/gsg_config_launch_generate.png
  doc/getting-started/images/gsg_config_launch_load.png
  doc/getting-started/images/gsg_config_launch_save.png
  doc/getting-started/images/gsg_config_scenario_default.png
  doc/getting-started/images/gsg_config_scenario_load.png
  doc/getting-started/images/gsg_config_scenario_save.png
  doc/introduction/index.rst
  doc/reference/hv-make-options.rst
  doc/tutorials/cpu_sharing.rst
  doc/tutorials/enable_s5.rst
  doc/tutorials/images/choose_scenario.png
  doc/tutorials/images/configure_launch.png
  doc/tutorials/images/configure_launch_add.png
  doc/tutorials/images/configure_scenario.png
  doc/tutorials/images/configure_vm_add.png
  doc/tutorials/images/generate_launch_script.png
  doc/tutorials/using_partition_mode_on_nuc.rst
  doc/tutorials/using_serial_port.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: add the support for vCAT
  misc/config_tools/library/common.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/config_common.xsl
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

hv/config_tools: amend the struct acrn_vm_config to make it compatible with vCAT
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/vm_config.h
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

doc: Change "configuration tool" to "ACRN configurator tool"
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/hld/hld-splitlock.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/glossary.rst
  doc/tutorials/enable_ivshmem.rst
  doc/tutorials/vuart_configuration.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: nested: refine vmcs12_read/write_field APIs
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: code cleanup in run_vcpu()
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: update guest RIP only if vcpu->arch.inst_len is non zero
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: call vcpu_inject_exception() only when ACRN_REQUEST_EXCP is set
  hypervisor/arch/x86/guest/virq.c
Owners: @anthonyzxu, @dongyaozu

hv: operations on vcpu->reg_cached/reg_updated don't need LOCK prefix
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/virtual_cr.c
Owners: @anthonyzxu, @dongyaozu

hv: inject external interrupts only if LAPIC is not passthru
  hypervisor/arch/x86/guest/virq.c
Owners: @anthonyzxu, @dongyaozu

config-tools: allow vm to configure up to 8 legacy vuarts
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/static_allocators/pio.py
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: allocate io-port address for legacy vuarts
  misc/config_tools/static_allocators/gpa.py
  misc/config_tools/static_allocators/pio.py
Owners: @terryzouhao, @NanlinXie

config-tools: refine xpath to pci host bridge
  misc/config_tools/static_allocators/bdf.py
Owners: @terryzouhao, @NanlinXie

config-tools: allocate io-port address for legacy vuarts
  misc/config_tools/static_allocators/gpa.py
  misc/config_tools/static_allocators/pio.py
Owners: @terryzouhao, @NanlinXie

config-tools: allow vm to configure up to 8 legacy vuarts
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/static_allocators/pio.py
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: refine xpath to pci host bridge
  misc/config_tools/static_allocators/bdf.py
Owners: @terryzouhao, @NanlinXie

config_tools: enable GVT-d for pre-launched VM
  boards/ehl-crb-b/fusa_partition.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: add launch xml file for icx-rvp platform
  boards/icx-rvp/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

doc: fix cumulative issues in GSG from DX study
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix cumulative issues in GSG from DX study
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Address review feedback in hld-splitlock.rst
  doc/developer-guides/hld/hld-splitlock.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
