Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

HV: modularization: name change on acrn_multiboot_info
  hypervisor/arch/x86/e820.c
  hypervisor/arch/x86/init.c
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/common/vm_load.c
  hypervisor/debug/console.c
Owners: @anthonyzxu, @dongyaozu

HV: add efi memory map parsing function
  hypervisor/Makefile
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: init hv_e820 from efi mmap if boot from uefi
  hypervisor/arch/x86/e820.c
  hypervisor/boot/boot.c
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: correct bootargs module size
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: move module check to sanitize multiboot info
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/multiboot/multiboot.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: add boot.c to wrap multiboot module
  hypervisor/Makefile
  hypervisor/arch/x86/init.c
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
Owners: @anthonyzxu, @dongyaozu

HV: modularization: use abi_module struct in acrn boot info
  hypervisor/boot/boot.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: avoid pre-launched VM modules being corrupted by SOS kernel load
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: remove mi_flags from acrn boot info
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/debug/console.c
Owners: @anthonyzxu, @dongyaozu

HV: create guest efi memmap for SOS VM
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: add find_space_from_ve820() api
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: add max payload to vrp
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/hw/pci.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

dm: get native rootport's max payload
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

config_tools: update clang-format file
  .clang-format
Owners: @anthonyzxu, @dongyaozu

config-tools: allocate the first unused bar for vmsix
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config_tools: add the missing GUEST_FLAG_NVMX_ENABLED to common.py
  misc/config_tools/library/common.py
Owners: @terryzouhao, @NanlinXie

HV: ramdisk and kernel load addr improve
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update clang-format file
  .clang-format
Owners: @anthonyzxu, @dongyaozu

config-tools: allocate the first unused bar for vmsix
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

HV: remove unused multiboot.h
  hypervisor/boot/include/multiboot.h
Owners: @anthonyzxu, @dongyaozu

config_tools: update scenario xml
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update clang-format file
  .clang-format
Owners: @anthonyzxu, @dongyaozu

config_tools: update clang-format file
  .clang-format
Owners: @anthonyzxu, @dongyaozu

config_tools: update scenario xml
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

ACRN: DM: Free the console in the unify API
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

config_tools: update scenario xml
  misc/config_tools/data/adl-rvp/industry.xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update scenario xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
Owners: @terryzouhao, @NanlinXie

ACRN: DM: Free the console in the unify API
  devicemodel/hw/pci/virtio/virtio_console.c
Owners: @anthonyzxu, @ywan170

HV: remove unused multiboot.h
  hypervisor/boot/include/multiboot.h
Owners: @anthonyzxu, @dongyaozu

HV: ramdisk and kernel load addr improve
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: ramdisk and kernel load addr improve
  doc/tutorials/enable_ivshmem.rst
  hypervisor/boot/guest/vboot_info.c
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

doc: update ivshmem user guide
  doc/tutorials/enable_ivshmem.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update ivshmem user guide
  doc/tutorials/enable_ivshmem.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add nested virtualization user guide
  doc/develop.rst
  doc/tutorials/images/nvmx_1.png
  doc/tutorials/images/nvmx_arch_1.png
  doc/tutorials/images/nvmx_cfg_1.png
  doc/tutorials/images/nvmx_cfg_2.png
  doc/tutorials/images/nvmx_cfg_3.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: add max payload to vrp
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/hw/pci.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

dm: get native rootport's max payload
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

remove version prefix in dp4 patch titles
  dp4/v2.5/0001-HV-vmsr-allow-read-only-access-to-THERM_STATUS-in-VM.patch
  dp4/v2.5/0002-HV-vmsr-expose-MCA-to-the-selected-VM.patch
  dp4/v2.5/0003-HV-ioapic-allocate-irq-vector-for-pt_intx.patch
  dp4/v2.5/0004-config-tool-xml-add-fusa-poc-xml-for-tgl-rvp.patch
  dp4/v2.5/0005-HV-PCI-expose-cache-line-register-and-fix-SPI-BAR-re.patch
  dp4/v2.5/0006-config-tools-add-pt_intx-and-p2sb-support-for-tgl-rv.patch
  dp4/v2.5/0007-Expose-SPI-in-the-vACPI-table.patch
  dp4/v2.5/0008-config-tools-disable-clang-format.patch
  dp4/v2.5/tgl_acpi.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: clean up the board folders
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/getting-started/building-from-source.rst
  doc/tutorials/rdt_configuration.rst
  misc/config_tools/data/apl-mrb/apl-mrb.xml
  misc/config_tools/data/apl-mrb/hybrid.xml
  misc/config_tools/data/apl-mrb/industry.xml
  misc/config_tools/data/apl-mrb/logical_partition.xml
  misc/config_tools/data/apl-mrb/sdc.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_aliaag.xml
  misc/config_tools/data/apl-mrb/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2-n3350/apl-up2-n3350.xml
  misc/config_tools/data/apl-up2-n3350/logical_partition.xml
  misc/config_tools/data/apl-up2-n3350/sdc_launch_1uos_laag.xml
  misc/config_tools/data/apl-up2/apl-up2.xml
  misc/config_tools/data/apl-up2/hybrid.xml
  misc/config_tools/data/apl-up2/industry.xml
  misc/config_tools/data/apl-up2/logical_partition.xml
  misc/config_tools/data/apl-up2/sdc.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_aaag.xml
  misc/config_tools/data/apl-up2/sdc_launch_1uos_laag.xml
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/nuc6cayh/hybrid.xml
  misc/config_tools/data/nuc6cayh/industry.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_vxworks.xml
  misc/config_tools/data/nuc6cayh/industry_launch_1uos_waag.xml
  misc/config_tools/data/nuc6cayh/industry_launch_2uos.xml
  misc/config_tools/data/nuc6cayh/industry_launch_6uos.xml
  misc/config_tools/data/nuc6cayh/logical_partition.xml
  misc/config_tools/data/nuc6cayh/nuc6cayh.xml
  misc/config_tools/data/nuc6cayh/sdc.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_laag.xml
  misc/config_tools/data/nuc6cayh/sdc_launch_1uos_zephyr.xml
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao
