Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @dongyaozu, @NanlinXie, @terryzouhao, @lifeix, @junjiemao1, @ywan170, @chejianj, @dbkinder

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @dongyaozu @NanlinXie

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @dongyaozu @lifeix @junjiemao1
/devicemodel/                            @ywan170 @chejianj
/doc/                                    @dbkinder @NanlinXie
/misc/debug_tools/acrn_crashlog/         @ywan170 @lifeix
/misc/debug_tools/acrn_log/              @ywan170 @lifeix
/misc/debug_tools/acrn_trace/            @ywan170 @lifeix
/misc/services/acrn_manager/             @ywan170 @lifeix
/misc/services/acrn_bridge/              @ywan170 @lifeix
/misc/services/life_mngr/                @ywan170 @lifeix
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @NanlinXie

dm: virtio-gpu: fix uninitialized memory access
  devicemodel/hw/pci/virtio/virtio_gpu.c
Owners: @ywan170, @chejianj

dm: virtio-gpu: fix uninitialized memory access
  devicemodel/hw/pci/virtio/virtio_gpu.c
Owners: @ywan170, @chejianj

dm: virtio-gpu: fix uninitialized memory access
  devicemodel/hw/pci/virtio/virtio_gpu.c
Owners: @ywan170, @chejianj

dm: virtio-gpu: fix uninitialized memory access
  devicemodel/hw/pci/virtio/virtio_gpu.c
Owners: @ywan170, @chejianj

configurator: update tauri version
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.lock
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.toml
Owners: @terryzouhao, @NanlinXie

configurator: update tauri version
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.lock
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.toml
Owners: @terryzouhao, @NanlinXie

configurator: update tauri version
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.lock
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.toml
Owners: @terryzouhao, @NanlinXie

configurator: update tauri version
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.lock
  misc/config_tools/configurator/packages/configurator/src-tauri/Cargo.toml
Owners: @terryzouhao, @NanlinXie

misc: life_mngr: Fix Linux and rtvm not restarting acrn in life_mngr
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/command.c
  misc/services/life_mngr/command.h
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/command_handler.h
  misc/services/life_mngr/monitor.c
  misc/services/life_mngr/system_reboot_trigger_linux_rtvm.py
Owners: @ywan170, @lifeix

hv: disable HFI and ITD for guests
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/cpuid.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @dongyaozu, @lifeix, @junjiemao1

hv: fix undefined reference to nested_vmexit_handler() in vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @dongyaozu, @lifeix, @junjiemao1

dm: pci: pt: use uint64_t for igd dsm gpa/hpa
  devicemodel/hw/pci/passthrough.c
Owners: @ywan170, @chejianj

dm: pci: add device table for igd passthrough
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/igd_pciids.h
Owners: @ywan170, @chejianj

dm: pci: read dsm size from igd device for igd passthrough
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
  devicemodel/include/pcireg.h
Owners: @ywan170, @chejianj

dm: pci: add device table for igd passthrough
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/igd_pciids.h
Owners: @ywan170, @chejianj

dm: pci: read dsm size from igd device for igd passthrough
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
  devicemodel/include/pcireg.h
Owners: @ywan170, @chejianj

dm: pci: pt: use uint64_t for igd dsm gpa/hpa
  devicemodel/hw/pci/passthrough.c
Owners: @ywan170, @chejianj

hv: fix undefined reference to nested_vmexit_handler() in vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @dongyaozu, @lifeix, @junjiemao1

hv: disable HFI and ITD for guests
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/cpuid.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @dongyaozu, @lifeix, @junjiemao1

doc: update gsg for ubuntu 22.04.02 iso
  doc/getting-started/getting-started.rst
  doc/getting-started/images/configurator-postvm02.png
  doc/getting-started/images/configurator_postvm01.png
Owners: @dbkinder, @NanlinXie

doc: update network configuration section
  doc/getting-started/getting-started.rst
  doc/getting-started/sample-app.rst
Owners: @dbkinder, @NanlinXie

doc: replace qemu-kvm with qemu-utils in sample application guide
  doc/getting-started/sample-app.rst
Owners: @dbkinder, @NanlinXie

doc: remove usage of sre_constants in filter-known-issues.py
  doc/scripts/filter-known-issues.py
Owners: @dbkinder, @NanlinXie

doc: exclude 'venv' in conf.py
  doc/conf.py
Owners: @dbkinder, @NanlinXie

doc: remove '@return None' for void functions
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/virtio/virtio.c
  devicemodel/include/pci_core.h
  devicemodel/include/virtio.h
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/lapic.c
  hypervisor/dm/io_req.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/asm/guest/assign.h
  hypervisor/include/arch/x86/asm/guest/ept.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/guest/virq.h
  hypervisor/include/arch/x86/asm/guest/vmtrr.h
  hypervisor/include/arch/x86/asm/guest/vmx_io.h
  hypervisor/include/arch/x86/asm/lapic.h
  hypervisor/include/arch/x86/asm/mmu.h
  hypervisor/include/arch/x86/asm/tsc.h
  hypervisor/include/common/delay.h
  hypervisor/include/common/timer.h
  hypervisor/include/dm/io_req.h
  hypervisor/include/dm/ivshmem.h
  hypervisor/include/dm/vioapic.h
  hypervisor/include/dm/vpic.h
  misc/efi-stub/container.c
Owners: @ywan170, @chejianj, @dongyaozu, @lifeix, @junjiemao1, @NanlinXie

doc: update acrn.doxyfile for doxygen 1.9.4
  doc/acrn.doxyfile
Owners: @dbkinder, @NanlinXie

doc: update coding guideline for doxygen comments
  doc/developer-guides/c_coding_guidelines.rst
Owners: @dbkinder, @NanlinXie

doc: draft start for v3.2 release notes
  doc/conf.py
  doc/release_notes/release_notes_3.2.rst
Owners: @dbkinder, @NanlinXie

doc: update path to configurator debian package in GSG
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @NanlinXie

doc: update path to configurator debian package in GSG
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @NanlinXie

doc: draft start for v3.2 release notes
  doc/conf.py
  doc/release_notes/release_notes_3.2.rst
Owners: @dbkinder, @NanlinXie

doc: update supported hardware table for v3.2 release
  doc/reference/hardware.rst
Owners: @dbkinder, @NanlinXie

doc: update supported hardware table for v3.2 release
  doc/reference/hardware.rst
Owners: @dbkinder, @NanlinXie

doc: update release branch with changed docs
  doc/acrn.doxyfile
  doc/asa.rst
  doc/conf.py
  doc/developer-guides/c_coding_guidelines.rst
  doc/getting-started/getting-started.rst
  doc/getting-started/images/configurator-postvm02.png
  doc/getting-started/images/configurator_postvm01.png
  doc/getting-started/sample-app.rst
  doc/reference/hardware.rst
  doc/release_notes/release_notes_3.0.2.rst
  doc/release_notes/release_notes_3.2.rst
  doc/scripts/filter-known-issues.py
  doc/static/acrn-custom.css
Owners: @dbkinder, @NanlinXie

doc: update release branch with changed docs
  doc/acrn.doxyfile
  doc/asa.rst
  doc/conf.py
  doc/developer-guides/c_coding_guidelines.rst
  doc/getting-started/getting-started.rst
  doc/getting-started/images/configurator-postvm02.png
  doc/getting-started/images/configurator_postvm01.png
  doc/getting-started/sample-app.rst
  doc/reference/hardware.rst
  doc/release_notes/release_notes_3.0.2.rst
  doc/release_notes/release_notes_3.2.rst
  doc/scripts/filter-known-issues.py
  doc/static/acrn-custom.css
Owners: @dbkinder, @NanlinXie

doc: add v3.2 to doc version picker
  doc/conf.py
Owners: @dbkinder, @NanlinXie

doc: add v3.2 to doc version picker
  doc/conf.py
Owners: @dbkinder, @NanlinXie

doc: update header banner for stable documentation link
  doc/_templates/layout.html
Owners: @dbkinder, @NanlinXie

version:v3.2
  VERSION
Owners: @dongyaozu, @NanlinXie

doc: update header banner for stable documentation link
  doc/_templates/layout.html
Owners: @dbkinder, @NanlinXie
