Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

dm: fixup the alignment of software region address
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

config_tools: fix UI issue don't expand the default value in xml file
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hv-startup.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in HLD virtio
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/images/virtio-hld-image1.png
  doc/developer-guides/hld/images/virtio-hld-image3.png
  doc/developer-guides/hld/images/virtio-hld-image54.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Update VT-d spec link
  doc/developer-guides/hld/hv-vt-d.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_log/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Removed command prompts per feedback
  misc/debug_tools/acrn_log/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in acrnlog readme
  misc/debug_tools/acrn_log/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/reference/config-options-launch.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Update virtio network in launch script
  doc/reference/config-options-launch.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-overview.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: Fix the problems in ve820 acpi area
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

HV: move the ve820 GPU OpRegion address
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/common/ptdev.h
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

config-tools: move the pre RTVM's SSRAM base GPA
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

HV: refine the ve820 tab for pre-VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

hv: set default MAX_EFI_MMAP_ENTRIES to 350
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
Owners: @anthonyzxu, @dongyaozu

HV: prepare adaptable guest EFI mmap buffer
  hypervisor/boot/guest/bzimage_loader.c
Owners: @anthonyzxu, @dongyaozu

config_tools: add hybrid_rt launch 1uos xml for adl-s-crb
  boards/adl-s-crb/hybrid_rt_launch_1uos_waag.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: remove config of MAX_EFI_MMAP_ENTRIES
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

Fixed minor wording and typos
  misc/packaging/acrn-hypervisor.preinst
Owners: @terryzouhao, @NanlinXie

config_tools: remove MAX_EFI_MMAP_ENTRIES in scenario XML files
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/adl-s-crb/shared.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/partitioned.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/partitioned.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

hv: set default MAX_EFI_MMAP_ENTRIES to 350
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
Owners: @anthonyzxu, @dongyaozu

HV: prepare adaptable guest EFI mmap buffer
  hypervisor/boot/guest/bzimage_loader.c
Owners: @anthonyzxu, @dongyaozu

config_tools: remove config of MAX_EFI_MMAP_ENTRIES
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

dm: fixup the alignment of software region address
  devicemodel/hw/platform/acpi/rtct.c
Owners: @anthonyzxu, @ywan170

HV: refine the ve820 tab for pre-VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

config-tools: move the pre RTVM's SSRAM base GPA
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

HV: Fix the problems in ve820 acpi area
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

HV: move the ve820 GPU OpRegion address
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/common/ptdev.h
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

misc: config_tools: generate serial configuration file
  hypervisor/Makefile
  misc/config_tools/service_vm_config/README
  misc/config_tools/service_vm_config/serial_config.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

ACRN: DM: Vulnerable coding style in device-model Fix the Vulnerable coding style in xhci and pci core
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

config_tools: update scenario xml for MAX_VM_NUM
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/adl-s-crb/shared.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/partitioned.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/partitioned.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: remove KATA and replace UUID with vmname to identify a vm
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/adl-s-crb/shared.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/partitioned.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/partitioned.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: add vm_name field for launch xml
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/hybrid_rt_launch_1uos_waag.xml
  boards/adl-s-crb/partitioned.xml
  boards/adl-s-crb/shared.xml
  boards/adl-s-crb/shared_launch_2user_vm.xml
  boards/adl-s-crb/shared_launch_6user_vm.xml
  boards/adl-s-crb/shared_launch_6user_vm_sriov.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/hybrid_rt_launch_1user_vm_waag.xml
  boards/ehl-crb-b/partitioned.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/sdc_launch_1user_vm_laag.xml
  boards/ehl-crb-b/sdc_launch_1user_vm_zephyr.xml
  boards/ehl-crb-b/shared.xml
  boards/ehl-crb-b/shared_launch_1user_vm_hardrt.xml
  boards/ehl-crb-b/shared_launch_1user_vm_vxworks.xml
  boards/ehl-crb-b/shared_launch_1user_vm_waag.xml
  boards/ehl-crb-b/shared_launch_2user_vm.xml
  boards/ehl-crb-b/shared_launch_6user_vm.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/icx-rvp/shared_launch_6user_vm.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/hybrid_rt_launch_1user_vm_waag.xml
  boards/tgl-rvp/partitioned.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/sdc_launch_1user_vm_laag.xml
  boards/tgl-rvp/sdc_launch_1user_vm_zephyr.xml
  boards/tgl-rvp/shared.xml
  boards/tgl-rvp/shared_launch_1user_vm_waag.xml
  boards/tgl-rvp/shared_launch_2user_vm.xml
  boards/tgl-rvp/shared_launch_6user_vm.xml
Owners: @anthonyzxu, @dongyaozu

config_tool: add cpu affinity check
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/scenario_item.py
Owners: @terryzouhao, @NanlinXie

config_tool: Update CPU affinity error message
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tool: Update CPU affinity error message
  misc/config_tools/library/scenario_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

ACRN: DM: Vulnerable coding style in device-model Fix the Vulnerable coding style in xhci and pci core
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

Updated per feedback
  doc/developer-guides/hld/hld-virtio-devices.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in HLD security
  doc/developer-guides/hld/hld-security.rst
  doc/developer-guides/hld/images/security-image-HV-overview.png
  doc/developer-guides/hld/images/security-image-secure-storage-virt.png
  doc/developer-guides/hld/images/security-image-secure-world.png
  doc/developer-guides/hld/images/security-image14.png
  doc/developer-guides/hld/images/security-image3.png
  doc/developer-guides/hld/images/security-image5.png
Owners: @dbkinder, @deb-intel, @NanlinXie
