Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

doc: Update address to report security vulnerability
  README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_gpio.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_i2c.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

copy the adl-rvp and tgl-rvp folders to 1source repo for test.
  boards/adl-rvp/adl-rvp.xml
  boards/adl-rvp/industry.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/hybrid_rt_launch_1uos_waag.xml
  boards/tgl-rvp/industry.xml
  boards/tgl-rvp/industry_launch_1uos_waag.xml
  boards/tgl-rvp/industry_launch_2uos.xml
  boards/tgl-rvp/industry_launch_6uos.xml
  boards/tgl-rvp/logical_partition.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/sdc_launch_1uos_laag.xml
  boards/tgl-rvp/sdc_launch_1uos_zephyr.xml
  boards/tgl-rvp/tgl-rvp.xml
Owners: @anthonyzxu, @dongyaozu

doc: remove doc dependency on kerneldoc and acrn-kernel repo
  doc/Makefile
  doc/api/GVT-g_api.rst
  doc/api/index.rst
  doc/conf.py
  doc/contribute.rst
  doc/developer-guides/GVT-g-porting.rst
  doc/developer-guides/doc_guidelines.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/release_notes/release_notes_2.3.rst
  doc/scripts/kernel-doc
  doc/scripts/pullsource.sh
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: Remove the API version check
  devicemodel/core/vmmapi.c
  devicemodel/include/public/vhm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

dm: Remove unused vm_create_vcpu() interface
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/include/public/vhm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

dm: Use new ioctl ACRN_IOCTL_GET_PLATFORM_INFO
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/acpi.h
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

hv: Remove unused definition
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

dm: Use the new HSM eventfd ioctls
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

dm: Rename vhm_ioctl_defs.h to hsm_ioctl_defs.h
  devicemodel/include/acpi.h
  devicemodel/include/mem.h
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  doc/acrn.doxyfile
  misc/services/acrn_manager/Makefile
Owners: @anthonyzxu, @ywan170, @dbkinder, @deb-intel, @NanlinXie, @shuox

hv: dm: Use new VM management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/include/common/hypercall.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

dm: Remove header vmm.h
  devicemodel/core/main.c
  devicemodel/core/mem.c
  devicemodel/hw/platform/ioapic.c
  devicemodel/include/dm.h
  devicemodel/include/mem.h
  devicemodel/include/pm.h
  devicemodel/include/vmm.h
  devicemodel/include/vmmapi.h
  misc/services/acrn_manager/Makefile
  misc/services/acrn_manager/acrn_vm_ops.c
Owners: @anthonyzxu, @ywan170, @shuox

dm: Use new MMIO device passthrough management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/mmio/core.c
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/common/hypercall.c
  hypervisor/dm/mmio_dev.c
  hypervisor/dm/vgpio.c
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/vm_configurations.c
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @ywan170, @dongyaozu, @terryzouhao, @NanlinXie

hv: dm: Use new power management data structures
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi_pm.c
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/acpi_parser/acpi_ext.c
  hypervisor/arch/x86/cpu_state_tbl.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/vm_reset.c
  hypervisor/arch/x86/pm.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/host_pm.h
  hypervisor/include/public/acrn_common.h
  misc/config_tools/board_config/board_c.py
  misc/config_tools/data/generic_board/generic_code/boards/board.c
Owners: @anthonyzxu, @ywan170, @dongyaozu, @terryzouhao, @NanlinXie

dm: Use new ptdev interrupt management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

dm: return value 0 of vm_create_ioreq_client is valid
  devicemodel/core/main.c
Owners: @anthonyzxu, @ywan170

hv: dm: Use new ioctl ACRN_IOCTL_SET_VCPU_REGS
  devicemodel/core/sw_load_bzimage.c
  devicemodel/core/sw_load_elf.c
  devicemodel/core/sw_load_ovmf.c
  devicemodel/core/sw_load_vsbl.c
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  doc/developer-guides/hld/hv-cpu-virt.rst
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dbkinder, @deb-intel, @NanlinXie, @dongyaozu

dm: Use new memory management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

hv: dm: Use new virtual device management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/ivshmem.c
  devicemodel/hw/pci/ptm.c
  devicemodel/hw/pci/uart.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/ivshmem.h
  hypervisor/include/dm/vmcs9900.h
  hypervisor/include/dm/vroot_port.h
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

hv: dm: Use new I/O request data structures
  devicemodel/core/inout.c
  devicemodel/core/main.c
  devicemodel/core/mem.c
  devicemodel/core/vmmapi.c
  devicemodel/include/inout.h
  devicemodel/include/mem.h
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm_reset.c
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/common/hypercall.c
  hypervisor/dm/io_req.c
  hypervisor/dm/vgpio.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vmsix.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpic.c
  hypervisor/dm/vrtc.c
  hypervisor/dm/vuart.c
  hypervisor/include/arch/x86/asm/guest/vmx_io.h
  hypervisor/include/arch/x86/asm/irq.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/io_req.h
  hypervisor/include/public/acrn_common.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @ywan170, @dongyaozu, @terryzouhao, @NanlinXie

hv: Use new struct acrn_platform_info to adapt new HSM driver
  hypervisor/common/hypercall.c
  hypervisor/include/common/hypercall.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

hv: dm: Use new pci device passthrough management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/vpci.h
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

dm: Use new interrupt management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

doc: Change VHM to HSM in documentations
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-hypervisor.rst
  doc/developer-guides/hld/hld-overview.rst
  doc/developer-guides/hld/hld-power-management.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/hv-hypercall.rst
  doc/developer-guides/hld/hv-interrupt.rst
  doc/developer-guides/hld/hv-io-emulation.rst
  doc/developer-guides/hld/virtio-net.rst
  doc/developer-guides/hld/watchdog-hld.rst
  doc/glossary.rst
  doc/introduction/index.rst
  doc/tutorials/launch_uos.sh
  doc/tutorials/setup_openstack_libvirt.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: Use new HSM driver device node
  misc/config_tools/data/sample_launch_scripts/apl-mrb/acrn_guest.service
  misc/config_tools/data/sample_launch_scripts/apl-mrb/launch_uos.sh
  misc/config_tools/data/sample_launch_scripts/apl-up2/launch_uos.sh
  misc/config_tools/data/sample_launch_scripts/launch_ubuntu.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_hard_rt_vm.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_uos.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_vxworks.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_xenomai.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_zephyr.sh
  misc/config_tools/launch_config/com.py
  misc/services/acrn_manager/acrnd.service
Owners: @terryzouhao, @NanlinXie, @ywan170, @shuox

dm: Remove hardcode vm_config size from vm_get_config()
  devicemodel/core/vmmapi.c
Owners: @anthonyzxu, @ywan170

hv: dm: Remove aligned attribute of common structures
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

doc: Adapt documents to new HSM driver
  devicemodel/include/public/hsm_ioctl_defs.h
  doc/.known-issues/doc/dupdecl.conf
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-power-management.rst
  doc/developer-guides/hld/hv-io-emulation.rst
Owners: @anthonyzxu, @ywan170, @dbkinder, @deb-intel, @NanlinXie

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_gpio.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_i2c.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

dm: Use the new HSM eventfd ioctls
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

hv: dm: Use new ioctl ACRN_IOCTL_SET_VCPU_REGS
  devicemodel/core/sw_load_bzimage.c
  devicemodel/core/sw_load_elf.c
  devicemodel/core/sw_load_ovmf.c
  devicemodel/core/sw_load_vsbl.c
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  doc/developer-guides/hld/hv-cpu-virt.rst
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dbkinder, @deb-intel, @NanlinXie, @dongyaozu

config_tools: Use new HSM driver device node
  misc/config_tools/data/sample_launch_scripts/apl-mrb/acrn_guest.service
  misc/config_tools/data/sample_launch_scripts/apl-mrb/launch_uos.sh
  misc/config_tools/data/sample_launch_scripts/apl-up2/launch_uos.sh
  misc/config_tools/data/sample_launch_scripts/launch_ubuntu.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_hard_rt_vm.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_uos.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_vxworks.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_xenomai.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_zephyr.sh
  misc/config_tools/launch_config/com.py
  misc/services/acrn_manager/acrnd.service
Owners: @terryzouhao, @NanlinXie, @ywan170, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
