Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @dongyaozu, @NanlinXie, @terryzouhao, @lifeix, @junjiemao1, @ywan170, @chejianj, @dbkinder

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @dongyaozu @NanlinXie

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @dongyaozu @lifeix @junjiemao1
/devicemodel/                            @ywan170 @chejianj
/doc/                                    @dbkinder @NanlinXie
/misc/debug_tools/acrn_crashlog/         @ywan170 @lifeix
/misc/debug_tools/acrn_log/              @ywan170 @lifeix
/misc/debug_tools/acrn_trace/            @ywan170 @lifeix
/misc/services/acrn_manager/             @ywan170 @lifeix
/misc/services/acrn_bridge/              @ywan170 @lifeix
/misc/services/life_mngr/                @ywan170 @lifeix
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @NanlinXie

doc: update the selected grub menu entry for booting ACRN and reboot command
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @NanlinXie

doc: update the selected grub menu entry for booting ACRN and reboot command
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @NanlinXie

doc: update the selected grub menu entry for booting ACRN and reboot command
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @NanlinXie

doc: update the selected grub menu entry for booting ACRN and reboot command
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @NanlinXie

doc: draft organization for multi-arch support
  doc/index.rst
  doc/projects/index.rst
  doc/projects/multi-arch-support.rst
Owners: @dbkinder, @NanlinXie

doc: fix typo on v3.2 release notes
  doc/release_notes/release_notes_3.2.rst
Owners: @dbkinder, @NanlinXie

doc: fix type in v3.2 release notes
  doc/release_notes/release_notes_3.2.rst
Owners: @dbkinder, @NanlinXie

doc: draft organization for multi-arch support
  doc/index.rst
  doc/projects/index.rst
  doc/projects/multi-arch-support.rst
Owners: @dbkinder, @NanlinXie

doc: fix typo on v3.2 release notes
  doc/release_notes/release_notes_3.2.rst
Owners: @dbkinder, @NanlinXie

doc: fix type in v3.2 release notes
  doc/release_notes/release_notes_3.2.rst
Owners: @dbkinder, @NanlinXie

version:3.3
  VERSION
Owners: @dongyaozu, @NanlinXie

hypervisor/ivshmem: Fix ivshmem ivposition loss issue
  hypervisor/dm/vpci/ivshmem.c
Owners: @dongyaozu, @lifeix, @junjiemao1

hypervisor/ivshmem: Add ivshmem_dev_lock to protect deinit
  hypervisor/dm/vpci/ivshmem.c
Owners: @dongyaozu, @lifeix, @junjiemao1

hypervisor/ivshmem: Add check to prevent malicious BAR0 opts
  hypervisor/dm/vpci/ivshmem.c
Owners: @dongyaozu, @lifeix, @junjiemao1

hypervisor/ivshmem: Add ivshmem_dev_lock to protect deinit
  hypervisor/dm/vpci/ivshmem.c
Owners: @dongyaozu, @lifeix, @junjiemao1

hypervisor/ivshmem: Add check to prevent malicious BAR0 opts
  hypervisor/dm/vpci/ivshmem.c
Owners: @dongyaozu, @lifeix, @junjiemao1

hypervisor/ivshmem: Fix ivshmem ivposition loss issue
  hypervisor/dm/vpci/ivshmem.c
Owners: @dongyaozu, @lifeix, @junjiemao1
