Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

board-inspector: fixes to issues when parsing host-bridge objects
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

Makefile:add targz-pkg entry in Makefile
  Makefile
  devicemodel/Makefile
  hypervisor/Makefile
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @ywan170, @dongyaozu

doc: add v2.5.1 release notes
  doc/release_notes/release_notes_2.5.1.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: add tpm2 acpi parser to board_inspector
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/tpm2.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

config-tools: allocate log area start address
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: generate the log area data of tpm2
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: refine bin_gen.py and create virtual TPM2 acpi table
  hypervisor/Makefile
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config-tools: refine MAX_MSIX_TABLE_NUM
  misc/config_tools/xforms/config.h.xsl
  misc/config_tools/xforms/config.mk.xsl
  misc/config_tools/xforms/config_common.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

board-inspector: use the same _MIN and _MAX for 0-length regions
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

board-inspector: support buffer assignments and indexing
  misc/config_tools/board_inspector/acpiparser/aml/datatypes.py
Owners: @terryzouhao, @NanlinXie

board-inspector: fix the creation of packages
  misc/config_tools/board_inspector/acpiparser/aml/builder.py
Owners: @terryzouhao, @NanlinXie

board-inspector: fixes to issues when parsing host-bridge objects
  misc/config_tools/board_inspector/acpiparser/aml/interpreter.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

doc: add v2.5.1 release notes
  doc/release_notes/release_notes_2.5.1.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update Kconfig related doc
  doc/tutorials/cpu_sharing.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: vtd: a minor refine about dmar_wait_completion
  hypervisor/arch/x86/vtd.c
Owners: @anthonyzxu, @dongyaozu

config_tools: remove adl-rvp
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/adl-rvp/industry.xml
Owners: @terryzouhao, @NanlinXie

doc: update Kconfig related doc
  doc/tutorials/cpu_sharing.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: mitigate reset attack
  devicemodel/core/vmmapi.c
Owners: @anthonyzxu, @ywan170

hv: remove xsave dependence
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

config-tools: refine MAX_MSIX_TABLE_NUM
  misc/config_tools/xforms/config.h.xsl
  misc/config_tools/xforms/config.mk.xsl
  misc/config_tools/xforms/config_common.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: change core allocation for ADL industry
  boards/v2.6/0007-Change-core-allocation-for-ADL-industry.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: remove adl-rvp
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/adl-rvp/industry.xml
Owners: @terryzouhao, @NanlinXie

dm: mitigate reset attack
  devicemodel/core/vmmapi.c
Owners: @anthonyzxu, @ywan170

hv: remove xsave dependence
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: vtd: a minor refine about dmar_wait_completion
  hypervisor/arch/x86/vtd.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update board xml files for MAX_MSIX_TABLE_NUM fix
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/nuc7i7dnb/nuc7i7dnb.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
  misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml
Owners: @terryzouhao, @NanlinXie

config-tools: refine the MAX_MSIX_TABLE_NUM in config.h
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add MSI-X capability
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/pcieparser/caps.py
Owners: @terryzouhao, @NanlinXie

config_tools: update lpc slot number
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

HV: refine acrn_mmiodev data structure
  devicemodel/hw/mmio/core.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/common/hypercall.c
  hypervisor/dm/mmio_dev.c
  hypervisor/dm/vgpio.c
  hypervisor/include/public/acrn_common.h
  misc/config_tools/scenario_config/vm_configurations_c.py
Owners: @anthonyzxu, @ywan170, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: refine the configuration data description
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

config_tools: fix formatting of configured INTx allocation
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

hv: tpm2: do tpm2 fixup for security vm
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/acpi.h
  hypervisor/boot/include/boot.h
  hypervisor/include/public/acrn_common.h
  hypervisor/quirks/security_vm_fixup.c
  hypervisor/quirks/security_vm_fixup.h
  misc/config_tools/library/common.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: relocate ACPI DATA address to 0x7fe00000
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config-tools: add tpm2 acpi parser to board_inspector
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/tpm2.py
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

config-tools: allocate log area start address
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: generate the log area data of tpm2
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: refine bin_gen.py and create virtual TPM2 acpi table
  hypervisor/Makefile
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: update launch xml for only one NVME
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
  misc/config_tools/data/generic_board/industry_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_6uos.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_2uos.xml
  misc/config_tools/data/nuc7i7dnb/industry_launch_6uos.xml
  misc/config_tools/data/tgl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/tgl-rvp/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/industry_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i7/industry_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

config-tools: add SECURITY_VM_FIXUP config
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/industry.xml
  misc/config_tools/data/ehl-crb-b/fusa_partition.xml
  misc/config_tools/data/ehl-crb-b/hybrid.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/logical_partition.xml
  misc/config_tools/data/ehl-crb-b/sdc.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/industry.xml
  misc/config_tools/data/generic_board/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/hybrid.xml
  misc/config_tools/data/nuc7i7dnb/industry.xml
  misc/config_tools/data/nuc7i7dnb/logical_partition.xml
  misc/config_tools/data/nuc7i7dnb/sdc.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/tgl-rvp/hybrid.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/logical_partition.xml
  misc/config_tools/data/tgl-rvp/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/industry.xml
  misc/config_tools/data/whl-ipc-i5/logical_partition.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i7/hybrid.xml
  misc/config_tools/data/whl-ipc-i7/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i7/industry.xml
  misc/config_tools/data/whl-ipc-i7/logical_partition.xml
  misc/config_tools/data/whl-ipc-i7/sdc.xml
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie
