Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config_tools: remove hvlog parameter and update HV_RAM_START default address
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/hv_config/hv_item.py
  misc/config_tools/library/hv_cfg_lib.py
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

Rename the xml file and generate launch script from uos to user_vm.
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
  misc/config_tools/launch_config/launch_cfg_gen.py
Owners: @terryzouhao, @NanlinXie

config_tools: rename uos to user_vm in config UI
  misc/config_tools/config_app/controller.py
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

misc: config_tools: generate serial configuration file
  hypervisor/Makefile
  misc/config_tools/service_vm_config/README
  misc/config_tools/service_vm_config/serial_config.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: fix the duplicate PT_SLOT value issue
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

dm: Fix potential overflow bug
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

config_tools: rename UOS to user vm in UI
  misc/config_tools/config_app/templates/launch.html
Owners: @terryzouhao, @NanlinXie

Revert "misc: config_tools: add vuart for communication"
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

doc: terminology cleanup in HLD startup
  doc/developer-guides/hld/hv-startup.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: fix the duplicate PT_SLOT value issue
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

doc: update last updated information on page footers
  doc/Makefile
  doc/index.rst
  doc/scripts/fix-git-modified-date.sh
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update last updated information on page footers
  doc/Makefile
  doc/index.rst
  doc/scripts/fix-git-modified-date.sh
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: rename UOS to user vm in UI
  misc/config_tools/config_app/templates/launch.html
Owners: @terryzouhao, @NanlinXie

Revert "misc: config_tools: add vuart for communication"
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

dm: Fix potential overflow bug
  devicemodel/hw/mmio/core.c
Owners: @anthonyzxu, @ywan170

Revert "boards: add vuart configuration for each board"
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/shared.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: remove hvlog parameter in bootargs
  boards/tgl-rvp/hybrid_rt.xml
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-TY-02
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/virtual_cr.c
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-TY-12
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/cpu_state_tbl.c
  hypervisor/arch/x86/guest/guest_memory.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/trampoline.c
  hypervisor/boot/boot.c
  hypervisor/include/arch/x86/asm/lib/bits.h
  hypervisor/include/public/acrn_hv_defs.h
  hypervisor/lib/sprintf.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-PP-04
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/vtd.h
  hypervisor/include/lib/list.h
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix warnings raised by Clang
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-EP-05
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/page.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpic.c
  hypervisor/hw/pci.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-FN-09
  hypervisor/include/arch/x86/asm/guest/ept.h
  hypervisor/include/common/timer.h
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-FN-06
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-TY-27 & C-TY-28
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/arch/x86/configs/pci_dev.c
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/guest_memory.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/vtd.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/efi_mmap.c
  hypervisor/common/hypercall.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vmsix.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/dm/vpci/vsriov.c
  hypervisor/hw/pci.c
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/mmu.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-ST-02
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/dm/vpci/vmsix.c
Owners: @anthonyzxu, @dongyaozu

HV: acpi_parser: fix violations of coding guideline C-CU-02
  hypervisor/acpi_parser/dmar_parse.c
Owners: @anthonyzxu, @dongyaozu

HV: arch: fix a violation of coding guideline C-TY-24
  hypervisor/arch/x86/tsc_deadline_timer.c
Owners: @anthonyzxu, @dongyaozu

config_tools: fix UI issue don't expand the default value in xml file
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

HV: arch: fix a violation of coding guideline C-TY-24
  hypervisor/arch/x86/tsc_deadline_timer.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-EP-05
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/page.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpic.c
  hypervisor/hw/pci.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix warnings raised by Clang
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/boot/guest/vboot_info.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-TY-27 & C-TY-28
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/arch/x86/configs/pci_dev.c
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/guest_memory.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/irq.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/vtd.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/efi_mmap.c
  hypervisor/common/hypercall.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vmsix.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/dm/vpci/vsriov.c
  hypervisor/hw/pci.c
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/mmu.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-TY-12
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/cpu_state_tbl.c
  hypervisor/arch/x86/guest/guest_memory.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/trampoline.c
  hypervisor/boot/boot.c
  hypervisor/include/arch/x86/asm/lib/bits.h
  hypervisor/include/public/acrn_hv_defs.h
  hypervisor/lib/sprintf.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-ST-02
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/dm/vpci/vmsix.c
Owners: @anthonyzxu, @dongyaozu

HV: acpi_parser: fix violations of coding guideline C-CU-02
  hypervisor/acpi_parser/dmar_parse.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-FN-09
  hypervisor/include/arch/x86/asm/guest/ept.h
  hypervisor/include/common/timer.h
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-TY-02
  hypervisor/acpi_parser/dmar_parse.c
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/virtual_cr.c
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-FN-06
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

HV: treewide: fix violations of coding guideline C-PP-04
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/vtd.h
  hypervisor/include/lib/list.h
Owners: @anthonyzxu, @dongyaozu
