Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

ACRN: Misc: Rename SOS to SERVICE_VM
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/shared.xml
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/sdc_launch_1uos_laag.xml
  boards/ehl-crb-b/sdc_launch_1uos_zephyr.xml
  boards/ehl-crb-b/shared.xml
  boards/ehl-crb-b/shared_launch_1uos_hardrt.xml
  boards/ehl-crb-b/shared_launch_1uos_vxworks.xml
  boards/ehl-crb-b/shared_launch_1uos_waag.xml
  boards/ehl-crb-b/shared_launch_2uos.xml
  boards/ehl-crb-b/shared_launch_6uos.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/icx-rvp/shared_launch_6uos.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/hybrid_rt_launch_1uos_waag.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/sdc_launch_1uos_laag.xml
  boards/tgl-rvp/sdc_launch_1uos_zephyr.xml
  boards/tgl-rvp/shared.xml
  boards/tgl-rvp/shared_launch_1uos_waag.xml
  boards/tgl-rvp/shared_launch_2uos.xml
  boards/tgl-rvp/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

ACRN: config: Rename SERVICE_VM_BOOTARGS to SERVICE_VM_OS_BOOTARGS
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/shared.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

deb-pkg: add acrn-hypervisor and acrn-board-inspector into debian package
  .deb.conf
  Makefile
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/board_inspector/acpiparser/_utils.py
  misc/config_tools/board_inspector/acpiparser/apic.py
  misc/config_tools/board_inspector/acpiparser/asf.py
  misc/config_tools/board_inspector/acpiparser/dmar.py
  misc/config_tools/board_inspector/acpiparser/facp.py
  misc/config_tools/board_inspector/acpiparser/rdt.py
  misc/config_tools/board_inspector/acpiparser/rtct.py
  misc/config_tools/board_inspector/acpiparser/tpm2.py
  misc/config_tools/board_inspector/inspectorlib/bitfields.py
  misc/config_tools/board_inspector/inspectorlib/cdata.py
  misc/config_tools/board_inspector/inspectorlib/mmio.py
  misc/config_tools/board_inspector/inspectorlib/unpack.py
  misc/config_tools/board_inspector/pcieparser/caps.py
  misc/config_tools/board_inspector/pcieparser/extcaps.py
  misc/config_tools/board_inspector/pcieparser/header.py
  misc/config_tools/board_inspector/smbiosparser/smbios.py
  misc/packaging/100_ACRN
  misc/packaging/acrn-board-inspector.postinst
  misc/packaging/acrn-board-inspector.prerm
  misc/packaging/acrn-hypervisor.postinst
  misc/packaging/acrn-kernel.postinst
  misc/packaging/gen_acrn_deb.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

OVMF release v2.7
  devicemodel/bios/MD5SUM_ovmf
  devicemodel/bios/OVMF.fd
  devicemodel/bios/OVMF_CODE.fd
  devicemodel/bios/OVMF_CODE_debug.fd
  devicemodel/bios/OVMF_debug.fd
  devicemodel/bios/SHA512SUM_ovmf
  devicemodel/bios/changelog_ovmf.txt
Owners: @anthonyzxu, @ywan170

ACRN: xml: Renam uos to user_vm in launch xml
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
  boards/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  boards/ehl-crb-b/sdc_launch_1uos_laag.xml
  boards/ehl-crb-b/sdc_launch_1uos_zephyr.xml
  boards/ehl-crb-b/shared_launch_1uos_hardrt.xml
  boards/ehl-crb-b/shared_launch_1uos_vxworks.xml
  boards/ehl-crb-b/shared_launch_1uos_waag.xml
  boards/ehl-crb-b/shared_launch_2uos.xml
  boards/ehl-crb-b/shared_launch_6uos.xml
  boards/icx-rvp/shared_launch_6uos.xml
  boards/tgl-rvp/hybrid_rt_launch_1uos_waag.xml
  boards/tgl-rvp/sdc_launch_1uos_laag.xml
  boards/tgl-rvp/sdc_launch_1uos_zephyr.xml
  boards/tgl-rvp/shared_launch_1uos_waag.xml
  boards/tgl-rvp/shared_launch_2uos.xml
  boards/tgl-rvp/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

dm: get lapic id from madt
  devicemodel/Makefile
  devicemodel/core/main.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/acpi_parser.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/acpi.h
Owners: @anthonyzxu, @ywan170

doc: terminology cleanup in HLD overview
  doc/developer-guides/hld/hld-overview.rst
  doc/developer-guides/hld/images/over-image11.png
  doc/developer-guides/hld/images/over-image110.png
  doc/developer-guides/hld/images/over-image13.png
  doc/developer-guides/hld/images/over-image134.png
  doc/developer-guides/hld/images/over-image15.png
  doc/developer-guides/hld/images/over-image21.png
  doc/developer-guides/hld/images/over-image29.png
  doc/developer-guides/hld/images/over-image34.png
  doc/developer-guides/hld/images/over-image4.png
  doc/developer-guides/hld/images/over-image85.png
Owners: @dbkinder, @deb-intel, @NanlinXie

ACRN: hv: Unify terminology for service vm
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vm_reset.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/guest/vmtrr.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/common/hypercall.c
  hypervisor/common/ptdev.c
  hypervisor/debug/hypercall.c
  hypervisor/debug/shell.c
  hypervisor/dm/io_req.c
  hypervisor/dm/mmio_dev.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/common/hypercall.h
Owners: @anthonyzxu, @dongyaozu

ACRN: misc: Unify terminology for uos in macro
  devicemodel/core/pm_vuart.c
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
  devicemodel/hw/pci/wdt_i6300esb.c
  devicemodel/hw/platform/rpmb/rpmb_backend.c
  devicemodel/include/att_keybox.h
Owners: @anthonyzxu, @ywan170

ACRN: hv: Unify terminology for user vm
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/common/trusty_hypercall.c
  hypervisor/dm/vpci/vhostbridge.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/arch/x86/asm/guest/trusty.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/vacpi.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

misc: config_tools: add vuart for communication
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

config_tools: Update nuc11 partitioned document and Scenario xml
  doc/tutorials/using_partition_mode_on_nuc.rst
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

hv: Fix vcpu signaling racing problem in lock instruction emulation
  hypervisor/arch/x86/guest/lock_instr_emul.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/include/arch/x86/asm/guest/virq.h
Owners: @anthonyzxu, @dongyaozu

1. Remove gvt_args field. 2. Add passthrough GPU devices support. 3. Add sriov device support.
  .gitignore
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/views.py
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/common.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

1. Update launch xml for Sriov/GPU passthrough support
  misc/config_tools/data/generic_board/hybrid_launch_2uos.xml
  misc/config_tools/data/generic_board/shared_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

OVMF release v2.7
  devicemodel/bios/MD5SUM_ovmf
  devicemodel/bios/OVMF.fd
  devicemodel/bios/OVMF_CODE.fd
  devicemodel/bios/OVMF_CODE_debug.fd
  devicemodel/bios/OVMF_debug.fd
  devicemodel/bios/SHA512SUM_ovmf
  devicemodel/bios/changelog_ovmf.txt
Owners: @anthonyzxu, @ywan170

config_tools: Update GPU passthrough support
  .gitignore
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/views.py
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/common.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: Update launch xml for Sriov/GPU passthrough support
  misc/config_tools/data/generic_board/hybrid_launch_2uos.xml
  misc/config_tools/data/generic_board/shared_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

deb-pkg: add acrn-hypervisor and acrn-board-inspector into debian package
  .deb.conf
  Makefile
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/board_inspector/acpiparser/_utils.py
  misc/config_tools/board_inspector/acpiparser/apic.py
  misc/config_tools/board_inspector/acpiparser/asf.py
  misc/config_tools/board_inspector/acpiparser/dmar.py
  misc/config_tools/board_inspector/acpiparser/facp.py
  misc/config_tools/board_inspector/acpiparser/rdt.py
  misc/config_tools/board_inspector/acpiparser/rtct.py
  misc/config_tools/board_inspector/acpiparser/tpm2.py
  misc/config_tools/board_inspector/inspectorlib/bitfields.py
  misc/config_tools/board_inspector/inspectorlib/cdata.py
  misc/config_tools/board_inspector/inspectorlib/mmio.py
  misc/config_tools/board_inspector/inspectorlib/unpack.py
  misc/config_tools/board_inspector/pcieparser/caps.py
  misc/config_tools/board_inspector/pcieparser/extcaps.py
  misc/config_tools/board_inspector/pcieparser/header.py
  misc/config_tools/board_inspector/smbiosparser/smbios.py
  misc/packaging/100_ACRN
  misc/packaging/acrn-board-inspector.postinst
  misc/packaging/acrn-board-inspector.prerm
  misc/packaging/acrn-hypervisor.postinst
  misc/packaging/acrn-kernel.postinst
  misc/packaging/gen_acrn_deb.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: Update the BIOS option SRIOV to get board.xml
  boards/adl-s-crb/adl-s-crb.xml
  boards/adl-s-crb/shared.xml
Owners: @anthonyzxu, @dongyaozu

ACRN: misc: Rename file name from uos to user_vm
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
  misc/config_tools/launch_config/launch_cfg_gen.py
Owners: @terryzouhao, @NanlinXie

config_tools: update launch xml for gpu passthru support
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
  boards/adl-s-crb/shared_launch_6uos_sriov.xml
  boards/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  boards/ehl-crb-b/sdc_launch_1uos_laag.xml
  boards/ehl-crb-b/sdc_launch_1uos_zephyr.xml
  boards/ehl-crb-b/shared_launch_1uos_hardrt.xml
  boards/ehl-crb-b/shared_launch_1uos_vxworks.xml
  boards/ehl-crb-b/shared_launch_1uos_waag.xml
  boards/ehl-crb-b/shared_launch_2uos.xml
  boards/icx-rvp/shared_launch_6uos.xml
  boards/tgl-rvp/hybrid_rt_launch_1uos_waag.xml
  boards/tgl-rvp/sdc_launch_1uos_laag.xml
  boards/tgl-rvp/sdc_launch_1uos_zephyr.xml
  boards/tgl-rvp/shared_launch_1uos_waag.xml
  boards/tgl-rvp/shared_launch_2uos.xml
  boards/tgl-rvp/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: rename uos to user_vm in config UI
  misc/config_tools/config_app/controller.py
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: Update GPU passthrough support
  .gitignore
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/views.py
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/common.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: Update launch xml for Sriov/GPU passthrough support
  misc/config_tools/data/generic_board/hybrid_launch_2uos.xml
  misc/config_tools/data/generic_board/shared_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

boards: add vuart configuration for each board
  boards/adl-rvp/shared.xml
  boards/adl-s-crb/hybrid.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/shared.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/shared.xml
  boards/tgl-rvp/hybrid.xml
  boards/tgl-rvp/hybrid_rt.xml
  boards/tgl-rvp/sdc.xml
  boards/tgl-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

Removed command prompts per feedback
  misc/debug_tools/acrn_log/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: draft release notes for v2.7
  doc/release_notes/release_notes_2.7.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hld-overview.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: clean up UOS/SOS and scenario names in glossary
  doc/glossary.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: refine MMIO32/64_START and MMIO32/64_END
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

doc: tweak CSS for Sphinx/Breathe API documents
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweak CSS for Sphinx/Breathe API documents
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

Rename the xml file and generate launch script from uos to user_vm.
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
  misc/config_tools/launch_config/launch_cfg_gen.py
Owners: @terryzouhao, @NanlinXie

doc: clean up UOS/SOS and scenario names in glossary
  doc/glossary.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: draft release notes for v2.7
  doc/release_notes/release_notes_2.7.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

misc: config_tools: add vuart for communication
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

config-tools: refine MMIO32/64_START and MMIO32/64_END
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove hvlog parameter and update HV_RAM_START default address
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/hv_config/hv_item.py
  misc/config_tools/library/hv_cfg_lib.py
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

Rename launch XML file from uos to user_vm
  boards/adl-s-crb/shared_launch_2user_vm.xml
  boards/adl-s-crb/shared_launch_6user_vm.xml
  boards/adl-s-crb/shared_launch_6user_vm_sriov.xml
  boards/ehl-crb-b/hybrid_rt_launch_1user_vm_waag.xml
  boards/ehl-crb-b/sdc_launch_1user_vm_laag.xml
  boards/ehl-crb-b/sdc_launch_1user_vm_zephyr.xml
  boards/ehl-crb-b/shared_launch_1user_vm_hardrt.xml
  boards/ehl-crb-b/shared_launch_1user_vm_vxworks.xml
  boards/ehl-crb-b/shared_launch_1user_vm_waag.xml
  boards/ehl-crb-b/shared_launch_2user_vm.xml
  boards/ehl-crb-b/shared_launch_6user_vm.xml
  boards/icx-rvp/shared_launch_6user_vm.xml
  boards/tgl-rvp/hybrid_rt_launch_1user_vm_waag.xml
  boards/tgl-rvp/sdc_launch_1user_vm_laag.xml
  boards/tgl-rvp/sdc_launch_1user_vm_zephyr.xml
  boards/tgl-rvp/shared_launch_1user_vm_waag.xml
  boards/tgl-rvp/shared_launch_2user_vm.xml
  boards/tgl-rvp/shared_launch_6user_vm.xml
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
