Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

HV: vpci: refine vbar sizing
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
Owners: @anthonyzxu, @dongyaozu

hv: update RTCT ACPI table detecting
  hypervisor/acpi_parser/acpi_ext.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/boot/include/acpi.h
  hypervisor/include/arch/x86/asm/rtcm.h
Owners: @anthonyzxu, @dongyaozu

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

misc: efi-stub: Set MOR bit before jumping to hypervisor
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/efilinux.h
Owners: @anthonyzxu, @dongyaozu

HV: vpci: check if address is in VM BAR MMIO space
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/dm/vacpi.h
  hypervisor/include/dm/vpci.h
Owners: @anthonyzxu, @dongyaozu

HV: vpci: refine vbar sizing
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/vdev.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
Owners: @anthonyzxu, @dongyaozu

config_tools: add RTCT table support in pre-launched VMs
  misc/config_tools/acpi_gen/acpi_const.py
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

config_tools: add RTCT table support in pre-launched VMs
  misc/config_tools/acpi_gen/acpi_const.py
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

config_tools: add RTCT table support in pre-launched VMs
  misc/config_tools/acpi_gen/acpi_const.py
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

Config_tools: Update get slot logic
  misc/config_tools/data/sample_launch_scripts/nuc/launch_win.sh
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

doc: update ACRN version QEMU tutorial
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update ACRN version QEMU tutorial
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Config_tools: Update Hybrid Cores
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

Config_tools: Update get slot logic
  misc/config_tools/data/sample_launch_scripts/nuc/launch_win.sh
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

hv: update RTCT ACPI table detecting
  hypervisor/acpi_parser/acpi_ext.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/boot/include/acpi.h
  hypervisor/include/arch/x86/asm/rtcm.h
Owners: @anthonyzxu, @dongyaozu

config_tools: save board xml when loading from config tool UI
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

Config_tools: Update XML
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @terryzouhao, @NanlinXie

dm: add RTCT v2 support for guest
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

doc: update timer HLD doc after modularization
  doc/developer-guides/hld/hv-timer.rst
  hypervisor/include/arch/x86/asm/tsc.h
  hypervisor/include/common/ticks.h
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

config_tools: replace illegal character with escaped character
  misc/config_tools/board_inspector/legacy/parser_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: replace illegal character with escaped character
  misc/config_tools/board_inspector/legacy/parser_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: replace illegal character with escaped character
  misc/config_tools/board_inspector/legacy/parser_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: add adl-s-crb board and industry scenario
  misc/config_tools/data/adl-s-crb/adl-s-crb.xml
  misc/config_tools/data/adl-s-crb/industry.xml
Owners: @terryzouhao, @NanlinXie

config_tools: add adl-s-crb board and industry scenario
  misc/config_tools/data/adl-s-crb/adl-s-crb.xml
  misc/config_tools/data/adl-s-crb/industry.xml
Owners: @terryzouhao, @NanlinXie

hv: update RTCT ACPI table detecting
  hypervisor/acpi_parser/acpi_ext.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/boot/include/acpi.h
  hypervisor/include/arch/x86/asm/rtcm.h
Owners: @anthonyzxu, @dongyaozu

dm: NULL check of vq->used in virtio_net_ping_rxq
  devicemodel/hw/pci/virtio/virtio_net.c
Owners: @anthonyzxu, @ywan170

config_tools: save board xml when loading from config tool UI
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

Config_tools: Update XML
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
Owners: @terryzouhao, @NanlinXie

config_tools: replace illegal character with escaped character
  misc/config_tools/board_inspector/legacy/parser_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: add RTCT table support in pre-launched VMs
  misc/config_tools/acpi_gen/acpi_const.py
  misc/config_tools/acpi_gen/asl_gen.py
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

Config_tools: Update get slot logic
  misc/config_tools/data/sample_launch_scripts/nuc/launch_win.sh
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

dm: update vRTCT module to support new vLAPIC solution
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

dm: add RTCT v2 support for guest
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

config_tools: replace illegal character with escaped character
  misc/config_tools/board_inspector/legacy/parser_lib.py
Owners: @terryzouhao, @NanlinXie

Config_tools: Update get slot logic
  misc/config_tools/data/sample_launch_scripts/nuc/launch_win.sh
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

hv: nested: support for VMLAUNCH and VMRESUME emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for INVEPT and INVVPID emulation
  hypervisor/Makefile
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: update run_vcpu() function for nested case
  hypervisor/arch/x86/guest/vcpu.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMLAUNCH and VMRESUME emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for INVEPT and INVVPID emulation
  hypervisor/Makefile
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu
