Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

hv: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

config_tool: update scenario xml for MAX_VM_NUM field
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

devicemodel: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

hv: remove UUID
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/common/vm_uuids.h
  hypervisor/include/debug/profiling_internal.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

config_tools: remove KATA and replace UUID with vmname to identify a vm
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/common.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/scenario_config/vm_configurations_h.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/static_allocators/lib/lib.py
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

config_tool: reformat scenario and launch xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

config_tool: add vm_name field for launch config
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tool: let common.MAX_VM_NUM controlled by scenario data
  misc/config_tools/board_config/board_cfg_gen.py
  misc/config_tools/config_app/views.py
  misc/config_tools/library/common.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

dm: replace UUID with vmname.
  devicemodel/core/hugetlb.c
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/include/dm.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

config_tool: update scenario and launch xml for vm_name support
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

hv: remove CONFIG_LOW_RAM_SIZE
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/trampoline.c
  hypervisor/bsp/ld/link_ram.ld.in
Owners: @anthonyzxu, @dongyaozu

hv : encapsulate page align in e820_alloc_memory
  hypervisor/arch/x86/e820.c
Owners: @anthonyzxu, @dongyaozu

hv: align the MAX_IR_ENTRIES to MAX_PT_IRQ_ENTRIES
  hypervisor/arch/x86/vtd.c
  hypervisor/include/arch/x86/asm/vtd.h
  hypervisor/include/lib/util.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

Revert "hv: align the MAX_IR_ENRIES to MAX_PT_IRQ_ENTRIES"
  hypervisor/arch/x86/vtd.c
  hypervisor/include/arch/x86/asm/vtd.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: align the MAX_IR_ENTRIES to MAX_PT_IRQ_ENTRIES
  hypervisor/arch/x86/vtd.c
  hypervisor/include/arch/x86/asm/vtd.h
  hypervisor/include/lib/util.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: align the MAX_IR_ENTRIES to MAX_PT_IRQ_ENTRIES
  hypervisor/arch/x86/vtd.c
  hypervisor/include/arch/x86/asm/vtd.h
  hypervisor/include/lib/util.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: fix the duplicate PT_SLOT value issue in UI
  misc/config_tools/launch_config/launch_cfg_gen.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix the duplicate PT_SLOT value issue in UI
  misc/config_tools/launch_config/launch_cfg_gen.py
Owners: @terryzouhao, @NanlinXie

config_tool: add cpu affinity check
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/scenario_item.py
Owners: @terryzouhao, @NanlinXie

config_tool: add vm_name field for launch config
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove KATA and replace UUID with vmname to identify a vm
  misc/config_tools/config_app/static/main.js
  misc/config_tools/config_app/templates/scenario.html
  misc/config_tools/config_app/views.py
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/launch_config/com.py
  misc/config_tools/library/common.py
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/scenario_config/vm_configurations_h.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/static_allocators/lib/lib.py
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: add assert to check if the scenario is valid
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

config_tool: reformat scenario and launch xml
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

misc:remove some check related with UUID
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @terryzouhao, @NanlinXie

dm: replace UUID with vmname.
  devicemodel/core/hugetlb.c
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/include/dm.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

config_tool: update scenario xml for MAX_VM_NUM field
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

hv: remove UUID
  hypervisor/arch/x86/configs/vm_config.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/common/vm_uuids.h
  hypervisor/include/debug/profiling_internal.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

hv: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

config_tool: let common.MAX_VM_NUM controlled by scenario data
  misc/config_tools/board_config/board_cfg_gen.py
  misc/config_tools/config_app/views.py
  misc/config_tools/library/common.py
  misc/config_tools/scenario_config/scenario_cfg_gen.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @terryzouhao, @NanlinXie

devicemodel: remove MAX_KATA_VM_NUM and CONFIG_KATA_VM
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

config_tool: update scenario and launch xml for vm_name support
  misc/config_tools/data/generic_board/hybrid_launch_2user_vm.xml
  misc/config_tools/data/generic_board/shared_launch_6user_vm.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2user_vm.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6user_vm.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1user_vm_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1user_vm_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2user_vm.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6user_vm.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update sriov launch xml for ACRN-7483
  boards/adl-s-crb/shared_launch_6user_vm_sriov.xml
Owners: @anthonyzxu, @dongyaozu

misc: life_mngr: add monitor module
  misc/services/life_mngr/life_mngr.service.in
  misc/services/life_mngr/monitor.c
Owners: @ywan170, @shuox

misc: life_mngr: add script to do user VM shutdown
  misc/services/life_mngr/user_vm_shutdown.py
Owners: @ywan170, @shuox

misc: life_mngr: refine script to trigger system shutdown request
  misc/services/life_mngr/s5_trigger.sh
  misc/services/life_mngr/s5_trigger_linux.py
Owners: @ywan170, @shuox

misc: life_mngr: add log module
  misc/services/life_mngr/log.h
Owners: @ywan170, @shuox

misc: life_mngr: add socket moudle
  misc/services/life_mngr/socket.c
  misc/services/life_mngr/socket.h
Owners: @ywan170, @shuox

misc: life_mngr: update Makefile for lifecycle manager
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/life_mngr.c
Owners: @ywan170, @shuox

misc: life_mngr: add config module
  misc/services/life_mngr/config.c
  misc/services/life_mngr/config.h
  misc/services/life_mngr/life_mngr.conf
Owners: @ywan170, @shuox

misc: life_mngr: refine lifecycle manager for windows VM
  misc/services/life_mngr/life_mngr_win.c
  misc/services/life_mngr/s5_trigger_win.py
Owners: @ywan170, @shuox
