Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config_tools: fix UI issue that don't export xml file successfully
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix the UI issue that fail to create a new pre_rt_vm
  misc/config_tools/data/generic_board/hybrid_rt.xml
Owners: @terryzouhao, @NanlinXie

config_tools: fix the UI issue that fail to overwrite scenario file
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

doc: prepare docs for removal of HV_RAM_SIZE option
  doc/faq.rst
  doc/user-guides/kernel-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

deb-pkg: add acrn-hypervisor and acrn-board-inspector into debian package
  .deb.conf
  Makefile
  hypervisor/scripts/gen_acrn_deb.py
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/board_inspector/acpiparser/_utils.py
  misc/config_tools/board_inspector/acpiparser/apic.py
  misc/config_tools/board_inspector/acpiparser/asf.py
  misc/config_tools/board_inspector/acpiparser/dmar.py
  misc/config_tools/board_inspector/acpiparser/facp.py
  misc/config_tools/board_inspector/acpiparser/rdt.py
  misc/config_tools/board_inspector/acpiparser/rtct.py
  misc/config_tools/board_inspector/acpiparser/tpm2.py
  misc/config_tools/board_inspector/inspectorlib/bitfields.py
  misc/config_tools/board_inspector/inspectorlib/cdata.py
  misc/config_tools/board_inspector/inspectorlib/mmio.py
  misc/config_tools/board_inspector/inspectorlib/unpack.py
  misc/config_tools/board_inspector/pcieparser/caps.py
  misc/config_tools/board_inspector/pcieparser/extcaps.py
  misc/config_tools/board_inspector/pcieparser/header.py
  misc/config_tools/board_inspector/smbiosparser/smbios.py
  misc/packaging/100_ACRN
  misc/packaging/acrn-board-inspector.postinst
  misc/packaging/acrn-board-inspector.prerm
  misc/packaging/acrn-hypervisor.postinst
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

doc: update to sphinx_rtd_theme 1.0
  doc/conf.py
  doc/scripts/requirements.txt
  doc/scripts/show-versions.py
  doc/static/acrn-custom.js
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update to sphinx_rtd_theme 1.0
  doc/conf.py
  doc/scripts/requirements.txt
  doc/scripts/show-versions.py
  doc/static/acrn-custom.js
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in hv-dev-passthrough.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/developer-guides/hld/images/PTM-hld-PTM-flow.png
  doc/developer-guides/hld/images/passthru-image102.png
  doc/developer-guides/hld/images/passthru-image30.png
  doc/developer-guides/hld/images/passthru-image42.png
  doc/developer-guides/hld/images/passthru-image77.png
  doc/developer-guides/hld/images/passthru-image86.png
  doc/developer-guides/hld/images/passthru-image98.png
Owners: @dbkinder, @deb-intel, @NanlinXie

Update per comments
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweak python requirements for doc building
  doc/scripts/requirements.txt
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: tweak python requirements for doc building
  doc/scripts/requirements.txt
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: remove HV_RAM_SIZE
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/hv_config/hv_item.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/static_allocators/hv_ram.py
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

config_tools: update vTPM2 revision to 4
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add _CID to vACPI device objects
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

dm: TPM2 passthrough for post-launched VM with eventlog support
  devicemodel/hw/mmio/core.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/include/acpi.h
  devicemodel/include/mmio_dev.h
  devicemodel/include/tpm.h
Owners: @anthonyzxu, @ywan170

dm: Refine ACPI device passthrough framework
  devicemodel/core/main.c
  devicemodel/hw/mmio/core.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/tpm/tpm.c
  devicemodel/include/mmio_dev.h
Owners: @anthonyzxu, @ywan170

doc: terminology cleanup in hv-dev-passthrough.rst
  doc/developer-guides/hld/hv-dev-passthrough.rst
  doc/developer-guides/hld/images/PTM-hld-PTM-flow.png
  doc/developer-guides/hld/images/passthru-image102.png
  doc/developer-guides/hld/images/passthru-image30.png
  doc/developer-guides/hld/images/passthru-image42.png
  doc/developer-guides/hld/images/passthru-image77.png
  doc/developer-guides/hld/images/passthru-image86.png
  doc/developer-guides/hld/images/passthru-image98.png
Owners: @dbkinder, @deb-intel, @NanlinXie

Update per comments
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update Step 2 per feedback
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: update vTPM2 revision to 4
  misc/config_tools/acpi_gen/bin_gen.py
Owners: @terryzouhao, @NanlinXie

board_inspector: add _CID to vACPI device objects
  misc/config_tools/board_inspector/extractors/50-acpi.py
Owners: @terryzouhao, @NanlinXie

stl/v2.7: Add STL enabling patches for v2.7-unstable
  stl/v2.7/0001-hv-handle-NMIs-due-to-IBECC-errors.patch
  stl/v2.7/0002-hv-add-hypercalls-to-invoke-STL-tests.patch
  stl/v2.7/0003-HV-vhostbridge-expose-VIDDID-of-the-physical-host-br.patch
Owners: @anthonyzxu, @dongyaozu

ehl-crb-b/fusa_partition: add configurations for integrating STL
  boards/ehl-crb-b/fusa_partition.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: fix UI issue that don't export xml file successfully
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix the UI issue that fail to overwrite scenario file
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

config_tools: fix the UI issue that fail to create a new pre_rt_vm
  misc/config_tools/data/generic_board/hybrid_rt.xml
Owners: @terryzouhao, @NanlinXie

Fix line widths
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update per comments
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update Step 2 per feedback
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update per comments
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update Overview with DX recommendations
  doc/getting-started/images/gsg_overview_image_sources.pptx
  doc/getting-started/images/overview_flow.png
  doc/getting-started/overview_dev.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: unmap IOMMU register pages from service VM EPT
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

just a test for CI
  doc/README.md
  misc/config_tools/README
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

doc: terminology cleanup in using_grub.rst
  doc/tutorials/using_grub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools : Add adl-s-crb scenario file Add adl-s-crb scenario file gpu and network Signed-off-by: zhongzhenx.liu <zhongzhenx.liu@intel.com>
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

Revert "ehl-crb-b/fusa_partition: add configurations for integrating STL"
  boards/ehl-crb-b/fusa_partition.xml
Owners: @anthonyzxu, @dongyaozu

config_tools : update adl-s-crb and ehl-crb-b scenario file update adl-s-crb and ehl-crb-b scenario file Signed-off-by: zhongzhenx.liu <zhongzhenx.liu@intel.com>
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: add PnP uart and rtc for pre-launched VM
  misc/config_tools/acpi_gen/asl_gen.py
Owners: @terryzouhao, @NanlinXie

Revert "config_tools : update adl-s-crb and ehl-crb-b scenario file"
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
Owners: @anthonyzxu, @dongyaozu

Revert "config_tools : Add adl-s-crb scenario file"
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
