Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv: vlapic: wrap a function to calculate destination vcpu mask by shorthand
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/include/arch/x86/asm/apicreg.h
  hypervisor/include/arch/x86/asm/guest/vlapic.h
Owners: @anthonyzxu, @dongyaozu

hv: vlapic: extend vlapic_x2apic_pt_icr_access to support more destination mode
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

doc: add documentation for allow_trigger_s5 in pm_notify_channel
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/tutorials/enable_s5.rst
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: add get_shmem_regions and vm type checking to lib.py
  misc/config_tools/static_allocators/lib/lib.py
Owners: @terryzouhao, @NanlinXie

config-tools: add get_shmem_regions and vm type checking to lib.py
  misc/config_tools/static_allocators/lib/lib.py
Owners: @terryzouhao, @NanlinXie

hv: nested: support for VMXON emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: check prerequisites to enter VMX operation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMXOFF emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMPTRLD emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/vmx.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define software layout for VMCS12 and helper functions
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define VMCS shadow fields
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMREAD and VMWRITE emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMCLEAR emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

config-tools: add bdf static allocator
  misc/config_tools/static_allocators/bdf.py
Owners: @terryzouhao, @NanlinXie

config-tools: add board_info.h.xsl
  misc/config_tools/xforms/board_info.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add pci_dev.c.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: build acrn with xslt generated pci_dev.c and board_info.h
  hypervisor/scripts/genconf.sh
Owners: @anthonyzxu, @dongyaozu

config-tools: add acrn specific functions to lib.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add methods to allocate mmio windows for emulated devices
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: add pci_dev.c.xsl
  misc/config_tools/xforms/pci_dev.c.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add board_info.h.xsl
  misc/config_tools/xforms/board_info.h.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add bdf static allocator
  misc/config_tools/static_allocators/bdf.py
Owners: @terryzouhao, @NanlinXie

config-tools: build acrn with xslt generated pci_dev.c and board_info.h
  hypervisor/scripts/genconf.sh
Owners: @anthonyzxu, @dongyaozu

config-tools: add methods to allocate mmio windows for emulated devices
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: add acrn specific functions to lib.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

hv: vlapic: wrap a function to calculate destination vcpu mask by shorthand
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/include/arch/x86/asm/apicreg.h
  hypervisor/include/arch/x86/asm/guest/vlapic.h
Owners: @anthonyzxu, @dongyaozu

hv: vlapic: extend vlapic_x2apic_pt_icr_access to support more destination mode
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: vlapic: extend vlapic_x2apic_pt_icr_access to support more destination mode
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

hv: vlapic: wrap a function to calculate destination vcpu mask by shorthand
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/include/arch/x86/asm/apicreg.h
  hypervisor/include/arch/x86/asm/guest/vlapic.h
Owners: @anthonyzxu, @dongyaozu

HV: Fix mistake use stac() & clac()
  hypervisor/arch/x86/cpu.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMXOFF emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMCLEAR emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: check prerequisites to enter VMX operation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define VMCS shadow fields
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMREAD and VMWRITE emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: define software layout for VMCS12 and helper functions
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMPTRLD emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/vmx.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vmcs.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: support for VMXON emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

dm: rb: only free rb_entry when we remove this entry from the rb tree
  devicemodel/core/mem.c
Owners: @anthonyzxu, @ywan170

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
