Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

doc: terminology cleanup in acrntrace readme
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update dates
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Replace ACRNSOS with ServiceVM in commands
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in acrn_on_qemu.rst
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update per feedback
  doc/tutorials/using_grub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Remove prompts in commands
  doc/tutorials/using_grub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in using_grub.rst
  doc/tutorials/using_grub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Update virtio network in launch script
  doc/reference/config-options-launch.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix broken links
  doc/reference/hardware.rst
  doc/tutorials/trustyACRN.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: Fix vcpu signaling racing problem in lock instruction emulation
  hypervisor/arch/x86/guest/lock_instr_emul.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/include/arch/x86/asm/guest/virq.h
Owners: @anthonyzxu, @dongyaozu

deb-pkg: load msr driver in board_parse.py
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

config_tools: Format launch xml
  misc/config_tools/data/generic_board/hybrid_launch_2uos.xml
  misc/config_tools/data/generic_board/shared_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

config_tools: Update launch xml for GPU passthrough support
  misc/config_tools/data/generic_board/hybrid_launch_2uos.xml
  misc/config_tools/data/generic_board/shared_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/shared_launch_6uos.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_laag.xml
  misc/config_tools/data/whl-ipc-i5/sdc_launch_1uos_zephyr.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_hardrt.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_vxworks.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_1uos_waag.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_2uos.xml
  misc/config_tools/data/whl-ipc-i5/shared_launch_6uos.xml
Owners: @terryzouhao, @NanlinXie

config_tools: improve logging readability for the board inspector
  misc/config_tools/board_inspector/legacy/parser_lib.py
Owners: @terryzouhao, @NanlinXie

ACRN: hv: Unify terminology for service vm
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vm_reset.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/guest/vmtrr.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/common/hypercall.c
  hypervisor/common/ptdev.c
  hypervisor/debug/hypercall.c
  hypervisor/debug/shell.c
  hypervisor/dm/io_req.c
  hypervisor/dm/mmio_dev.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/common/hypercall.h
Owners: @anthonyzxu, @dongyaozu

deb-pkg: load msr driver in board_parse.py
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

upload CAT patches for release_2.5 branch
  cat/v2.5/release_2.5/0001-hv-support-non-spec-CAT-ASSOC-MSR-setting.patch
  cat/v2.5/release_2.5/0002-misc-modify-configure-to-enable-CAT.patch
Owners: @anthonyzxu, @dongyaozu

rebase cat for v2.6
  cat/v2.6/0001-hv-support-non-spec-CAT-ASSOC-MSR-setting.patch
  cat/v2.6/0002-misc-configure-to-enable-CAT-for-RT-scenarios.patch
Owners: @anthonyzxu, @dongyaozu

hv: align the MAX_IR_ENRIES to MAX_PT_IRQ_ENTRIES
  hypervisor/arch/x86/vtd.c
  hypervisor/include/arch/x86/asm/vtd.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

Updated per feedback
  doc/reference/config-options-launch.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: fix broken links
  doc/reference/hardware.rst
  doc/tutorials/trustyACRN.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: Update GPU support
  misc/config_tools/config_app/templates/launch.html
  misc/config_tools/config_app/views.py
  misc/config_tools/launch_config/com.py
  misc/config_tools/launch_config/launch_cfg_gen.py
  misc/config_tools/launch_config/launch_item.py
  misc/config_tools/launch_config/pt.py
  misc/config_tools/library/launch_cfg_lib.py
Owners: @terryzouhao, @NanlinXie

ACRN: hv: Rename sos_vm_ptr to service_vm_ptr
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename is_sos_vm to is_service_vm
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vm_reset.c
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/guest/vmtrr.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/common/hypercall.c
  hypervisor/common/ptdev.c
  hypervisor/debug/hypercall.c
  hypervisor/debug/shell.c
  hypervisor/dm/io_req.c
  hypervisor/dm/mmio_dev.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpic.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/common/hypercall.h
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename get_sos_vm to get_service_vm
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename prepare_sos_vm_memmap to prepare_service_vm_memmap
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename create_sos_vm_e820 to create_service_vm_e820
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename filter_mem_from_sos_e820 to filter_mem_from_service_vm_e820
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

ACRN:hv: Rename sos to service_vm in hcall
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/common/hypercall.c
  hypervisor/include/common/hypercall.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename sos_vm_hpa2gpa to service_vm_hpa2gpa
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/guest/bzimage_loader.c
  hypervisor/include/arch/x86/asm/guest/ept.h
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename SOS in PCI_DEV_TYPE_SOSEMUL to Service VM
  hypervisor/arch/x86/configs/pci_dev.c
  hypervisor/include/arch/x86/asm/vm_config.h
Owners: @anthonyzxu, @dongyaozu

ACRN: hv: Rename SOS_VM_NUM to SERVICE_VM_NUM
  hypervisor/arch/x86/mmu.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/include/arch/x86/asm/vm_config.h
  misc/config_tools/scenario_config/vm_configurations_h.py
  misc/config_tools/xforms/vm_configurations.h.xsl
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

ACRN: dm: Rename SOS_SOCKET_PORT to SERVICE_VM_SOCKET_PORT
  devicemodel/core/pm_vuart.c
  misc/services/life_mngr/life_mngr.c
Owners: @anthonyzxu, @ywan170, @shuox

ACRN: config_tools: Rename SOS in macro to SERVICE_VM
  hypervisor/include/arch/x86/asm/vm_config.h
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/scenario_config/vm_configurations_h.py
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

ACRN: misc: Rename SOS_VM type to SERVICE_VM type
  hypervisor/arch/x86/configs/pci_dev.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_common.h
  misc/config_tools/board_config/vbar_base_h.py
  misc/config_tools/config_app/views.py
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/library/launch_cfg_lib.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/pci_dev_c.py
  misc/config_tools/scenario_config/scenario_item.py
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/scenario_config/vm_configurations_h.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/static_allocators/cpu_affinity.py
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/static_allocators/lib/lib.py
  misc/config_tools/static_allocators/pio.py
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/vm_configurations.h.xsl
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

ACRN: hv: Rename uos to user_vm
  devicemodel/hw/platform/rpmb/rpmb_backend.c
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/common/trusty_hypercall.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vhostbridge.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vsriov.c
  hypervisor/include/arch/x86/asm/guest/assign.h
  hypervisor/include/arch/x86/asm/guest/trusty.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

ACRN: hv: Unify terminology for user vm
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/common/trusty_hypercall.c
  hypervisor/dm/vpci/vhostbridge.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/include/arch/x86/asm/guest/trusty.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/vacpi.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

ACRN: misc: Unify terminology for uos in macro
  devicemodel/core/pm_vuart.c
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
  devicemodel/hw/pci/wdt_i6300esb.c
  devicemodel/hw/platform/rpmb/rpmb_backend.c
  devicemodel/include/att_keybox.h
Owners: @anthonyzxu, @ywan170
