Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

hv: nested: support for VMLAUNCH and VMRESUME emulation
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: implement nested VM exit handler
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

Revert "config_tools: save board xml when loading from config tool UI"
  misc/config_tools/config_app/views.py
Owners: @terryzouhao, @NanlinXie

hv: nested: Introduce shadow EPT infrastructure
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce L2 VM EPT VIOLATION handler
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
  hypervisor/include/arch/x86/asm/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: INVEPT emulation supports shadow EPT
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Create a page pool for shadow EPT construction
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: audit guest EPT mapping during shadow EPT entries setup
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Hide some capability bits from L1 guest
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce shadow EPT release function
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Manage shadow EPTP according to guest VMCS change
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Manage shadow EPTP according to guest VMCS change
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Create a page pool for shadow EPT construction
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Hide some capability bits from L1 guest
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce L2 VM EPT VIOLATION handler
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
  hypervisor/include/arch/x86/asm/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce shadow EPT infrastructure
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce shadow EPT release function
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: audit guest EPT mapping during shadow EPT entries setup
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: INVEPT emulation supports shadow EPT
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

doc: update the ACRN on QEMU tutorial to v2.5
  doc/tutorials/acrn_on_qemu.rst
  doc/tutorials/images/acrn_qemu_4.png
Owners: @dbkinder, @deb-intel, @NanlinXie

HV: VPCI: Fix too much of pci_vdev_update_vbar_base log
  hypervisor/dm/vpci/vpci.c
Owners: @anthonyzxu, @dongyaozu

hv: validate input for dmar_free_irte function
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/vtd.c
Owners: @anthonyzxu, @dongyaozu

hv: remove unnecessary ASSERT in vlapic_write
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

dm: Reset virtio device before release
  devicemodel/hw/pci/virtio/virtio_audio.c
  devicemodel/hw/pci/virtio/virtio_block.c
  devicemodel/hw/pci/virtio/virtio_console.c
  devicemodel/hw/pci/virtio/virtio_coreu.c
  devicemodel/hw/pci/virtio/virtio_gpio.c
  devicemodel/hw/pci/virtio/virtio_hdcp.c
  devicemodel/hw/pci/virtio/virtio_hyper_dmabuf.c
  devicemodel/hw/pci/virtio/virtio_i2c.c
  devicemodel/hw/pci/virtio/virtio_input.c
  devicemodel/hw/pci/virtio/virtio_ipu.c
  devicemodel/hw/pci/virtio/virtio_mei.c
  devicemodel/hw/pci/virtio/virtio_net.c
  devicemodel/hw/pci/virtio/virtio_rnd.c
  devicemodel/hw/pci/virtio/virtio_rpmb.c
Owners: @anthonyzxu, @ywan170

hv: remove unnecessary ASSERT in vlapic_write
  hypervisor/arch/x86/guest/vlapic.c
Owners: @anthonyzxu, @dongyaozu

dm: validate inputs in vq_endchains
  devicemodel/hw/pci/virtio/virtio.c
Owners: @anthonyzxu, @ywan170

hv: validate input for dmar_free_irte function
  hypervisor/arch/x86/guest/assign.c
  hypervisor/arch/x86/vtd.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce shadow EPT infrastructure
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: audit guest EPT mapping during shadow EPT entries setup
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Create a page pool for shadow EPT construction
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce shadow EPT release function
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: INVEPT emulation supports shadow EPT
  hypervisor/arch/x86/guest/vept.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Manage shadow EPTP according to guest VMCS change
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: Hide some capability bits from L1 guest
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: Introduce L2 VM EPT VIOLATION handler
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/vept.h
  hypervisor/include/arch/x86/asm/pgtable.h
Owners: @anthonyzxu, @dongyaozu

HV: boot guest with boot params
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: rename mi_acpi_rsdp_va to acpi_rsdp_va
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: init hv_e820 from efi mmap if boot from uefi
  hypervisor/arch/x86/e820.c
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: create guest efi memmap for SOS VM
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: add find_space_from_ve820() api
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
