Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

Revert "config_tools: update adl-s-crb and icx-rvp and icx-d-hcc borad file"
  boards/adl-s-crb/adl-s-crb.xml
  boards/icx-d-hcc/icx-d-hcc.xml
  boards/icx-d-hcc/shared.xml
  boards/icx-rvp/icx-rvp.xml
Owners: @anthonyzxu, @dongyaozu

config-tools: allow SERIAL_CONSOLE to use any native ttyS#
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/static_allocators/lib/error.py
  misc/config_tools/static_allocators/pio.py
Owners: @terryzouhao, @NanlinXie

doc: terminology cleanup in acrn_on_qemu.rst
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update per feedback
  doc/tutorials/using_grub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in acrntrace readme
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: allow SERIAL_CONSOLE to use any native ttyS#
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/static_allocators/intx.py
  misc/config_tools/static_allocators/lib/error.py
  misc/config_tools/static_allocators/pio.py
Owners: @terryzouhao, @NanlinXie

hv/config-tools: add the support for vCAT
  hypervisor/include/public/acrn_common.h
  misc/config_tools/library/common.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/scenario_item.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/config_common.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: add config UI support for vCAT
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

hv: vCAT: initialize the emulated_guest_msrs array for CAT msrs during platform initialization
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @anthonyzxu, @dongyaozu

hv/config_tools: amend the struct acrn_vm_config to make it compatible with vCAT
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/vm_config.h
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: skip remapping HW units with no devices under scope
  misc/config_tools/board_inspector/legacy/dmar.py
Owners: @terryzouhao, @NanlinXie

config_tools: add PnP uart and rtc for pre-launched VM
  misc/config_tools/acpi_gen/asl_gen.py
Owners: @terryzouhao, @NanlinXie

HV: Fix the problems in ve820 acpi area
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

HV: move the ve820 GPU OpRegion address
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/common/ptdev.h
  hypervisor/include/dm/vacpi.h
Owners: @anthonyzxu, @dongyaozu

config-tools: move the pre RTVM's SSRAM base GPA
  misc/config_tools/acpi_gen/bin_gen.py
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

HV: refine the ve820 tab for pre-VMs
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

config_tools: skip remapping HW units with no devices under scope
  misc/config_tools/board_inspector/legacy/dmar.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove HV_RAM_SIZE
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
  misc/config_tools/hv_config/board_defconfig.py
  misc/config_tools/hv_config/hv_item.py
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/static_allocators/hv_ram.py
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

hv: vMSR: minor fix about rdmsr_vmexit_handler
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

Updated per feedback
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in acrnlog readme
  misc/debug_tools/acrn_log/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in crashlog readme
  misc/debug_tools/acrn_crashlog/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_log/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_crashlog/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv/config-tools: add the support for vCAT
  hypervisor/include/public/acrn_common.h
  misc/config_tools/library/common.py
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/scenario_config/scenario_item.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/schema/types.xsd
  misc/config_tools/xforms/config_common.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

hv: vCAT: initialize the emulated_guest_msrs array for CAT msrs during platform initialization
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @anthonyzxu, @dongyaozu

config_tools: add config UI support for vCAT
  misc/config_tools/data/cfl-k700-i7/hybrid_rt.xml
  misc/config_tools/data/cfl-k700-i7/shared.xml
  misc/config_tools/data/generic_board/hybrid.xml
  misc/config_tools/data/generic_board/partitioned.xml
  misc/config_tools/data/generic_board/shared.xml
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
  misc/config_tools/data/nuc11tnbi5/shared.xml
  misc/config_tools/data/qemu/sdc.xml
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/partitioned.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

hv/config_tools: amend the struct acrn_vm_config to make it compatible with vCAT
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/vm_config.h
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
  misc/config_tools/xforms/vm_configurations.c.xsl
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

config_tools: remove hvlog and memmap parameter in bootargs
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

config_tools: update all board file and scenario file
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
Owners: @terryzouhao, @NanlinXie

config_tools: fix crash in board_inspector if cpuid is missing
  misc/config_tools/board_inspector/board_inspector.py
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

config_tools: remove hvlog and memmap parameter in bootargs
  misc/config_tools/data/whl-ipc-i5/hybrid.xml
  misc/config_tools/data/whl-ipc-i5/hybrid_rt.xml
  misc/config_tools/data/whl-ipc-i5/sdc.xml
  misc/config_tools/data/whl-ipc-i5/shared.xml
Owners: @terryzouhao, @NanlinXie

Updated commands per feedback
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: allow to configure guest flag for post-launched VM
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

hv: vMSR: minor fix about rdmsr_vmexit_handler
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

config_tools: update all board file and scenario file
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/generic_board/generic_board.xml
  misc/config_tools/data/generic_board/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
Owners: @terryzouhao, @NanlinXie

config_tools : update all board file and scenario file update all board file and scenario file add icx-d-hcc board file and scenario file
  boards/adl-s-crb/adl-s-crb.xml
  boards/ehl-crb-b/ehl-crb-b.xml
  boards/ehl-crb-b/fusa_partition.xml
  boards/ehl-crb-b/hybrid.xml
  boards/ehl-crb-b/hybrid_rt.xml
  boards/ehl-crb-b/hybrid_rt_fusa.xml
  boards/ehl-crb-b/partitioned.xml
  boards/ehl-crb-b/sdc.xml
  boards/ehl-crb-b/shared.xml
  boards/icx-d-hcc/icx-d-hcc.xml
  boards/icx-d-hcc/shared.xml
  boards/tgl-rvp/tgl-rvp.xml
Owners: @anthonyzxu, @dongyaozu

config_tools: fix crash in board_inspector if cpuid is missing
  misc/config_tools/board_inspector/board_inspector.py
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

config_tools: always initialize hw_ignore when parsing DMAR
  misc/config_tools/board_inspector/legacy/dmar.py
Owners: @terryzouhao, @NanlinXie
