Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

HV: modularization: remove mi_flags from acrn boot info
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/debug/console.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: use cmdline char array in acrn boot info
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/debug/console.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: name change on acrn_multiboot_info
  hypervisor/arch/x86/e820.c
  hypervisor/arch/x86/init.c
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/multiboot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
  hypervisor/common/vm_load.c
  hypervisor/debug/console.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: add boot.c to wrap multiboot module
  hypervisor/Makefile
  hypervisor/arch/x86/init.c
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/boot/multiboot/multiboot_priv.h
Owners: @anthonyzxu, @dongyaozu

HV: init paging before init e820
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/mmu.c
Owners: @anthonyzxu, @dongyaozu

HV: boot guest with boot params
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: rename multiboot.h to boot.h
  hypervisor/arch/x86/boot/cpu_primary.S
  hypervisor/arch/x86/e820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/init.c
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/common/vm_load.c
  hypervisor/debug/console.c
  hypervisor/include/arch/x86/asm/vm_config.h
Owners: @anthonyzxu, @dongyaozu

HV: modify low 1MB area for pre-launched VM e820
  hypervisor/arch/x86/guest/ve820.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: use loader_name char array in acrn boot info
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: move module check to sanitize multiboot info
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/multiboot/multiboot.c
Owners: @anthonyzxu, @dongyaozu

HV: add efi memory map parsing function
  hypervisor/Makefile
  hypervisor/common/efi_mmap.c
  hypervisor/include/common/efi_mmap.h
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: add find_space_from_ve820() api
  hypervisor/arch/x86/guest/ve820.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

HV: place kernel and ramdisk by find_space_from_ve820()
  hypervisor/boot/boot.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/asm/zeropage.h
Owners: @anthonyzxu, @dongyaozu

HV: modularization: use abi_module struct in acrn boot info
  hypervisor/boot/boot.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: avoid pre-launched VM modules being corrupted by SOS kernel load
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

HV: modularizatoin: refine efi_info struct usage in acrn boot info
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/common/vm_load.c
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

dm: get native rootport's max payload
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

hv: add max payload to vrp
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/hw/pci.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

hv: add max payload to vrp
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/hw/pci.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

dm: get native rootport's max payload
  devicemodel/hw/pci/ptm.c
Owners: @anthonyzxu, @ywan170

upload CAT patches for different versions
  cat/v2.0/0001-CAT-rebase-the-embargo-patch-to-acrn-2020w23.6-18000.patch
  cat/v2.0/0001-CAT-rebase-the-embargo-patch-to-acrn-release-2.1.patch
  cat/v2.2/0002-to-enable-CAT-in-TGL.patch-asPerCore
  cat/v2.3/0002-hv-rebase-CAT-patch-for-branch-2.3-acrn-2020w45.1-18.patch
  cat/v2.4/0001-rebase-CAT-patch-to-release-v2.4.patch
  cat/v2.4/0001-rebase-CAT-patch-to-tag-acrn-2021w10.1-180000p.patch
  cat/v2.5/0001-rebase-CAT-patch-to-release_v2.5-rc3.patch
Owners: @anthonyzxu, @dongyaozu

Patch unformatted generated code instead
  dp4/v2.5/tgl_acpi.patch
Owners: @anthonyzxu, @dongyaozu

update ioapic: allocate irq vector for pt_intx
  dp4/v2.5/v3-0003-HV-ioapic-allocate-irq-vector-for-pt_intx.patch
Owners: @anthonyzxu, @dongyaozu

config-tools: allocate the first unused bar for vmsix
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config-tools: allocate the first unused bar for vmsix
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

config_tools: add the missing GUEST_FLAG_NVMX_ENABLED to common.py
  misc/config_tools/library/common.py
Owners: @terryzouhao, @NanlinXie

doc: update doc guidlines for ACRN config options
  doc/developer-guides/doc_guidelines.rst
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add nested virtualization user guide
  doc/develop.rst
  doc/tutorials/images/nvmx_1.png
  doc/tutorials/images/nvmx_arch_1.png
  doc/tutorials/images/nvmx_cfg_1.png
  doc/tutorials/images/nvmx_cfg_2.png
  doc/tutorials/images/nvmx_cfg_3.png
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update doc guidlines for ACRN config options
  doc/developer-guides/doc_guidelines.rst
  doc/tutorials/docbuild.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

DM: xHCI: Check trb pointer before use it
  devicemodel/hw/pci/xhci.c
Owners: @anthonyzxu, @ywan170

HV: modularization: use loader_name char array in acrn boot info
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: place kernel and ramdisk by find_space_from_ve820()
  hypervisor/boot/boot.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/common/vm_load.c
  hypervisor/include/arch/x86/asm/zeropage.h
Owners: @anthonyzxu, @dongyaozu

HV: boot guest with boot params
  hypervisor/arch/x86/guest/vm.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/common/vm_load.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: rename multiboot.h to boot.h
  hypervisor/arch/x86/boot/cpu_primary.S
  hypervisor/arch/x86/e820.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/init.c
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/acpi_base.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/common/vm_load.c
  hypervisor/debug/console.c
  hypervisor/include/arch/x86/asm/vm_config.h
Owners: @anthonyzxu, @dongyaozu

HV: modularizatoin: refine efi_info struct usage in acrn boot info
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/common/vm_load.c
  hypervisor/include/lib/efi.h
Owners: @anthonyzxu, @dongyaozu

HV: modularization: use cmdline char array in acrn boot info
  hypervisor/arch/x86/seed/seed.c
  hypervisor/boot/guest/vboot_info.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
  hypervisor/debug/console.c
Owners: @anthonyzxu, @dongyaozu

HV: init paging before init e820
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/mmu.c
Owners: @anthonyzxu, @dongyaozu

HV: modify low 1MB area for pre-launched VM e820
  hypervisor/arch/x86/guest/ve820.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: use abi_mmap struct in acrn boot info
  hypervisor/arch/x86/e820.c
  hypervisor/boot/boot.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot.c
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu

HV: modularization: rename mi_acpi_rsdp_va to acpi_rsdp_va
  hypervisor/boot/acpi_base.c
  hypervisor/boot/include/boot.h
  hypervisor/boot/multiboot/multiboot2.c
Owners: @anthonyzxu, @dongyaozu
