Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

dm: Remove unused vm_create_vcpu() interface
  devicemodel/core/main.c
  devicemodel/core/vmmapi.c
  devicemodel/include/public/vhm_ioctl_defs.h
  devicemodel/include/vmmapi.h
Owners: @anthonyzxu, @ywan170

hv: dm: Use new pci device passthrough management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpci/vpci_priv.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/vpci.h
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

dm: Use new interrupt management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

dm: Use new ioctl ACRN_IOCTL_GET_PLATFORM_INFO
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/acpi.h
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  hypervisor/include/arch/x86/asm/vm_config.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

dm: Remove header vmm.h
  devicemodel/core/main.c
  devicemodel/core/mem.c
  devicemodel/hw/platform/ioapic.c
  devicemodel/include/dm.h
  devicemodel/include/mem.h
  devicemodel/include/pm.h
  devicemodel/include/vmm.h
  devicemodel/include/vmmapi.h
  misc/services/acrn_manager/Makefile
  misc/services/acrn_manager/acrn_vm_ops.c
Owners: @anthonyzxu, @ywan170, @shuox

hv: dm: Remove aligned attribute of common structures
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

doc: Change VHM to HSM in documentations
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-hypervisor.rst
  doc/developer-guides/hld/hld-overview.rst
  doc/developer-guides/hld/hld-power-management.rst
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/hv-hypercall.rst
  doc/developer-guides/hld/hv-interrupt.rst
  doc/developer-guides/hld/hv-io-emulation.rst
  doc/developer-guides/hld/virtio-net.rst
  doc/developer-guides/hld/watchdog-hld.rst
  doc/glossary.rst
  doc/introduction/index.rst
  doc/tutorials/launch_uos.sh
  doc/tutorials/setup_openstack_libvirt.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

dm: return value 0 of vm_create_ioreq_client is valid
  devicemodel/core/main.c
Owners: @anthonyzxu, @ywan170

dm: Remove the API version check
  devicemodel/core/vmmapi.c
  devicemodel/include/public/vhm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

hv: dm: Use new power management data structures
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi_pm.c
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/acpi_parser/acpi_ext.c
  hypervisor/arch/x86/cpu_state_tbl.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/vm_reset.c
  hypervisor/arch/x86/pm.c
  hypervisor/common/hypercall.c
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/host_pm.h
  hypervisor/include/public/acrn_common.h
  misc/config_tools/board_config/board_c.py
  misc/config_tools/data/generic_board/generic_code/boards/board.c
Owners: @anthonyzxu, @ywan170, @dongyaozu, @terryzouhao, @NanlinXie

doc: Adapt documents to new HSM driver
  devicemodel/include/public/hsm_ioctl_defs.h
  doc/.known-issues/doc/dupdecl.conf
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-power-management.rst
  doc/developer-guides/hld/hv-io-emulation.rst
Owners: @anthonyzxu, @ywan170, @dbkinder, @deb-intel, @NanlinXie

dm: Use new memory management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

hv: Use new struct acrn_platform_info to adapt new HSM driver
  hypervisor/common/hypercall.c
  hypervisor/include/common/hypercall.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @dongyaozu

dm: Rename vhm_ioctl_defs.h to hsm_ioctl_defs.h
  devicemodel/include/acpi.h
  devicemodel/include/mem.h
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  doc/acrn.doxyfile
  misc/services/acrn_manager/Makefile
Owners: @anthonyzxu, @ywan170, @dbkinder, @deb-intel, @NanlinXie, @shuox

hv: dm: Use new virtual device management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/ivshmem.c
  devicemodel/hw/pci/ptm.c
  devicemodel/hw/pci/uart.c
  devicemodel/include/public/hsm_ioctl_defs.h
  devicemodel/include/vmmapi.h
  hypervisor/common/hypercall.c
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vroot_port.c
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/ivshmem.h
  hypervisor/include/dm/vmcs9900.h
  hypervisor/include/dm/vroot_port.h
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

hv: dm: Use new I/O request data structures
  devicemodel/core/inout.c
  devicemodel/core/main.c
  devicemodel/core/mem.c
  devicemodel/core/vmmapi.c
  devicemodel/include/inout.h
  devicemodel/include/mem.h
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/pm.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vm_reset.c
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/common/hypercall.c
  hypervisor/dm/io_req.c
  hypervisor/dm/vgpio.c
  hypervisor/dm/vioapic.c
  hypervisor/dm/vpci/ivshmem.c
  hypervisor/dm/vpci/pci_pt.c
  hypervisor/dm/vpci/vmcs9900.c
  hypervisor/dm/vpci/vmsix.c
  hypervisor/dm/vpci/vpci.c
  hypervisor/dm/vpic.c
  hypervisor/dm/vrtc.c
  hypervisor/dm/vuart.c
  hypervisor/include/arch/x86/asm/guest/vmx_io.h
  hypervisor/include/arch/x86/asm/irq.h
  hypervisor/include/common/hypercall.h
  hypervisor/include/dm/io_req.h
  hypervisor/include/public/acrn_common.h
  misc/hv_prebuild/static_checks.c
Owners: @anthonyzxu, @ywan170, @dongyaozu, @terryzouhao, @NanlinXie

dm: Use new ptdev interrupt management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/public/hsm_ioctl_defs.h
Owners: @anthonyzxu, @ywan170

dm: Use new MMIO device passthrough management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/hw/mmio/core.c
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/common/hypercall.c
  hypervisor/dm/mmio_dev.c
  hypervisor/dm/vgpio.c
  hypervisor/include/public/acrn_common.h
  hypervisor/include/public/acrn_hv_defs.h
  misc/config_tools/data/generic_board/generic_code/hybrid/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/vm_configurations.c
  misc/config_tools/data/generic_board/generic_code/logical_partition/vm_configurations.c
  misc/config_tools/scenario_config/vm_configurations_c.py
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @anthonyzxu, @ywan170, @dongyaozu, @terryzouhao, @NanlinXie

dm: Remove hardcode vm_config size from vm_get_config()
  devicemodel/core/vmmapi.c
Owners: @anthonyzxu, @ywan170

hv: Remove unused definition
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @dongyaozu

hv: dm: Use new VM management ioctls
  devicemodel/core/vmmapi.c
  devicemodel/include/public/hsm_ioctl_defs.h
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/include/common/hypercall.h
  hypervisor/include/public/acrn_common.h
Owners: @anthonyzxu, @ywan170, @dongyaozu

hv: minor coding style fix in list.h
  hypervisor/include/lib/list.h
Owners: @anthonyzxu, @dongyaozu

hv: minor coding style fix in list.h
  hypervisor/include/lib/list.h
Owners: @anthonyzxu, @dongyaozu

hv: minor coding style fix in list.h
  hypervisor/include/lib/list.h
Owners: @anthonyzxu, @dongyaozu

config_tools: update board xml files for MAX_MSIX_TABLE_NUM fix
  misc/config_tools/data/adl-rvp/adl-rvp.xml
  misc/config_tools/data/cfl-k700-i7/cfl-k700-i7.xml
  misc/config_tools/data/ehl-crb-b/ehl-crb-b.xml
  misc/config_tools/data/nuc11tnbi5/nuc11tnbi5.xml
  misc/config_tools/data/nuc7i7dnb/nuc7i7dnb.xml
  misc/config_tools/data/tgl-rvp/tgl-rvp.xml
  misc/config_tools/data/whl-ipc-i5/whl-ipc-i5.xml
  misc/config_tools/data/whl-ipc-i7/whl-ipc-i7.xml
Owners: @terryzouhao, @NanlinXie

stl/v2.5: Add STL enabling patches for v2.5
  stl/v2.5/0001-hv-handle-NMIs-due-to-IBECC-errors.patch
  stl/v2.5/0002-hv-add-hypercalls-to-invoke-STL-tests.patch
  stl/v2.5/0003-HV-vhostbridge-expose-VIDDID-of-the-physical-host-br.patch
Owners: @anthonyzxu, @dongyaozu

HV: Fix decode_instruction() trigger #UD for emulating UC-lock
  hypervisor/arch/x86/guest/instr_emul.c
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/vlapic.c
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/include/arch/x86/asm/guest/instr_emul.h
Owners: @anthonyzxu, @dongyaozu

HV: re-use split-lock emulation code for uc-lock
  hypervisor/arch/x86/cpu_caps.c
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/include/arch/x86/asm/cpu_caps.h
  hypervisor/include/arch/x86/asm/msr.h
Owners: @anthonyzxu, @dongyaozu

HV: rename split-lock emulation APIs
  hypervisor/arch/x86/guest/splitlock.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/splitlock.h
Owners: @anthonyzxu, @dongyaozu

HV: rename splitlock file name
  hypervisor/Makefile
  hypervisor/arch/x86/guest/lock_instr_emul.c
  hypervisor/arch/x86/guest/virq.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/include/arch/x86/asm/guest/lock_instr_emul.h
Owners: @anthonyzxu, @dongyaozu

doc: add enable PTM tutorial
  doc/develop.rst
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: enlarge max size to store RTCT table
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @terryzouhao, @NanlinXie

HV: vm_load: build vrsdp after VM image loaded
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

HV: vm_load: build vrsdp after VM image loaded
  hypervisor/arch/x86/guest/vm.c
Owners: @anthonyzxu, @dongyaozu

doc: add enable PTM tutorial
  doc/develop.rst
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: refine the MAX_MSIX_TABLE_NUM in config.h
  misc/config_tools/xforms/config_common.xsl
Owners: @terryzouhao, @NanlinXie

config-tools: add MSI-X capability
  misc/config_tools/board_inspector/extractors/60-pci.py
  misc/config_tools/board_inspector/pcieparser/caps.py
Owners: @terryzouhao, @NanlinXie

config_tools: update nuc11tnbi5 xml files
  misc/config_tools/data/nuc11tnbi5/hybrid.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/hybrid_rt.xml
  misc/config_tools/data/nuc11tnbi5/industry.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_2uos.xml
  misc/config_tools/data/nuc11tnbi5/industry_launch_6uos.xml
  misc/config_tools/data/nuc11tnbi5/logical_partition.xml
Owners: @terryzouhao, @NanlinXie

config_tools: enlarge max size to store RTCT table
  misc/config_tools/acpi_gen/acpi_const.py
Owners: @terryzouhao, @NanlinXie

config-tools: do not exit when the board inspector runs in hypervisor
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/cpuparser/__init__.py
  misc/config_tools/board_inspector/cpuparser/cpuids.py
  misc/config_tools/board_inspector/extractors/10-processors.py
  misc/config_tools/board_inspector/legacy/board_parser.py
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
