Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

doc: Update VT-d spec link
  doc/developer-guides/hld/hv-vt-d.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hld-virtio-devices.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in HLD virtio
  doc/developer-guides/hld/hld-virtio-devices.rst
  doc/developer-guides/hld/images/virtio-hld-image1.png
  doc/developer-guides/hld/images/virtio-hld-image3.png
  doc/developer-guides/hld/images/virtio-hld-image54.png
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hv-startup.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in HLD startup
  doc/developer-guides/hld/hv-startup.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hld-overview.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in HLD overview
  doc/developer-guides/hld/hld-overview.rst
  doc/developer-guides/hld/images/over-image11.png
  doc/developer-guides/hld/images/over-image110.png
  doc/developer-guides/hld/images/over-image13.png
  doc/developer-guides/hld/images/over-image134.png
  doc/developer-guides/hld/images/over-image15.png
  doc/developer-guides/hld/images/over-image21.png
  doc/developer-guides/hld/images/over-image29.png
  doc/developer-guides/hld/images/over-image34.png
  doc/developer-guides/hld/images/over-image4.png
  doc/developer-guides/hld/images/over-image85.png
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hld-devicemodel.rst
  doc/developer-guides/hld/hld-overview.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: enable hv features by default
  misc/config_tools/schema/config.xsd
Owners: @terryzouhao, @NanlinXie

Update AGL and TME links per feedback
  doc/developer-guides/hld/hld-security.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update AGL and TME links per feedback
  doc/developer-guides/hld/hld-security.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in HLD security
  doc/developer-guides/hld/hld-security.rst
  doc/developer-guides/hld/images/security-image-HV-overview.png
  doc/developer-guides/hld/images/security-image-secure-storage-virt.png
  doc/developer-guides/hld/images/security-image-secure-world.png
  doc/developer-guides/hld/images/security-image14.png
  doc/developer-guides/hld/images/security-image3.png
  doc/developer-guides/hld/images/security-image5.png
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in DM params
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: Update lcx-hcc/lcc Scenario xmls and launch xmls
  boards/icx-d-hcc/hybrid.xml
  boards/icx-d-hcc/hybrid_rt.xml
  boards/icx-d-hcc/shared_launch_2user_vm.xml
  boards/icx-d-hcc/shared_launch_6user_vm.xml
  boards/icx-rvp/hybrid.xml
  boards/icx-rvp/hybrid_rt.xml
  boards/icx-rvp/shared_launch_2user_vm.xml
Owners: @anthonyzxu, @dongyaozu

config-tools: refine MAX_MSIX_TABLE_NUM
  misc/config_tools/xforms/config.h.xsl
  misc/config_tools/xforms/config.mk.xsl
  misc/config_tools/xforms/config_common.xsl
  misc/config_tools/xforms/lib.xsl
Owners: @terryzouhao, @NanlinXie

deb-pkg: update deb configuration to install serial.conf
  .deb.conf
Owners: @anthonyzxu, @dongyaozu

doc: fix git clone and misspelling
  doc/developer-guides/hld/hld-power-management.rst
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: refine acrn:get-common-clos-max
  misc/config_tools/xforms/lib.xsl
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

doc: fix git clone and misspelling
  doc/developer-guides/hld/hld-power-management.rst
  doc/getting-started/getting-started.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in nvmx tutorial
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in nvmx tutorial
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in DM params
  doc/user-guides/acrn-dm-parameters.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in What Is ACRN, HLD intro
  doc/developer-guides/hld/index.rst
  doc/introduction/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in What Is ACRN, HLD intro
  doc/developer-guides/hld/index.rst
  doc/introduction/index.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: Update nuc11 partitioned document and Scenario xml
  doc/tutorials/using_partition_mode_on_nuc.rst
  misc/config_tools/data/nuc11tnbi5/partitioned.xml
Owners: @dbkinder, @deb-intel, @NanlinXie, @terryzouhao

misc: life_mngr: add config module
  misc/services/life_mngr/config.c
  misc/services/life_mngr/config.h
  misc/services/life_mngr/life_mngr.conf
Owners: @ywan170, @shuox

misc: life_mngr: add log module
  misc/services/life_mngr/log.h
Owners: @ywan170, @shuox

misc: life_mngr: add uart module
  misc/services/life_mngr/uart.c
  misc/services/life_mngr/uart.h
Owners: @ywan170, @shuox

misc: life_mngr: add monitor module
  misc/services/life_mngr/life_mngr.service.in
  misc/services/life_mngr/monitor.c
Owners: @ywan170, @shuox

misc: life_mngr: add command module
  misc/services/life_mngr/command.c
  misc/services/life_mngr/command.h
Owners: @ywan170, @shuox

misc: life_mngr: add socket moudle
  misc/services/life_mngr/socket.c
  misc/services/life_mngr/socket.h
Owners: @ywan170, @shuox

misc: life_mngr: add uart channel module
  misc/services/life_mngr/uart_channel.c
  misc/services/life_mngr/uart_channel.h
Owners: @ywan170, @shuox

misc: life_mngr: add command handler module
  misc/services/life_mngr/command_handler.c
  misc/services/life_mngr/command_handler.h
Owners: @ywan170, @shuox

misc: life_mngr: update Makefile for lifecycle manager
  misc/services/life_mngr/Makefile
  misc/services/life_mngr/life_mngr.c
Owners: @ywan170, @shuox

misc: life_mngr: refine lifecycle manager for windows VM
  misc/services/life_mngr/life_mngr_win.c
  misc/services/life_mngr/s5_trigger_win.py
Owners: @ywan170, @shuox

misc: life_mngr: add script to do user VM shutdown
  misc/services/life_mngr/user_vm_shutdown.py
Owners: @ywan170, @shuox

misc: life_mngr: refine script to trigger system shutdown request
  misc/services/life_mngr/s5_trigger.sh
  misc/services/life_mngr/s5_trigger_linux.py
Owners: @ywan170, @shuox

deb-pkg: update deb configuration to install serial.conf
  .deb.conf
Owners: @anthonyzxu, @dongyaozu

config_tools: add assert to check if the scenario is valid
  misc/config_tools/schema/checks/pre_launched_vm_support.xsd
Owners: @terryzouhao, @NanlinXie

misc:remove some check related with UUID
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @terryzouhao, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
