Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config-tools: loosen IVSHMEM_REGION restriction in schema
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

Update doc/getting-started/building-from-source.rst
  doc/getting-started/building-from-source.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update doc/tutorials/using_partition_mode_on_nuc.rst
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: create a copy of the scenario file before making modifications
  doc/tutorials/using_partition_mode_on_nuc.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config-tools: find the unused bdf based on first unused "dev"
  misc/config_tools/scenario_config/pci_dev_c.py
Owners: @terryzouhao, @NanlinXie

hv: vpci: fix msi enable issue under some cases
  hypervisor/dm/vpci/vmsi.c
Owners: @anthonyzxu, @dongyaozu

dm: align bar base addr to PAGE_SIZE at least
  devicemodel/hw/pci/core.c
Owners: @anthonyzxu, @ywan170

hv: ivshmem: BAR0 size should be 256 Bytes
  hypervisor/dm/vpci/ivshmem.c
Owners: @anthonyzxu, @dongyaozu

just test
  Makefile
  VERSION
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

hv: ivshmem: BAR0 size should be 256 Bytes
  hypervisor/dm/vpci/ivshmem.c
Owners: @anthonyzxu, @dongyaozu

dm: align bar base addr to PAGE_SIZE at least
  devicemodel/hw/pci/core.c
Owners: @anthonyzxu, @ywan170

acrn_manager: create acrnctl configuration folder when starting
  misc/services/acrn_manager/acrnctl.c
Owners: @ywan170, @shuox

Makefile: add pre-requisite before building the hypervisor
  Makefile
Owners: @terryzouhao, @NanlinXie

hv: pgtable: add pgtable_create_trusty_root
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: refine name for pgtable add/modify/del
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: remove alloc_ept_page
  hypervisor/arch/x86/guest/ept.c
  hypervisor/include/arch/x86/guest/ept.h
Owners: @anthonyzxu, @dongyaozu

hv:pgtable: rename lookup_address to pgtable_lookup_entry
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: add pgtable_create_root
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: move sanitize_pte into pagetable.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

config-tools: modify sample launch scripts delete pm para in sample launch scripts and update the comments
  misc/config_tools/data/sample_launch_scripts/nuc/launch_hard_rt_vm.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_uos.sh
Owners: @terryzouhao, @NanlinXie

DM: gvt: Identical mapping for GPU DSM refine to support EHL/TGL
  devicemodel/core/sw_load_common.c
  devicemodel/hw/pci/core.c
  devicemodel/hw/pci/passthrough.c
  devicemodel/include/pci_core.h
  devicemodel/include/pcireg.h
  devicemodel/include/sw_load.h
Owners: @anthonyzxu, @ywan170

config-tools: modify sample launch scripts
  misc/config_tools/data/sample_launch_scripts/nuc/launch_hard_rt_vm.sh
  misc/config_tools/data/sample_launch_scripts/nuc/launch_uos.sh
Owners: @terryzouhao, @NanlinXie

Makefile: automatically determine the location of 'iasl'
  Makefile
Owners: @terryzouhao, @NanlinXie

config-tools: loosen IVSHMEM_REGION restriction in schema
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

Makefile: add pre-requisite before building the hypervisor
  Makefile
Owners: @terryzouhao, @NanlinXie

hv: pgtable: remove alloc_ept_page
  hypervisor/arch/x86/guest/ept.c
  hypervisor/include/arch/x86/guest/ept.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: add pgtable_create_root
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: move sanitize_pte into pagetable.c
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: add pgtable_create_trusty_root
  hypervisor/arch/x86/guest/trusty.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv: pgtable: refine name for pgtable add/modify/del
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/mmu.h
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

hv:pgtable: rename lookup_address to pgtable_lookup_entry
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/pgtable.h
Owners: @anthonyzxu, @dongyaozu

doc: add summary of config changes and upgrading guides
  doc/release_notes/release_notes_2.4.rst
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Makefile: add missing dependencies for parallel execution of make
  hypervisor/Makefile
Owners: @anthonyzxu, @dongyaozu

Makefile: create top-level target for the ACRN life_mngr
  Makefile
Owners: @terryzouhao, @NanlinXie

tools: do not build life_mngr by default
  misc/Makefile
Owners: @terryzouhao, @NanlinXie

Makefile: add missing dependencies for parallel execution of make
  hypervisor/Makefile
Owners: @anthonyzxu, @dongyaozu

hv: add missing arch specific path for included pre_cpu.h
  hypervisor/common/sched_iorr.c
  hypervisor/common/sched_noop.c
Owners: @anthonyzxu, @dongyaozu

doc: add summary of config changes and upgrading guides
  doc/release_notes/release_notes_2.4.rst
  doc/tutorials/acrn_configuration_tool.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update v2.4 release notes
  doc/getting-started/roscube/roscube-gsg.rst
  doc/release_notes/release_notes_2.4.rst
  doc/static/acrn-custom.css
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update acpica-unix version to latest (20210105)
  doc/getting-started/building-from-source.rst
  doc/getting-started/roscube/roscube-gsg.rst
  doc/getting-started/rt_industry_ubuntu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
