Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie

config_tools: enable features for default config on tgl-rvp and ehl-crb-b
  misc/config_tools/data/ehl-crb-b/hybrid_rt.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_fusa.xml
  misc/config_tools/data/ehl-crb-b/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_1uos_waag.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_2uos.xml
  misc/config_tools/data/ehl-crb-b/industry_launch_6uos.xml
  misc/config_tools/data/ehl-crb-b/sdc_launch_1uos_zephyr.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt.xml
  misc/config_tools/data/tgl-rvp/hybrid_rt_launch_1uos_waag.xml
  misc/config_tools/data/tgl-rvp/industry.xml
  misc/config_tools/data/tgl-rvp/industry_launch_1uos_waag.xml
  misc/config_tools/data/tgl-rvp/industry_launch_2uos.xml
  misc/config_tools/data/tgl-rvp/industry_launch_6uos.xml
  misc/config_tools/data/tgl-rvp/sdc_launch_1uos_zephyr.xml
Owners: @terryzouhao, @NanlinXie

hv: hypercalls: refactor permission-checking and dispatching logic
  doc/developer-guides/hld/hld-security.rst
  doc/developer-guides/hld/hv-hypercall.rst
  hypervisor/arch/x86/guest/vmcall.c
  hypervisor/common/hypercall.c
  hypervisor/common/trusty_hypercall.c
  hypervisor/debug/hypercall.c
  hypervisor/include/common/hypercall.h
  hypervisor/release/hypercall.c
Owners: @dbkinder, @deb-intel, @NanlinXie, @anthonyzxu, @dongyaozu

config-tools: add NVMX_ENABLED feature and GUEST_FLAG_NVMX_ENABLED flag
  hypervisor/include/public/acrn_common.h
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

misc: sanity check VM config for nested virtualization
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @terryzouhao, @NanlinXie

hv: move invvpid and invept helper code from mmu.c to mmu.h
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: enable nested virtualization
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/virtual_cr.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: paging: rename ppt_set/clear_ATTR to set_paging_ATTR
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/arch/x86/vtd.c
  hypervisor/debug/npk_log.c
  hypervisor/debug/uart16550.c
  hypervisor/dm/vgpio.c
  hypervisor/hw/pci.c
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

hv: mmu: move arch specific parts into cpu.h
  hypervisor/arch/x86/vtd.c
  hypervisor/debug/uart16550.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

hv: tlb: wrap common APIs
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

config-tools: add white space between arguments
  misc/config_tools/data/generic_board/generic_code/hybrid/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/hybrid_rt/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/industry/misc_cfg.h
  misc/config_tools/data/generic_board/generic_code/logical_partition/misc_cfg.h
  misc/config_tools/xforms/misc_cfg.h.xsl
Owners: @terryzouhao, @NanlinXie

hv: some coding style fixes
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/rdt.c
  hypervisor/arch/x86/timer.c
  hypervisor/debug/profiling.c
  hypervisor/debug/shell.c
  hypervisor/dm/vpci/vhostbridge.c
Owners: @anthonyzxu, @dongyaozu

acrn-config: fix a build error
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

hv: Support WAITPKG instructions in guest VM
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/cpufeatures.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/msr.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: Support WAITPKG instructions in guest VM
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmcs.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/cpufeatures.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
  hypervisor/include/arch/x86/asm/msr.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: cache: wrap common APIs
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/trampoline.c
  hypervisor/arch/x86/vtd.c
  hypervisor/debug/dump.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

config-tools: add NVMX_ENABLED feature and GUEST_FLAG_NVMX_ENABLED flag
  hypervisor/include/public/acrn_common.h
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/config_tools/xforms/config_common.xsl
Owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie

misc: sanity check VM config for nested virtualization
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/schema/config.xsd
  misc/hv_prebuild/vm_cfg_checks.c
Owners: @terryzouhao, @NanlinXie

hv: nested: enable nested virtualization
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/arch/x86/guest/virtual_cr.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/include/arch/x86/asm/guest/vm.h
Owners: @anthonyzxu, @dongyaozu

hv: move invvpid and invept helper code from mmu.c to mmu.h
  hypervisor/arch/x86/mmu.c
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

efi-stub: restore efi-stub
  Makefile
  hypervisor/boot/include/guest/deprivilege_boot.h
  hypervisor/boot/include/guest/vboot.h
  misc/efi-stub/Makefile
  misc/efi-stub/MpService.h
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
  misc/efi-stub/clearlinux/acrn.conf
  misc/efi-stub/efilinux.h
  misc/efi-stub/malloc.c
  misc/efi-stub/multiboot.h
  misc/efi-stub/pe.c
  misc/efi-stub/stdlib.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

hv: efi-stub: Remove deprivileged mode code and call exit_boot_service in efi-stub
  hypervisor/arch/x86/boot/cpu_primary.S
  hypervisor/boot/include/guest/deprivilege_boot.h
  hypervisor/boot/include/guest/vboot.h
  misc/efi-stub/boot.c
  misc/efi-stub/boot.h
Owners: @anthonyzxu, @dongyaozu

efi-stub: add container parser
  misc/efi-stub/Makefile
  misc/efi-stub/boot.c
  misc/efi-stub/container.c
  misc/efi-stub/container.h
Owners: @terryzouhao, @NanlinXie, @anthonyzxu, @dongyaozu

efi-stub: add container boot experimental code
  misc/efi-stub/boot.c
  misc/efi-stub/container.c
  misc/efi-stub/container.h
  misc/efi-stub/multiboot.h
Owners: @anthonyzxu, @dongyaozu

config-tools: fix the regular expression of ivshmem region name
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

hv: cache: wrap common APIs
  hypervisor/arch/x86/cpu.c
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/guest/vmexit.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/trampoline.c
  hypervisor/arch/x86/vtd.c
  hypervisor/debug/dump.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

hv: tlb: wrap common APIs
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

hv: paging: rename ppt_set/clear_ATTR to set_paging_ATTR
  hypervisor/arch/x86/guest/ept.c
  hypervisor/arch/x86/ioapic.c
  hypervisor/arch/x86/mmu.c
  hypervisor/arch/x86/rtcm.c
  hypervisor/arch/x86/vtd.c
  hypervisor/debug/npk_log.c
  hypervisor/debug/uart16550.c
  hypervisor/dm/vgpio.c
  hypervisor/hw/pci.c
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

hv: mmu: move arch specific parts into cpu.h
  hypervisor/arch/x86/vtd.c
  hypervisor/debug/uart16550.c
  hypervisor/include/arch/x86/asm/cpu.h
  hypervisor/include/arch/x86/asm/mmu.h
Owners: @anthonyzxu, @dongyaozu

config-tools: fix the regular expression of ivshmem region name
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

board-inspector: reorganize the scripts
  misc/config_tools/board_inspector/README
  misc/config_tools/board_inspector/acpiparser/__init__.py
  misc/config_tools/board_inspector/acpiparser/_utils.py
  misc/config_tools/board_inspector/acpiparser/apic.py
  misc/config_tools/board_inspector/acpiparser/asf.py
  misc/config_tools/board_inspector/acpiparser/dmar.py
  misc/config_tools/board_inspector/acpiparser/facp.py
  misc/config_tools/board_inspector/acpiparser/rtct.py
  misc/config_tools/board_inspector/cli.py
  misc/config_tools/board_inspector/legacy/acpi.py
  misc/config_tools/board_inspector/legacy/board_parser.py
  misc/config_tools/board_inspector/legacy/clos.py
  misc/config_tools/board_inspector/legacy/dmar.py
  misc/config_tools/board_inspector/legacy/dmi.py
  misc/config_tools/board_inspector/legacy/misc.py
  misc/config_tools/board_inspector/legacy/parser_lib.py
  misc/config_tools/board_inspector/legacy/pci_dev.py
  misc/config_tools/board_inspector/legacy/rtct.py
  misc/config_tools/board_inspector/lib/bitfields.py
  misc/config_tools/board_inspector/lib/cdata.py
  misc/config_tools/board_inspector/lib/unpack.py
Owners: @terryzouhao, @NanlinXie

board_inspector/lib: fix compatibility issues in unpack.py
  misc/config_tools/board_inspector/lib/unpack.py
Owners: @terryzouhao, @NanlinXie

board_inspector/cpuparser: add CPUID parsers
  misc/config_tools/board_inspector/cpuparser/__init__.py
  misc/config_tools/board_inspector/cpuparser/cpuids.py
  misc/config_tools/board_inspector/cpuparser/platformbase.py
Owners: @terryzouhao, @NanlinXie

board_inspector/legacy: fix a copy destination error
  misc/config_tools/board_inspector/legacy/acpi.py
Owners: @terryzouhao, @NanlinXie

board_inspector/memmapparser: add parser of e820 memory maps
  misc/config_tools/board_inspector/memmapparser/__init__.py
  misc/config_tools/board_inspector/memmapparser/e820.py
Owners: @terryzouhao, @NanlinXie

hv: vmsr: emulate IA32_FEATURE_CONTORL MSR for nested virtualization
  hypervisor/arch/x86/guest/vmsr.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: implement the framework for VMX MSR emulation
  hypervisor/Makefile
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: setup emulated VMX MSRs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
  hypervisor/include/arch/x86/asm/vmx.h
Owners: @anthonyzxu, @dongyaozu

hv: rename some software SRAM local names
  hypervisor/arch/x86/rtcm.c
  hypervisor/include/arch/x86/asm/rtct.h
Owners: @anthonyzxu, @dongyaozu

dm: clean legacy software SRAM names
  devicemodel/core/main.c
  devicemodel/hw/platform/acpi/acpi.c
  devicemodel/hw/platform/acpi/rtct.c
  devicemodel/include/dm.h
  devicemodel/include/rtct.h
Owners: @anthonyzxu, @ywan170

board_inspector/extractors: extract cache topology and capabilities
  misc/config_tools/board_inspector/extractors/20-cache.py
Owners: @terryzouhao, @NanlinXie
