Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config-tools: assign a fixed address to log area start address
  misc/config_tools/static_allocators/gpa.py
Owners: @terryzouhao, @NanlinXie

doc: starting draft for v2.6 release notes
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: starting draft for v2.6 release notes
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update enable PTM instructions
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update enable PTM instructions
  doc/tutorials/enable_ptm.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add documentation updates to release notes
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add documentation updates to release notes
  doc/release_notes/release_notes_2.6.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

config_tools: adjust the execution order of pci_stub command
  misc/config_tools/launch_config/pt.py
Owners: @terryzouhao, @NanlinXie

hv: pci: fix a minor bug about is_pci_cfg_multifunction
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

config_tools: add pci_devs information in logical_partition.xml
  boards/adl-s-crb/partitioned.xml
  boards/master/0001-config_tools-add-adl-s-crb-and-icx-rvp-xml-files.patch
Owners: @anthonyzxu, @dongyaozu

config_tools: adjust the execution order of pci_stub command
  misc/config_tools/launch_config/pt.py
Owners: @terryzouhao, @NanlinXie

hv: pci: fix a minor bug about is_pci_cfg_multifunction
  hypervisor/include/hw/pci.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: flush L2 VPID only when it could conflict with L1 VPIDs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

doc: add VPID allocation to nested virtualization tutorial
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

misc: acrn_trace: enlarge DEV_PATH_LEN
  misc/debug_tools/acrn_trace/acrntrace.h
Owners: @ywan170, @shuox

misc: acrn_trace: enlarge DEV_PATH_LEN
  misc/debug_tools/acrn_trace/acrntrace.h
Owners: @ywan170, @shuox

doc: add VPID allocation to nested virtualization tutorial
  doc/tutorials/nvmx_virtualization.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: nested: flush L2 VPID only when it could conflict with L1 VPIDs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

doc: update documentation and grub file
  0001-doc-update-documentation-and-grub-file.patch
  doc/getting-started/getting-started.rst
Owners: @anthonyzxu, @dongyaozu, @dbkinder, @deb-intel, @NanlinXie

HV: Normalize hypervisor help output format
  hypervisor/debug/shell.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: some API signature changes
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

hv: nested: initial implementation of struct acrn_vvmcs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: remove vcpu->arch.nested.current_vmcs12_ptr
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: move the VMCS12 dirty flags to struct acrn_vvmcs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

dm: use "igd" parameter name when pass-thru IGD
  devicemodel/hw/pci/passthrough.c
Owners: @anthonyzxu, @ywan170

config_tool: use "igd" parameter name when pass-thru IGD
  misc/config_tools/data/sample_launch_scripts/nuc/launch_win.sh
  misc/config_tools/launch_config/com.py
Owners: @terryzouhao, @NanlinXie

hv: some cosmetic fixes to rdt.c/rdt.h
  hypervisor/arch/x86/rdt.c
  hypervisor/include/arch/x86/asm/rdt.h
Owners: @anthonyzxu, @dongyaozu

doc: use "igd" parameter name when pass-thru IGD
  doc/tutorials/gpu-passthru.rst
  doc/tutorials/using_windows_as_uos.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: update README for TCM meeting change
  README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: nested: move the VMCS12 dirty flags to struct acrn_vvmcs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: remove vcpu->arch.nested.current_vmcs12_ptr
  hypervisor/arch/x86/guest/nested.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: initial implementation of struct acrn_vvmcs
  hypervisor/arch/x86/guest/nested.c
  hypervisor/arch/x86/guest/vept.c
  hypervisor/include/arch/x86/asm/guest/nested.h
Owners: @anthonyzxu, @dongyaozu

hv: nested: some API signature changes
  hypervisor/arch/x86/guest/nested.c
Owners: @anthonyzxu, @dongyaozu

HV: Normalize hypervisor help output format
  hypervisor/debug/shell.c
Owners: @anthonyzxu, @dongyaozu

hv: fix bugs in RDT's CDP code
  hypervisor/arch/x86/rdt.c
Owners: @anthonyzxu, @dongyaozu

add vmx capability check
  hypervisor/arch/x86/cpu_caps.c
Owners: @anthonyzxu, @dongyaozu

hv: fix bugs in RDT's CDP code
  hypervisor/arch/x86/rdt.c
Owners: @anthonyzxu, @dongyaozu

hv: some cosmetic fixes to rdt.c/rdt.h
  hypervisor/arch/x86/rdt.c
  hypervisor/include/arch/x86/asm/rdt.h
Owners: @anthonyzxu, @dongyaozu

hv: irq: identical vector mapping if LAPIC passthough
  hypervisor/arch/x86/guest/assign.c
Owners: @anthonyzxu, @dongyaozu

hv: vioapic: update remote IRR for lapic-pt
  hypervisor/dm/vioapic.c
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
