Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @terryzouhao, @NanlinXie, @ywan170, @dbkinder, @deb-intel, @chengangc, @dizhang417, @shuox

config_tools : update adl-s-crb scenario file update adl-s-crb scenario file Signed-off-by: zhongzhenx.liu <zhongzhenx.liu@intel.com>
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

config-tools: allow to configure guest flag for post-launched VM
  misc/config_tools/xforms/vm_configurations.c.xsl
Owners: @terryzouhao, @NanlinXie

doc: terminology cleanup in hv-vt-d.rst
  doc/developer-guides/hld/hv-vt-d.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Replace ACRNSOS with ServiceVM in commands
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: switch to use google tag manager
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: switch to use google tag manager
  doc/conf.py
Owners: @dbkinder, @deb-intel, @NanlinXie

Remove prompts in commands
  doc/tutorials/using_grub.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/tutorials/acrn_on_qemu.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Update dates
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

hv: vCAT: initialize vCAT MSRs during vmcs init
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/rdt.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/rdt.h
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: implementing the vCAT MSRs write handler
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
Owners: @anthonyzxu, @dongyaozu

hv: rename some C preprocessor macros
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: implementing the vCAT MSRs read handlers
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: propagate vCBM to other vCPUs that share cache with vcpu
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: expose CAT capabilities to vCAT-enabled VM
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
Owners: @anthonyzxu, @dongyaozu

config-tools: allow to use polling mode for legacy vuart
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/static_allocators/intx.py
Owners: @terryzouhao, @NanlinXie

Revert "config_tools : update adl-s-crb scenario file"
  boards/adl-s-crb/shared_launch_2uos.xml
  boards/adl-s-crb/shared_launch_6uos.xml
Owners: @anthonyzxu, @dongyaozu

config-tools: allow to use polling mode for legacy vuart
  misc/config_tools/library/scenario_cfg_lib.py
  misc/config_tools/schema/VMtypes.xsd
  misc/config_tools/static_allocators/intx.py
Owners: @terryzouhao, @NanlinXie

config_tools: update icx-rvp and icx-d-hcc and adl-s-crb board file
  boards/adl-s-crb/adl-s-crb.xml
  boards/adl-s-crb/hybrid_rt.xml
  boards/adl-s-crb/partitioned.xml
  boards/icx-d-hcc/icx-d-hcc.xml
  boards/icx-rvp/icx-rvp.xml
  boards/icx-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

config_toolsi: update adl-s-rvp scenario xml
  boards/adl-s-crb/partitioned.xml
  boards/icx-rvp/shared.xml
Owners: @anthonyzxu, @dongyaozu

doc: correct range of values for the LOGLEVELs
  misc/config_tools/schema/types.xsd
Owners: @terryzouhao, @NanlinXie

config_tools: improve logging readability for the board inspector
  misc/config_tools/board_inspector/legacy/parser_lib.py
Owners: @terryzouhao, @NanlinXie

hv: vCAT: implementing the vCAT MSRs read handlers
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: initialize vCAT MSRs during vmcs init
  hypervisor/Makefile
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vm.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/arch/x86/rdt.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
  hypervisor/include/arch/x86/asm/guest/vm.h
  hypervisor/include/arch/x86/asm/rdt.h
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: implementing the vCAT MSRs write handler
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: expose CAT capabilities to vCAT-enabled VM
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/arch/x86/guest/vcpuid.c
  hypervisor/include/arch/x86/asm/guest/vcat.h
Owners: @anthonyzxu, @dongyaozu

hv: vCAT: propagate vCBM to other vCPUs that share cache with vcpu
  hypervisor/arch/x86/guest/vcat.c
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

hv: rename some C preprocessor macros
  hypervisor/arch/x86/guest/vcpu.c
  hypervisor/arch/x86/guest/vmsr.c
  hypervisor/include/arch/x86/asm/guest/vcpu.h
Owners: @anthonyzxu, @dongyaozu

config_tools: always initialize hw_ignore when parsing DMAR
  misc/config_tools/board_inspector/legacy/dmar.py
Owners: @terryzouhao, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hv-vt-d.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add top-level redirect
  doc/Makefile
  doc/scripts/publish-index.html
  doc/scripts/publish-redirect.sh
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: add top-level redirect
  doc/Makefile
  doc/scripts/publish-index.html
  doc/scripts/publish-redirect.sh
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_crashlog/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  doc/developer-guides/hld/hv-vt-d.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in hv-vt-d.rst
  doc/developer-guides/hld/hv-vt-d.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

doc: terminology cleanup in crashlog readme
  misc/debug_tools/acrn_crashlog/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_crashlog/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_crashlog/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated per feedback
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

Updated commands per feedback
  misc/debug_tools/acrn_trace/README.rst
Owners: @dbkinder, @deb-intel, @NanlinXie

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @terryzouhao @NanlinXie
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/debug_tools/acrn_crashlog/         @chengangc @dizhang417
/misc/debug_tools/acrn_log/              @ywan170 @shuox
/misc/debug_tools/acrn_trace/            @ywan170 @shuox
/misc/services/acrn_manager/             @ywan170 @shuox
/misc/services/acrn_bridge/              @ywan170 @shuox
/misc/services/life_mngr/                @ywan170 @shuox
/misc/config_tools/                      @terryzouhao @NanlinXie
/misc/Makefile                           @terryzouhao @NanlinXie
/misc/packaging/                         @terryzouhao @NanlinXie
/misc/hv_prebuild/                       @terryzouhao @NanlinXie

*.rst                                    @dbkinder @deb-intel @NanlinXie
