Repository projectacrn/acrn-hypervisor, changes with the owners that CODEOWNERS names for each.
All owners: @anthonyzxu, @dongyaozu, @binbinwu1, @ywan170, @dbkinder, @deb-intel, @NanlinXie, @chengangc, @dizhang417, @lyan3, @jren1

acrn-config: alloc vuart1 irq when pttyS1 not exist only
  misc/acrn-config/library/board_cfg_lib.py
Owners: @binbinwu1

acrn-config: Cx desc parsing enhancement
  misc/acrn-config/target/acpi.py
Owners: @binbinwu1

acrn-config: by-pass acpi_idle/acpi_cpufreq for parsing target board
  misc/acrn-config/board_config/board_c.py
  misc/acrn-config/target/acpi.py
  misc/acrn-config/target/parser_lib.py
Owners: @binbinwu1

Makefile: pass BOARD/SCENARIO FILE to make hv
  Makefile
Owners: @binbinwu1

Makefile: board specific acpi info header clean up
  hypervisor/Makefile
Owners: @anthonyzxu, @dongyaozu

Makefile: move .mk file to hv scripts folder
  Makefile
  hypervisor/Makefile
  hypervisor/scripts/makefile/cfg_update.mk
  hypervisor/scripts/makefile/deps.mk
  hypervisor/scripts/makefile/kconfig.mk
Owners: @binbinwu1, @anthonyzxu, @dongyaozu

hv: fix error debug message in hcall_set_callback_vector
  hypervisor/common/hypercall.c
Owners: @anthonyzxu, @dongyaozu

dm: reduce potential crash caused by LIST_FOREACH
  devicemodel/hw/pci/gsi_sharing.c
  devicemodel/hw/pci/virtio/virtio_mei.c
Owners: @anthonyzxu, @ywan170

dm: modify DIR handler reference postion
  devicemodel/hw/pci/npk.c
Owners: @anthonyzxu, @ywan170

dm: close filepointer before exiting acrn_load_elf()
  devicemodel/core/sw_load_elf.c
Owners: @anthonyzxu, @ywan170

dm: fix mutex lock issue in tpm_rbc.c
  devicemodel/hw/platform/tpm/tpm_crb.c
Owners: @anthonyzxu, @ywan170

dm: refine the check of return value of snprintf
  devicemodel/hw/pci/ahci.c
  devicemodel/hw/pci/npk.c
  devicemodel/hw/pci/virtio/virtio_block.c
Owners: @anthonyzxu, @ywan170

vm-manager: fix improper return value check for "strtol()"
  tools/acrn-manager/acrn_vm_ops.c
Owners: @anthonyzxu, @dongyaozu

tools: acrn-crashlog: refine crash complete code
  tools/acrn-crashlog/usercrash/server.c
Owners: @anthonyzxu, @dongyaozu

acrn-hv: code review fix lib/string.c
  hypervisor/lib/string.c
Owners: @anthonyzxu, @dongyaozu

acrn-config: Cx desc parsing enhancement
  misc/acrn-config/target/acpi.py
Owners: @binbinwu1

acrn-config: by-pass acpi_idle/acpi_cpufreq for parsing target board
  misc/acrn-config/board_config/board_c.py
  misc/acrn-config/target/acpi.py
  misc/acrn-config/target/parser_lib.py
Owners: @binbinwu1

acrn-config: alloc vuart1 irq when pttyS1 not exist only
  misc/acrn-config/library/board_cfg_lib.py
Owners: @binbinwu1

DM: samples: Correct parameter of intel_pstate
  devicemodel/samples/nuc/launch_hard_rt_vm.sh
Owners: @anthonyzxu, @ywan170

DM: samples: Correct parameter of intel_pstate
  devicemodel/samples/nuc/launch_hard_rt_vm.sh
Owners: @anthonyzxu, @ywan170

hv: ept: disable execute right on large pages
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: ept: disable execute right on large pages
  hypervisor/arch/x86/guest/vmx_io.c
  hypervisor/arch/x86/page.c
  hypervisor/arch/x86/pagetable.c
  hypervisor/include/arch/x86/page.h
Owners: @anthonyzxu, @dongyaozu

hv: Fix the definition of struct representing interrupt hw frame
  hypervisor/debug/dump.c
  hypervisor/include/arch/x86/irq.h
Owners: @anthonyzxu, @dongyaozu

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

Makefile                                 @binbinwu1
/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/tools/acrn-crashlog/               @chengangc @dizhang417 
/misc/tools/acrnlog/                     @lyan3
/misc/tools/acrntrace/                   @lyan3
/misc/acrn-manager/                      @lyan3
/misc/acrnbridge/                        @lyan3
/misc/acrn-config/                       @binbinwu1
/misc/Makefile                           @binbinwu1
/misc/efi-stub/                          @jren1

*.rst                                    @dbkinder @deb-intel @NanlinXie
